* {
  margin: 0%;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: rgb(0, 0, 0);
}

.cardFormulario {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.card {
  border-radius: 10px;
  font-size: 20px;
}
.card-title {
  font-size: 5px;
  padding: 10px;
  text-align: center;
  top: 10px;
  color: rgb(0, 0, 0);
}
.card-imagenUniversidad {
  width: 50px;
  height: 50px;
}

.hey {
  position: absolute;
  top: 10px;
  font-size: 600px;
  left: 100px;
}

.hipervinculo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: none;
}

.boton {
  border: 0px;
  border-radius: 5px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 10px;
  width: 355px;
}

h1 {
  color: rgb(107, 58, 58);
}

h2 {
  color: blueviolet;
}

h4 {
  color: white !important;
}

h4 {
  color: rgb(0, 0, 0) !important;
}

#linkVC {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.fondoRegistro {
  background-color: black;
}

#crearUsuariolabel {
  font-weight: bold;
}

.registro {
  background-color: rgb(0, 0, 0);
  height: 100%;
}
.registro-cardRegistro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.registro-cardRegistro-sectionAR {
  display: flex;
  justify-content: center;
}
.registro-cardRegistro-sectionAR-infoRegistro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 830px !important;
  height: 450px !important;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  opacity: 1;
}
.registro-cardRegistro-sectionAR-infoRegistro-formRegistro {
  height: 300px;
  display: flex;
  flex-direction: column;
}
.registro-cardRegistro-sectionAR-infoRegistro-alertRegistro {
  height: 200px;
  margin-top: 20px !important;
}
.registro-cardRegistro-sectionAR-infoRegistro-alertRegistro-containerBotonCrear {
  display: flex;
  flex-direction: row;
}
.registro-cardRegistro-sectionAR-infoRegistro-alertRegistro-containerBotonCrear-sectionAlerta {
  top: 0%;
  width: 550px;
  height: 90px;
}
.registro-cardRegistro-sectionAR-infoRegistro-alertRegistro-containerBotonCrear-sectionAlerta-alert {
  display: flex;
  width: 500px !important;
}
.registro-cardRegistro-sectionAR-infoRegistro-alertRegistro-containerBotonCrear-sectionAlerta-alert-alerta {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 500px;
  font-size: 15px;
}
.registro-cardRegistro-sectionAR-infoRegistro-alertRegistro-containerBotonCrear-sectionBoton {
  width: 230px;
  height: 80px;
  margin-top: 20px;
}
.registro-cardRegistro-sectionAR-infoRegistro-alertRegistro-containerBotonCrear-sectionBoton-botonsito {
  display: flex;
  justify-content: end;
}
.registro-cardRegistro-sectionAR-infoRegistro-alertRegistro-containerBotonCrear-sectionBoton-botonsito-botonCrearUsuario {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 15px;
  border: 0px;
  width: 240px;
  padding: 5px;
  font-size: 20px;
}
.registro-cardRegistro-sectionAR-infoRegistro-alertRegistro-containerBotonCrear-sectionBoton-botonsito-botonCrearUsuario:hover {
  background: rgb(31, 29, 29);
  color: rgb(255, 255, 255);
}
.registro-cardRegistro-sectionABR {
  display: flex;
  justify-content: center;
}
.registro-cardRegistro-sectionABR-cardInfo {
  display: flex;
  justify-content: center;
  width: 830px;
  height: 70px;
  border-radius: 10px;
  opacity: 1;
  margin-right: 5px;
}
.registro-cardRegistro-sectionABR-cardInfo-cajitaInfo-botones {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.registro-cardRegistro-sectionABR-cardInfo-cajitaInfo-botones-linkCard {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0) !important;
  border: 0px;
  width: 220px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
}
.registro-cardRegistro-sectionABR-cardInfo-cajitaInfo-botones-linkCard:hover {
  background: rgb(228, 222, 222);
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 500px) {
  h4 {
    font-size: 15px;
  }
  .card {
    width: 320;
    border-radius: 10px;
    font-size: 20px;
  }
  .card-title {
    font-size: 5px;
    padding: 10px;
    text-align: center;
    top: 10px;
    color: rgb(0, 0, 0);
  }
  .card-imagenUniversidad {
    width: 50px;
    height: 50px;
  }
  .boton {
    border: 0px;
    border-radius: 5px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 5px;
    width: 285px;
  }
}

/*# sourceMappingURL=styleRegistro.css.map */
