*{
    box-sizing: border-box;
    padding: 0px;
}


.tituloUsuario{
    font-size: 20px !important;
    margin-right: 40px;
}


#thPequenios{
    text-align: center;
    width: 20px;
}

#proyecto{
    text-align: center;
    width: 160px;
}

#nombreCompleto{
    width: 180px;
    text-align: center;
}

#codeStudente{
    text-align: center;
    width: 130px; 
}

#email{ 
    text-align: center;
}



/*CONSULTAR TODO BICICLETA CTB DESDE CELADOR Y ADMIN*/

.fotoConsultar{
    width: 25px !important;
    height: 25px !important;
}

#fotoUsuarioCTB{
    width: 25px !important;
    height: 25px !important;
    border-radius: 50px !important;
}
 
#iconosCTB{
    text-decoration: none !important;
    margin-right: 4px;
}

#nameUser{
    width: 180px;
}

.estadoUsuario{
    width: 30px;
}
#estado{
    text-align: center;
    width: 50px;
}

#services{
    text-align: center;
    width: 100px;
}

#strPO{
    width: 20px;
}

#codeStudent{
    text-align: center;
    width: 150px;
}

#nameUser{
    width: 500px;
}

#holaaa{
    overflow-y: scroll;
}

.tituloConsulta{
    margin-top: 40px;
}

.codigoUsuario{
    width: 130px;
}

#captionRegistros{ 
    color: white;
    font-size: 13px;
    margin-left: 20px;
}






/*CONSULTAR USUARIO Y CELADOR DESDE ADMIN*/
.sectionDobleConsultarCU{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding-left: 150px !important;
    &-consulta{
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        &-info{
            display: flex;
            flex-direction: row;
            justify-content: center !important;
            align-items: center !important;
            width: 1100px;
            height: 480px;
            border-radius: 10px;
            background-color: rgb(0, 0, 0);
            &-arca{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column; 
                &-arriba{   
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: rgb(0, 0, 0);
                    width: 240px;
                    height: 40px;
                } 
                &-mitad{
                    display: flex;
                    justify-content: center !important;
                    align-items: center !important;
                    background-color: rgb(0, 0, 0);
                    width: 1100px;
                    height: 340px;
                    margin-bottom: 30px;    
                    &-tabla{
                        display: flex;
                        flex-direction: column;
                        width: 1100px; 
                    }
                }
                &-abajo{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: rgb(0, 0, 0);
                    width: 700px;
                    height: 50px;
                } 
            }
        }
        &-infoVolver{
            display: flex;
            justify-content: start;
            width: 1100px;
            height: 70px;
            &-botones{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                &-linkCard{    
                    background: rgb(0, 0, 0);
                    color: rgb(255, 255, 255) !important;
                    border: 0px;
                    width: 220px; 
                    height: 50px !important;
                    padding: 10px;
                    text-align: center;
                    border-radius: 20px;
                    text-decoration: none;
                    font-size: 20px;
                    margin-right: 10px;
                    &:hover{
                        background: rgb(99, 96, 96);
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
    }
}

.page-link{
    background-color: rgb(255, 255, 255) !important;
    border-color: black !important;
    &:hover{
        background-color: rgb(101, 96, 96) !important;
    }
}
/*CONSULTAR USUARIO Y CELADOR DESDE ADMIN*/








