*{
    margin: 0%;
    box-sizing: border-box;
}

$colorBotonVolver : rgb(31, 29, 29);


.titulosAdmin{
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-left: 100px;
    margin-top: 50px;    
}

.containerTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    background-color: black;
    width: 700px;
    &-titleAdmin{
        font-size: 20px !important;
        color: rgb(255, 255, 255) !important;
    }
}

.perfilAdmin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 100px;
    &-imagen{
        height: 100vh;
        width: 50vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000000;
        box-shadow: 0px 3px 16px #0000007b;
        border-radius: 25px;
        opacity: 1;
        width: 350px;
        height: 350px;
        margin-right: 5px;
    }
    &-cardPerfiles{
        display: flex;
        justify-content: center;
        background-color: #000000;
        box-shadow: 0px 3px 16px #0000007b;
        border-radius: 25px;
        opacity: 1;
        width: 350px;
        height: 350px;
        &-containerPerfilUsuario{
            display: flex;
            flex-direction: column;
            justify-content: center;
            &-nombreTitulo{
                text-align: center;
                color: white;

            }
            &-infoUsuario{
                display: flex;
                flex-direction: column;
                text-align: center;
                color: white;
            }
            &-botonCard{
                display: flex;
                justify-content: center;
                &-linkCard{ 
                    bottom: 10px;
                    background: rgb(255, 255, 255);
                    color: rgb(0, 0, 0) !important;
                    border: 0px;
                    width: 220px; 
                    padding: 10px;
                    text-align: center;
                    border-radius: 10px;
                    text-decoration: none;
                    &:hover{
                        background: rgb(206, 203, 203);
                        color: rgb(0, 0, 0);
                    }
                }
            }
        }
    }
}

.sectionActualizarAdmin{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    &-arriba{
        display: flex;
        justify-content: center;
        &-actualizar{
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 870px !important;
            height: 180px !important;
            padding: 20px;
            background-color: #000000;
            box-shadow: 0 15px 25px rgba(0,0,0,.6);
            border-radius: 10px;
            opacity: 1;
            &-sectionForm{
                margin-top: 10px;
                height: 100px;
                width: 830px;
                display: flex;
                flex-direction: column;
                &-label{
                    color: white;
                    margin-bottom: 10px !important;
                }
                &-fecha{
                    color: white;
                    &-divFecha{
                        display: flex;
                        flex-direction: row;
                    }
                }
                &-id{
                    color: white;
                }
            }
            &-sectionButtonAlert{
                height: 60px !important;
                width: 830px !important;
                &-containerBotonCrear{
                    display: flex;
                    flex-direction: row;
                    &-sectionAlerta{
                        width: 550px;
                        height: 40px;
                        &-alert{ 
                            display: flex;
                            height: 40px;
                            width: 450px !important;
                            &-alerta{
                                display: flex;
                                text-align: center;
                                justify-content: center;
                                width: 700px; 
                                height: 50px !important;
                                font-size: 15px;
                            }
                        } 
                    }
                    &-sectionBoton{
                        width: 280px;
                        height: 60px;
                        &-botonsito{
                            display: flex;
                            justify-content: end;
                            &-botonCrearUsuario{
                                color: rgb(0, 0, 0);
                                border-radius: 15px;
                                border: 0px;
                                width: 240px; 
                                padding: 5px;
                                font-size: 20px;
                                &:hover{
                                    background: rgb(206, 203, 203);
                                    color: rgb(0, 0, 0);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &-abajo{
        display: flex;
        justify-content: center;
        &-cardInfo{
            display: flex;
            justify-content: start;
            width: 870px !important;
            height: 70px;
            border-radius: 10px;
            opacity: 1;
            margin-right: 5px;
            &-cajitaInfo{
                &-botones{
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    &-linkCard{    
                        background: rgb(0, 0, 0);
                        color: rgb(255, 255, 255) !important;
                        border: 0px;
                        width: 220px; 
                        padding: 10px;
                        text-align: center;
                        border-radius: 20px;
                        text-decoration: none; 
                        font-size: 20px;
                        &:hover{
                            background: $colorBotonVolver;
                            color: rgb(255, 255, 255);
                        }
                    }
                }
            }
        }
    }  
}

.AdminFotoActualizar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-cFA{
        width: 800px;
        height: 450px;
        &-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 800px;
            height: 450px !important;
            margin-left: 50px;
            border-radius: 10px;
            background-color: #b63030;
            &-arriba{
                width: 600px;
                height: 350px;
                &-foto{
                    width: 600px !important;
                    height: 350px !important;
                    border-radius: 10px !important;
                }
            }
            &-abajo{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 500px;
                height: 100px;
                &-formArriba{
                    width: 500px;
                    height: 50px;
                }
                &-formAbajo{
                    display: flex;
                    flex-direction: row;
                    width: 500px;
                    height: 50px;
                    &-izq{
                        width: 250px;
                        height: 50px;
                        margin-left: 10px;
                        &-btn{
                            background-color: white;
                            width: 100px;
                            height: 40px;
                            border: 0px;
                            border-radius: 10px;
                            &:hover{
                                background-color: #242323;
                                color: white;
                            }
                        }
                    }
                    &-der{
                        width: 250px;
                        height: 40px;
                        &-alertaFo{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 150px;
                            height: 40px;
                        }
                    }
                }
    
            }
        }
    }
    &-botonInfo{
        width: 700px;
        height: 60px;
        &-bCI{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            &-botones{ 
                display: flex;
                align-items: center;
                justify-content: start;
                width: 900px;
                height: 60px !important;
                border-radius: 10px;
                opacity: 1;
                &-linkCard{    
                    background: rgb(0, 0, 0);
                    color: rgb(255, 255, 255) !important;
                    border: 0px;
                    width: 220px; 
                    height: 40px !important;
                    padding: 8px;
                    text-align: center;
                    border-radius: 20px;
                    text-decoration: none;
                    font-size: 18px;
                    margin-right: 8px;
                    &:hover{
                        background: rgb(99, 96, 96);
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
    }
}

/*ELEGIR OPCION REPORTES*/
//se usa en otro.php
//se usa en elegirOpcionesReportes.php
.containerEOPAdmin{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 180px !important;
    &-infoEOP{
        display: flex;
        width: 1100px !important;
        flex-wrap: wrap;
        margin-top: 10px;
        &-elegirP{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: #000000 !important;
            box-shadow: 0px 3px 16px #0000007b;
            border-radius: 25px !important;
            opacity: 1;
            width: 220px;
            height: 130px;
            margin-right: 20px; 
            margin-bottom: 20px;
            &:hover{
                display: flex;
                justify-content: center;
                align-items: center;
                background: #050505 !important;
                box-shadow: 0px 3px 16px #000000dc;
                opacity: 1;
            }
        }
    }
}

#noSub{
    text-decoration: none !important;
    color: #ffffff;
}
//se usa en otro.php
//se usa en elegirOpcionesReportes.php
/*ELEGIR OPCION REPORTES*/





/*HISTORIAL PARQUEADERO*/
//se usa en historialParqueadero.php
.sectionHistorialAdmin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 160px !important;
    &-arriba{
        display: flex;
        flex-direction: column;
        background-color: rgb(0, 0, 0); 
        width: 1000px;
        height: 130px;
        border-radius: 20px;
        margin-bottom: 5px;
        &-sectionFechas{
            display: flex;
            flex-direction: row;
            padding: 10px;
            width: 1000px !important;
            height: 70px !important;
            &-izquierda{
                margin-left: 15px;
                width: 350px !important;
                &-elegirFecha{
                    display: flex;
                    flex-direction: row;
                    &-label{
                        color: white;
                        height: 35px;
                        margin-top: 10px;
                        margin-right: 10px;
                        text-align: center;
                        width: 150px;
                    }
                    &-fecha{
                        width: 190px;
                        height: 35px;
                        border-radius: 5px;
                        margin-right: 5px !important;
                        margin-top: 4px;
                    }
                }
            }
            &-derecha{
                display: flex;
                flex-direction: row;
                width: 550px !important;
                margin-left: 10px;
                &-fila{
                    display: flex;
                    flex-direction: row;
                    width: 280px;
                    margin-right: 5px;
                    &-label{
                        width: 190px;
                        color: rgb(255, 255, 255);
                        margin-right: 10px;
                        padding-top: 8px;
                        text-align: center;
                    }
                    &-divFecha{
                        display: flex;
                        flex-direction: row;  
                        width: 300px !important; 
                        height: 20px !important; 
                    }
                }
                
            }
        }
        &-sectionBotones{
            display: flex;
            flex-direction: row;
            width: 1000px !important;
            padding-bottom: 10px;
            &-sectionIzq{
                width: 700px;
                height: 50px;
                padding-left: 50px;
                &-sectionAction{
                    display: flex;
                    &-labelBuscar{
                        text-align: center;
                        align-items: center;
                        justify-content: center;
                        margin-top: 5px;
                        width: 150px;
                        font-size: 16px;
                        color: #ffffff;
                        font-weight: bold;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                    &-divBuscar{
                        align-items: center;
                        justify-content: center;
                        width: 200px;
                        height: 40px !important;
                        margin-right: 10px;
                    }
    
                    &-bt{
                        display: flex;
                        flex-direction: row;
                        width: 230px;
                        height: 80px;
                        &-linkCard{
                            background: rgb(255, 255, 255);
                            color: rgb(0, 0, 0) !important;
                            border: 0px;
                            width: 220px; 
                            height: 40px !important;
                            padding: 8px;
                            text-align: center;
                            border-radius: 20px;
                            text-decoration: none;
                            font-size: 18px;
                            margin-right: 8px;
                            &:hover{
                                background: rgb(206, 201, 201);
                                color: rgb(255, 255, 255);
                            } 
                        }
                    }
                }
            }
            &-sectionDer{
                width: 300px;
                &-botoon{
                    background: rgb(255, 255, 255);
                    color: rgb(0, 0, 0) !important;
                    border: 0px;
                    width: 220px; 
                    height: 40px !important;
                    padding: 8px;
                    text-align: center;
                    border-radius: 20px;
                    text-decoration: none;
                    font-size: 18px;
                    margin-right: 8px;
                    &:hover{
                        background: rgb(206, 201, 201);
                        color: rgb(255, 255, 255);
                    } 
                }
            }
            
        }
    }    
    &-cardInfo{
        background-color: rgb(0, 0, 0);
        width: 1000px;
        height: 320px !important;
        border-radius: 20px;
        margin-bottom: 5px;
        &-mitad{
            max-width: 100% !important;
            &-tablaAjaxH{
                width: 100% !important;
                height: 98% !important;
                display: block;
                position: relative;
                overflow: auto;
                padding: 10px;
                &-heyAjax{
                    width: 100% !important;
                    margin-top: 10px;
                    position: relative;
                    &-theadAjax{
                        border-radius: 10px !important;
                        &-trAjax{
                            width: 1000px !important;
                        }
                    }
                    &-tbAjaxCelador{
                        background-color: #0d0d0d;
                    }
                    
                    
                }
            }
        }
    }
    &-buttonBack{
        width: 1000px;
        height: 60px;
        border-radius: 20px;
        &-botonn{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            &-botoness{
                display: flex;
                align-items: center;
                justify-content: start;
                width: 1000px;
                height: 60px !important;
                border-radius: 10px;
                opacity: 1;
                margin-right: 5px;
                &-linkCardd{    
                    background: rgb(0, 0, 0);
                    color: rgb(255, 255, 255) !important;
                    border: 0px;
                    width: 220px; 
                    height: 40px !important;
                    padding: 8px;
                    text-align: center;
                    border-radius: 20px;
                    text-decoration: none;
                    font-size: 18px;
                    margin-right: 8px;
                    &:hover{
                        background: $colorBotonVolver;
                        color: rgb(255, 255, 255);
                    } 
                }
            }
        }
    }
}


#tableFixed{
    display: block;
    position: relative;
    max-height: 100%;
    width: 980px !important;
    overflow: auto;
    align-items: center;
    margin-left: 15px;
}
thead{
    background-color: white;
    width: 980px !important;
}
td{
    color: rgb(255, 255, 255);
    font-size: 15px;
}

/*ESTILOS CALENDARIO*/
.day{
    color: black;
}

.month{
    color: black;
}

.year{
    color: black;
}

.decade{
    color: black;
}

.century{
    color: black;
}

.old{
    
    color: black;
}
.fa-calendar{
    height: 25px;
}
//se usa en historialParqueadero.php
/*HISTORIAL PARQUEADERO*/





.containerParqueaderoAdmin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 160px !important;
    &-infoEP{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        &-elegirP{
            display: flex;
            justify-content: center;
            align-items: center;
            background: #000000 !important;
            box-shadow: 0px 3px 16px #0000007b;
            border-radius: 25px !important;
            opacity: 1;
            width: 400px;
            height: 300px;
            margin-right: 50px;
            &-sectionArriba{
                height: 70vh;
                width: 100vw;
                &-foto{
                    position: absolute;
                }
            }
            &-sectionAbajo{
                height: 30vh;
                width: 100vw;
            }
            
            &:hover{
                display: flex;
                justify-content: center;
                align-items: center;
                background: #0a0a0a !important;
                box-shadow: 0px 3px 16px #000000dc;
                opacity: 1;
                width: 405px;
                height: 305px;
            }
            
        }
    }
}





/*REPORTES*/
//se usa en reporteEdades.php
.sectionReportesAdmin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 100px !important;
    &-tituloReportes{
        color: black;
        font-size: 18px;
    }
    &-cardReportes{
        background-color: rgb(0, 0, 0);
        width: 1000px;
        height: 420px !important;
        border-radius: 20px;
        &-sectionEstadisticas{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 800px;
            height: 350px !important;
            background-color: rgb(255, 255, 255);
            margin-left: 100px;
            margin-top: 30px;
        }
    }
    &-arriba{
        display: flex;
        justify-content: center;
        &-cardArriba{
            display: flex;
            flex-direction: row;
            width: 1000px !important;
            height: 50px !important;
            border-radius: 10px;
            background-color: rgb(0, 0, 0);
            &-select{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 5px;
                margin-left: 50px;
                width: 500px;
                height: 40px;
                &-label{
                    width: 170px;
                    color: white;
                }
                &-selectw{
                    width: 270px;
                    border-radius: 10px;
                    padding: 5px;
                }
            }
            &-button{
                width: 200px;
                height: 40px;
                margin-top: 5px;
                margin-left: 50px;
                &-botones{
                    display: flex;
                    flex-direction: row;
                    &-linkCard{    
                        background: rgb(255, 255, 255);
                        color: rgb(0, 0, 0) !important;
                        border: 0px;
                        width: 220px; 
                        padding: 5px;
                        text-align: center;
                        border-radius: 20px;
                        text-decoration: none; 
                        font-size: 20px;
                        &:hover{
                            background: rgb(204, 200, 200);
                            color: rgb(0, 0, 0);
                        }
                    }
                }
            }
        }
    }
    &-abajo{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        &-cardAbajo{
            width: 1000px !important;
            height: 360px !important;
            border-radius: 10px;
            background-color: rgb(0, 0, 0);
            &-reporte{
                background-color: rgb(0, 0, 0);
                width: 1000px;
                height: 330px !important;
                border-radius: 20px;
                &-sectionEstadisticas{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 800px;
                    height: 350px !important;
                    margin-left: 100px;
                }
            }
        }
    }
    &-cardVolver{
        display: flex;
        justify-content: center;
        &-cardInfo{
            display: flex;
            justify-content: start;
            width: 1000px;
            height: 70px;
            border-radius: 10px;
            margin-right: 5px;
            &-cajitaInfo{
                &-botones{
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    &-linkCard{    
                        background: rgb(0, 0, 0);
                        color: rgb(255, 255, 255) !important;
                        border: 0px;
                        width: 220px; 
                        padding: 10px;
                        text-align: center;
                        border-radius: 20px;
                        text-decoration: none; 
                        font-size: 20px;
                        &:hover{
                            background: $colorBotonVolver;
                            color: rgb(255, 255, 255);
                        }
                    }
                }
            }
        }
    }
}
//se usa en reporteEdades.php
/*REPORTES*/



/*SESIÓN CELADOR
se usa en sesionCelador.php*/

.containerSC{
    display: flex;
    justify-content: center;
    align-items: center;
    &-cardSC{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 800px;
        height: 400px;
        background-color: rgb(0, 0, 0);
        border-radius: 20px;
        margin-left: 100px;
        margin-top: 10px;
        padding: 25px;
        &-SC{
            width: 700px;
            height: 50px;
            color: white;
            font-size: 20px;
            text-align: center;
        }
        &-parrafoSC{
            width: 700px;
            height: 300px;
            color: white;
            align-items: center;
            font-size: 20px;
        }
        &-fechaSC{
            text-align: center;
            width: 500px;
            height: 40px;
            background-color: rgb(255, 255, 255);
            border-radius: 20px;
        }
    }
}

/* se usa en sesionCelador.php
SESIÓN CELADOR*/



/*footer*/
.footerTituloo{
    align-items: center;
    text-align: center;
    height: 30px;
    line-height:30px;
    background:black;
    color:white;
    text-align:center;
    position:absolute;
    bottom:0px;
    left:0;
    width:100%;
}
#pieo{
    font-size: 13px;
    color: rgb(255, 255, 255);
}
.headerTituloo{
    display: flex;
    justify-content: end;
    height: 30px;
    line-height:30px;
    background:black;
    color:white;
    position:absolute;
    top:0px;
    left:0;
    width:100%;
}
#cabeceraHeadero{
    font-size: 13px;
    color: rgb(255, 255, 255);
    padding-right: 10px !important;
}
/*footer*/




/*

@mixin screenTamanio {
    .mostrarTexto::before {
        font-weight: bold;
        color: navy;
        content: "VUELVA AL TAMAÑO NORMAL DE SU ORDENADOR PARA VISUALIZAR MEJOR EL CONTENIDO";
    };
}

.mostrarTextoo{
    display: flex;
    justify-content: center;
    align-items: center;
    &-titulo::before{
        font-weight: bold;
        text-align: center;
        color: navy;
        content: "VUELVA AL TAMAÑO NORMAL DE SU ORDENADOR PARA VISUALIZAR MEJOR EL CONTENIDO";
    }
}

*/


/*RESPONSIVE*/
@media only screen and (max-height: 600px) and (min-height: 0px) {
    .titulosAdmin{
        display: none;
    }
    .perfilAdmin{ 
        display: none;
    }
    .sectionActualizarAdmin{ 
        display: none;
    }
    .AdminFotoActualizar{ 
        display: none;
    }
    .containerEOPAdmin{
        display: none;
    }
    .containerParqueaderoAdmin{ 
        display: none;
    }
    .sectionReportesAdmin{ 
        display: none;
    }
    .containerSC{
        display: none;
    }

    .mostrarTextoo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 300px;
        width: 500px;
        margin-left: 300px;
        &-titulo::before{
            font-weight: bold;
            text-align: center;
            color: rgb(1, 1, 244);
            content: "VUELVA AL TAMAÑO NORMAL DE SU ORDENADOR PARA VISUALIZAR MEJOR EL CONTENIDO";
        }
    }
} 

@media (max-width: 1100px) {
    .titulosAdmin{
        display: none;
    }
    .perfilAdmin{ 
        display: none;
    }
    .sectionActualizarAdmin{ 
            display: none;
    }
    .AdminFotoActualizar{ 
            display: none;
    }
    .containerEOPAdmin{
            display: none;
    }
    .containerParqueaderoAdmin{ 
            display: none;
    }
    .sectionReportesAdmin{ 
            display: none;
    }
    .containerSC{
            display: none;
    }

    .mostrarTextoo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        width: 500px;
        margin-left: 100px;
        background-color: red;
        &-titulo::before{
            font-weight: bold;
            text-align: center;
            color: rgb(255, 255, 255);
            content: "VUELVA AL TAMAÑO NORMAL DE SU ORDENADOR PARA VISUALIZAR MEJOR EL CONTENIDO";
        }
    }
}
    

@media only screen and (min-width: 1101px) and (max-width:1520px) {
    .screenSize{
        display: none;
    }
        
    .mostrarTextoo{
        display: none;
    }
}      