* {
  margin: 0%;
  box-sizing: border-box;
}

.titulosAdmin {
  margin-top: 20px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin-left: 100px;
}

/*ELEGIR OPCION REPORTES*/
.containerEOPAdmin {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 180px !important;
}
.containerEOPAdmin-infoEOP {
  display: flex;
  width: 1100px !important;
  flex-wrap: wrap;
  margin-top: 10px;
}
.containerEOPAdmin-infoEOP-elegirP {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #000000 !important;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.4823529412);
  border-radius: 25px !important;
  opacity: 1;
  width: 220px;
  height: 130px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.containerEOPAdmin-infoEOP-elegirP:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #050505 !important;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.862745098);
  opacity: 1;
}

/*ELEGIR OPCION REPORTES*/
/*HISTORIAL PARQUEADERO*/
.sectionHistorialAdmin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 160px !important;
}
.sectionHistorialAdmin-arriba {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  width: 1000px;
  height: 150px;
  border-radius: 20px;
  margin-bottom: 5px;
}
.sectionHistorialAdmin-arriba-sectionFechas {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 1000px !important;
  height: 70px !important;
}
.sectionHistorialAdmin-arriba-sectionFechas-izquierda {
  margin-left: 25px;
  width: 320px !important;
}
.sectionHistorialAdmin-arriba-sectionFechas-izquierda-elegirFecha {
  display: flex;
  flex-direction: row;
}
.sectionHistorialAdmin-arriba-sectionFechas-izquierda-elegirFecha-label {
  color: white;
  height: 35px;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
  width: 280px;
}
.sectionHistorialAdmin-arriba-sectionFechas-izquierda-elegirFecha-fecha {
  width: 270px;
  height: 35px;
  border-radius: 5px;
  margin-right: 5px !important;
  margin-top: 4px;
}
.sectionHistorialAdmin-arriba-sectionFechas-derecha {
  display: flex;
  flex-direction: row;
  width: 550px !important;
  margin-left: 20px;
}
.sectionHistorialAdmin-arriba-sectionFechas-derecha-fila {
  display: flex;
  flex-direction: row;
  width: 280px;
}
.sectionHistorialAdmin-arriba-sectionFechas-derecha-fila-label {
  width: 190px;
  color: rgb(255, 255, 255);
  margin-right: 10px;
  padding-top: 8px;
  text-align: center;
}
.sectionHistorialAdmin-arriba-sectionFechas-derecha-fila-divFecha {
  display: flex;
  flex-direction: row;
  width: 300px !important;
  height: 20px !important;
}
.sectionHistorialAdmin-arriba-sectionBotones {
  display: flex;
  flex-direction: row;
  width: 1000px !important;
  padding-bottom: 10px;
}
.sectionHistorialAdmin-arriba-sectionBotones-sectionIzq {
  width: 700px;
  height: 50px;
  padding-left: 50px;
}
.sectionHistorialAdmin-arriba-sectionBotones-sectionIzq-sectionAction {
  display: flex;
}
.sectionHistorialAdmin-arriba-sectionBotones-sectionIzq-sectionAction-labelBuscar {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  width: 150px;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.sectionHistorialAdmin-arriba-sectionBotones-sectionIzq-sectionAction-divBuscar {
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px !important;
  margin-right: 10px;
}
.sectionHistorialAdmin-arriba-sectionBotones-sectionIzq-sectionAction-bt {
  display: flex;
  flex-direction: row;
  width: 230px;
  height: 80px;
}
.sectionHistorialAdmin-arriba-sectionBotones-sectionIzq-sectionAction-bt-linkCard {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0) !important;
  border: 0px;
  width: 220px;
  height: 40px !important;
  padding: 8px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 18px;
  margin-right: 8px;
}
.sectionHistorialAdmin-arriba-sectionBotones-sectionIzq-sectionAction-bt-linkCard:hover {
  background: rgb(206, 201, 201);
  color: rgb(255, 255, 255);
}
.sectionHistorialAdmin-arriba-sectionBotones-sectionDer {
  width: 300px;
}
.sectionHistorialAdmin-arriba-sectionBotones-sectionDer-botoon {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0) !important;
  border: 0px;
  width: 220px;
  height: 40px !important;
  padding: 8px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 18px;
  margin-right: 8px;
}
.sectionHistorialAdmin-arriba-sectionBotones-sectionDer-botoon:hover {
  background: rgb(206, 201, 201);
  color: rgb(255, 255, 255);
}
.sectionHistorialAdmin-mitad {
  background-color: rgb(0, 0, 0);
  width: 1000px;
  height: 320px !important;
  border-radius: 20px;
  margin-bottom: 5px;
}
.sectionHistorialAdmin-mitad-tablaAjaxH {
  width: 1000px !important;
  height: 320px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.sectionHistorialAdmin-mitad-tablaAjaxH-heyAjax {
  position: sticky;
  display: inline-block;
  top: 0;
  width: 980px !important;
}
.sectionHistorialAdmin-mitad-tablaAjaxH-heyAjax-trAjax {
  width: 1000px !important;
}
.sectionHistorialAdmin-buttonBack {
  width: 1000px;
  height: 60px;
  border-radius: 20px;
}
.sectionHistorialAdmin-buttonBack-botonn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.sectionHistorialAdmin-buttonBack-botonn-botoness {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 1000px;
  height: 60px !important;
  border-radius: 10px;
  opacity: 1;
  margin-right: 5px;
}
.sectionHistorialAdmin-buttonBack-botonn-botoness-linkCardd {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  width: 220px;
  height: 40px !important;
  padding: 8px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 18px;
  margin-right: 8px;
}
.sectionHistorialAdmin-buttonBack-botonn-botoness-linkCardd:hover {
  background: rgb(31, 29, 29);
  color: rgb(255, 255, 255);
}

#tableFixed {
  display: block;
  position: relative;
  max-height: 100%;
  width: 980px !important;
  overflow: auto;
  align-items: center;
  margin-left: 15px;
}

thead {
  background-color: white;
  width: 980px !important;
}

td {
  color: rgb(255, 255, 255);
  font-size: 15px;
}

.day {
  color: black;
}

.fa-calendar {
  height: 25px;
}

/*HISTORIAL PARQUEADERO*/
.containerParqueaderoAdmin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 160px !important;
}
.containerParqueaderoAdmin-infoEP {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.containerParqueaderoAdmin-infoEP-elegirP {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000 !important;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.4823529412);
  border-radius: 25px !important;
  opacity: 1;
  width: 400px;
  height: 300px;
  margin-right: 50px;
}
.containerParqueaderoAdmin-infoEP-elegirP-sectionArriba {
  height: 70vh;
  width: 100vw;
}
.containerParqueaderoAdmin-infoEP-elegirP-sectionArriba-foto {
  position: absolute;
}
.containerParqueaderoAdmin-infoEP-elegirP-sectionAbajo {
  height: 30vh;
  width: 100vw;
}
.containerParqueaderoAdmin-infoEP-elegirP:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0a0a0a !important;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.862745098);
  opacity: 1;
  width: 405px;
  height: 305px;
}

/*REPORTES*/
.sectionReportesAdmin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 100px !important;
}
.sectionReportesAdmin-tituloReportes {
  color: black;
  font-size: 18px;
}
.sectionReportesAdmin-cardReportes {
  background-color: rgb(0, 0, 0);
  width: 1000px;
  height: 420px !important;
  border-radius: 20px;
}
.sectionReportesAdmin-cardReportes-sectionEstadisticas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 350px !important;
  background-color: rgb(255, 255, 255);
  margin-left: 100px;
  margin-top: 30px;
}
.sectionReportesAdmin-arriba {
  display: flex;
  justify-content: center;
}
.sectionReportesAdmin-arriba-cardArriba {
  display: flex;
  flex-direction: row;
  width: 1000px !important;
  height: 50px !important;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
}
.sectionReportesAdmin-arriba-cardArriba-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  margin-left: 50px;
  width: 400px;
  height: 40px;
}
.sectionReportesAdmin-arriba-cardArriba-select-label {
  width: 300px;
  color: white;
}
.sectionReportesAdmin-arriba-cardArriba-button {
  width: 400px;
  height: 40px;
  margin-top: 5px;
  margin-left: 50px;
}
.sectionReportesAdmin-arriba-cardArriba-button-botones {
  display: flex;
  flex-direction: row;
}
.sectionReportesAdmin-arriba-cardArriba-button-botones-linkCard {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0) !important;
  border: 0px;
  width: 220px;
  padding: 5px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
}
.sectionReportesAdmin-arriba-cardArriba-button-botones-linkCard:hover {
  background: rgb(204, 200, 200);
  color: rgb(0, 0, 0);
}
.sectionReportesAdmin-abajo {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.sectionReportesAdmin-abajo-cardAbajo {
  width: 1000px !important;
  height: 360px !important;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
}
.sectionReportesAdmin-abajo-cardAbajo-reporte {
  background-color: rgb(0, 0, 0);
  width: 1000px;
  height: 330px !important;
  border-radius: 20px;
}
.sectionReportesAdmin-abajo-cardAbajo-reporte-sectionEstadisticas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 350px !important;
  margin-left: 100px;
}
.sectionReportesAdmin-cardVolver {
  display: flex;
  justify-content: center;
}
.sectionReportesAdmin-cardVolver-cardInfo {
  display: flex;
  justify-content: start;
  width: 1000px;
  height: 70px;
  border-radius: 10px;
  margin-right: 5px;
}
.sectionReportesAdmin-cardVolver-cardInfo-cajitaInfo-botones {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.sectionReportesAdmin-cardVolver-cardInfo-cajitaInfo-botones-linkCard {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  width: 220px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
}
.sectionReportesAdmin-cardVolver-cardInfo-cajitaInfo-botones-linkCard:hover {
  background: rgb(31, 29, 29);
  color: rgb(255, 255, 255);
}

/*REPORTES*/

/*# sourceMappingURL=styles.css.map */
