@charset "UTF-8";
* {
  margin: 0%;
  box-sizing: border-box;
}

.titulosAdmin {
  margin-top: 20px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin-left: 100px;
  margin-top: 50px;
}

.containerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
  background-color: black;
  width: 700px;
}
.containerTitle-titleAdmin {
  font-size: 20px !important;
  color: rgb(255, 255, 255) !important;
}

.perfilAdmin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 100px;
}
.perfilAdmin-imagen {
  height: 100vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.4823529412);
  border-radius: 25px;
  opacity: 1;
  width: 350px;
  height: 350px;
  margin-right: 5px;
}
.perfilAdmin-cardPerfiles {
  display: flex;
  justify-content: center;
  background-color: #000000;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.4823529412);
  border-radius: 25px;
  opacity: 1;
  width: 350px;
  height: 350px;
}
.perfilAdmin-cardPerfiles-containerPerfilUsuario {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.perfilAdmin-cardPerfiles-containerPerfilUsuario-nombreTitulo {
  text-align: center;
  color: white;
}
.perfilAdmin-cardPerfiles-containerPerfilUsuario-infoUsuario {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}
.perfilAdmin-cardPerfiles-containerPerfilUsuario-botonCard {
  display: flex;
  justify-content: center;
}
.perfilAdmin-cardPerfiles-containerPerfilUsuario-botonCard-linkCard {
  bottom: 10px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0) !important;
  border: 0px;
  width: 220px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
}
.perfilAdmin-cardPerfiles-containerPerfilUsuario-botonCard-linkCard:hover {
  background: rgb(206, 203, 203);
  color: rgb(0, 0, 0);
}

.sectionActualizarAdmin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}
.sectionActualizarAdmin-arriba {
  display: flex;
  justify-content: center;
}
.sectionActualizarAdmin-arriba-actualizar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 870px !important;
  height: 180px !important;
  padding: 20px;
  background-color: #000000;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  opacity: 1;
}
.sectionActualizarAdmin-arriba-actualizar-sectionForm {
  margin-top: 10px;
  height: 100px;
  width: 830px;
  display: flex;
  flex-direction: column;
}
.sectionActualizarAdmin-arriba-actualizar-sectionForm-label {
  color: white;
  margin-bottom: 10px !important;
}
.sectionActualizarAdmin-arriba-actualizar-sectionForm-fecha {
  color: white;
}
.sectionActualizarAdmin-arriba-actualizar-sectionForm-fecha-divFecha {
  display: flex;
  flex-direction: row;
}
.sectionActualizarAdmin-arriba-actualizar-sectionForm-id {
  color: white;
}
.sectionActualizarAdmin-arriba-actualizar-sectionButtonAlert {
  height: 60px !important;
  width: 830px !important;
}
.sectionActualizarAdmin-arriba-actualizar-sectionButtonAlert-containerBotonCrear {
  display: flex;
  flex-direction: row;
}
.sectionActualizarAdmin-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionAlerta {
  width: 550px;
  height: 40px;
}
.sectionActualizarAdmin-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionAlerta-alert {
  display: flex;
  height: 40px;
  width: 450px !important;
}
.sectionActualizarAdmin-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionAlerta-alert-alerta {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 700px;
  height: 50px !important;
  font-size: 15px;
}
.sectionActualizarAdmin-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionBoton {
  width: 280px;
  height: 60px;
}
.sectionActualizarAdmin-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionBoton-botonsito {
  display: flex;
  justify-content: end;
}
.sectionActualizarAdmin-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionBoton-botonsito-botonCrearUsuario {
  color: rgb(0, 0, 0);
  border-radius: 15px;
  border: 0px;
  width: 240px;
  padding: 5px;
  font-size: 20px;
}
.sectionActualizarAdmin-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionBoton-botonsito-botonCrearUsuario:hover {
  background: rgb(206, 203, 203);
  color: rgb(0, 0, 0);
}
.sectionActualizarAdmin-abajo {
  display: flex;
  justify-content: center;
}
.sectionActualizarAdmin-abajo-cardInfo {
  display: flex;
  justify-content: start;
  width: 870px !important;
  height: 70px;
  border-radius: 10px;
  opacity: 1;
  margin-right: 5px;
}
.sectionActualizarAdmin-abajo-cardInfo-cajitaInfo-botones {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.sectionActualizarAdmin-abajo-cardInfo-cajitaInfo-botones-linkCard {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  width: 220px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
}
.sectionActualizarAdmin-abajo-cardInfo-cajitaInfo-botones-linkCard:hover {
  background: rgb(31, 29, 29);
  color: rgb(255, 255, 255);
}

.AdminFotoActualizar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.AdminFotoActualizar-cFA {
  width: 800px;
  height: 450px;
}
.AdminFotoActualizar-cFA-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  height: 450px !important;
  margin-left: 50px;
  border-radius: 10px;
  background-color: #b63030;
}
.AdminFotoActualizar-cFA-info-arriba {
  width: 600px;
  height: 350px;
}
.AdminFotoActualizar-cFA-info-arriba-foto {
  width: 600px !important;
  height: 350px !important;
  border-radius: 10px !important;
}
.AdminFotoActualizar-cFA-info-abajo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 100px;
}
.AdminFotoActualizar-cFA-info-abajo-formArriba {
  width: 500px;
  height: 50px;
}
.AdminFotoActualizar-cFA-info-abajo-formAbajo {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 50px;
}
.AdminFotoActualizar-cFA-info-abajo-formAbajo-izq {
  width: 250px;
  height: 50px;
  margin-left: 10px;
}
.AdminFotoActualizar-cFA-info-abajo-formAbajo-izq-btn {
  background-color: white;
  width: 100px;
  height: 40px;
  border: 0px;
  border-radius: 10px;
}
.AdminFotoActualizar-cFA-info-abajo-formAbajo-izq-btn:hover {
  background-color: #242323;
  color: white;
}
.AdminFotoActualizar-cFA-info-abajo-formAbajo-der {
  width: 250px;
  height: 40px;
}
.AdminFotoActualizar-cFA-info-abajo-formAbajo-der-alertaFo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
}
.AdminFotoActualizar-botonInfo {
  width: 700px;
  height: 60px;
}
.AdminFotoActualizar-botonInfo-bCI {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.AdminFotoActualizar-botonInfo-bCI-botones {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 900px;
  height: 60px !important;
  border-radius: 10px;
  opacity: 1;
}
.AdminFotoActualizar-botonInfo-bCI-botones-linkCard {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  width: 220px;
  height: 40px !important;
  padding: 8px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 18px;
  margin-right: 8px;
}
.AdminFotoActualizar-botonInfo-bCI-botones-linkCard:hover {
  background: rgb(99, 96, 96);
  color: rgb(255, 255, 255);
}

/*ELEGIR OPCION REPORTES*/
.containerEOPAdmin {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 180px !important;
}
.containerEOPAdmin-infoEOP {
  display: flex;
  width: 1100px !important;
  flex-wrap: wrap;
  margin-top: 10px;
}
.containerEOPAdmin-infoEOP-elegirP {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #000000 !important;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.4823529412);
  border-radius: 25px !important;
  opacity: 1;
  width: 220px;
  height: 130px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.containerEOPAdmin-infoEOP-elegirP:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #050505 !important;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.862745098);
  opacity: 1;
}

#noSub {
  text-decoration: none !important;
  color: #ffffff;
}

/*ELEGIR OPCION REPORTES*/
/*HISTORIAL PARQUEADERO*/
.sectionHistorialAdmin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 160px !important;
}
.sectionHistorialAdmin-arriba {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  width: 1000px;
  height: 130px;
  border-radius: 20px;
  margin-bottom: 5px;
}
.sectionHistorialAdmin-arriba-sectionFechas {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 1000px !important;
  height: 70px !important;
}
.sectionHistorialAdmin-arriba-sectionFechas-izquierda {
  margin-left: 15px;
  width: 350px !important;
}
.sectionHistorialAdmin-arriba-sectionFechas-izquierda-elegirFecha {
  display: flex;
  flex-direction: row;
}
.sectionHistorialAdmin-arriba-sectionFechas-izquierda-elegirFecha-label {
  color: white;
  height: 35px;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
  width: 150px;
}
.sectionHistorialAdmin-arriba-sectionFechas-izquierda-elegirFecha-fecha {
  width: 190px;
  height: 35px;
  border-radius: 5px;
  margin-right: 5px !important;
  margin-top: 4px;
}
.sectionHistorialAdmin-arriba-sectionFechas-derecha {
  display: flex;
  flex-direction: row;
  width: 550px !important;
  margin-left: 10px;
}
.sectionHistorialAdmin-arriba-sectionFechas-derecha-fila {
  display: flex;
  flex-direction: row;
  width: 280px;
  margin-right: 5px;
}
.sectionHistorialAdmin-arriba-sectionFechas-derecha-fila-label {
  width: 190px;
  color: rgb(255, 255, 255);
  margin-right: 10px;
  padding-top: 8px;
  text-align: center;
}
.sectionHistorialAdmin-arriba-sectionFechas-derecha-fila-divFecha {
  display: flex;
  flex-direction: row;
  width: 300px !important;
  height: 20px !important;
}
.sectionHistorialAdmin-arriba-sectionBotones {
  display: flex;
  flex-direction: row;
  width: 1000px !important;
  padding-bottom: 10px;
}
.sectionHistorialAdmin-arriba-sectionBotones-sectionIzq {
  width: 700px;
  height: 50px;
  padding-left: 50px;
}
.sectionHistorialAdmin-arriba-sectionBotones-sectionIzq-sectionAction {
  display: flex;
}
.sectionHistorialAdmin-arriba-sectionBotones-sectionIzq-sectionAction-labelBuscar {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  width: 150px;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.sectionHistorialAdmin-arriba-sectionBotones-sectionIzq-sectionAction-divBuscar {
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px !important;
  margin-right: 10px;
}
.sectionHistorialAdmin-arriba-sectionBotones-sectionIzq-sectionAction-bt {
  display: flex;
  flex-direction: row;
  width: 230px;
  height: 80px;
}
.sectionHistorialAdmin-arriba-sectionBotones-sectionIzq-sectionAction-bt-linkCard {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0) !important;
  border: 0px;
  width: 220px;
  height: 40px !important;
  padding: 8px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 18px;
  margin-right: 8px;
}
.sectionHistorialAdmin-arriba-sectionBotones-sectionIzq-sectionAction-bt-linkCard:hover {
  background: rgb(206, 201, 201);
  color: rgb(255, 255, 255);
}
.sectionHistorialAdmin-arriba-sectionBotones-sectionDer {
  width: 300px;
}
.sectionHistorialAdmin-arriba-sectionBotones-sectionDer-botoon {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0) !important;
  border: 0px;
  width: 220px;
  height: 40px !important;
  padding: 8px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 18px;
  margin-right: 8px;
}
.sectionHistorialAdmin-arriba-sectionBotones-sectionDer-botoon:hover {
  background: rgb(206, 201, 201);
  color: rgb(255, 255, 255);
}
.sectionHistorialAdmin-cardInfo {
  background-color: rgb(0, 0, 0);
  width: 1000px;
  height: 320px !important;
  border-radius: 20px;
  margin-bottom: 5px;
}
.sectionHistorialAdmin-cardInfo-mitad {
  max-width: 100% !important;
}
.sectionHistorialAdmin-cardInfo-mitad-tablaAjaxH {
  width: 100% !important;
  height: 98% !important;
  display: block;
  position: relative;
  overflow: auto;
  padding: 10px;
}
.sectionHistorialAdmin-cardInfo-mitad-tablaAjaxH-heyAjax {
  width: 100% !important;
  margin-top: 10px;
  position: relative;
}
.sectionHistorialAdmin-cardInfo-mitad-tablaAjaxH-heyAjax-theadAjax {
  border-radius: 10px !important;
}
.sectionHistorialAdmin-cardInfo-mitad-tablaAjaxH-heyAjax-theadAjax-trAjax {
  width: 1000px !important;
}
.sectionHistorialAdmin-cardInfo-mitad-tablaAjaxH-heyAjax-tbAjaxCelador {
  background-color: #0d0d0d;
}
.sectionHistorialAdmin-buttonBack {
  width: 1000px;
  height: 60px;
  border-radius: 20px;
}
.sectionHistorialAdmin-buttonBack-botonn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.sectionHistorialAdmin-buttonBack-botonn-botoness {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 1000px;
  height: 60px !important;
  border-radius: 10px;
  opacity: 1;
  margin-right: 5px;
}
.sectionHistorialAdmin-buttonBack-botonn-botoness-linkCardd {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  width: 220px;
  height: 40px !important;
  padding: 8px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 18px;
  margin-right: 8px;
}
.sectionHistorialAdmin-buttonBack-botonn-botoness-linkCardd:hover {
  background: rgb(31, 29, 29);
  color: rgb(255, 255, 255);
}

#tableFixed {
  display: block;
  position: relative;
  max-height: 100%;
  width: 980px !important;
  overflow: auto;
  align-items: center;
  margin-left: 15px;
}

thead {
  background-color: white;
  width: 980px !important;
}

td {
  color: rgb(255, 255, 255);
  font-size: 15px;
}

/*ESTILOS CALENDARIO*/
.day {
  color: black;
}

.month {
  color: black;
}

.year {
  color: black;
}

.decade {
  color: black;
}

.century {
  color: black;
}

.old {
  color: black;
}

.fa-calendar {
  height: 25px;
}

/*HISTORIAL PARQUEADERO*/
.containerParqueaderoAdmin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 160px !important;
}
.containerParqueaderoAdmin-infoEP {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.containerParqueaderoAdmin-infoEP-elegirP {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000 !important;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.4823529412);
  border-radius: 25px !important;
  opacity: 1;
  width: 400px;
  height: 300px;
  margin-right: 50px;
}
.containerParqueaderoAdmin-infoEP-elegirP-sectionArriba {
  height: 70vh;
  width: 100vw;
}
.containerParqueaderoAdmin-infoEP-elegirP-sectionArriba-foto {
  position: absolute;
}
.containerParqueaderoAdmin-infoEP-elegirP-sectionAbajo {
  height: 30vh;
  width: 100vw;
}
.containerParqueaderoAdmin-infoEP-elegirP:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0a0a0a !important;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.862745098);
  opacity: 1;
  width: 405px;
  height: 305px;
}

/*REPORTES*/
.sectionReportesAdmin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 100px !important;
}
.sectionReportesAdmin-tituloReportes {
  color: black;
  font-size: 18px;
}
.sectionReportesAdmin-cardReportes {
  background-color: rgb(0, 0, 0);
  width: 1000px;
  height: 420px !important;
  border-radius: 20px;
}
.sectionReportesAdmin-cardReportes-sectionEstadisticas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 350px !important;
  background-color: rgb(255, 255, 255);
  margin-left: 100px;
  margin-top: 30px;
}
.sectionReportesAdmin-arriba {
  display: flex;
  justify-content: center;
}
.sectionReportesAdmin-arriba-cardArriba {
  display: flex;
  flex-direction: row;
  width: 1000px !important;
  height: 50px !important;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
}
.sectionReportesAdmin-arriba-cardArriba-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  margin-left: 50px;
  width: 500px;
  height: 40px;
}
.sectionReportesAdmin-arriba-cardArriba-select-label {
  width: 170px;
  color: white;
}
.sectionReportesAdmin-arriba-cardArriba-select-selectw {
  width: 270px;
  border-radius: 10px;
  padding: 5px;
}
.sectionReportesAdmin-arriba-cardArriba-button {
  width: 200px;
  height: 40px;
  margin-top: 5px;
  margin-left: 50px;
}
.sectionReportesAdmin-arriba-cardArriba-button-botones {
  display: flex;
  flex-direction: row;
}
.sectionReportesAdmin-arriba-cardArriba-button-botones-linkCard {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0) !important;
  border: 0px;
  width: 220px;
  padding: 5px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
}
.sectionReportesAdmin-arriba-cardArriba-button-botones-linkCard:hover {
  background: rgb(204, 200, 200);
  color: rgb(0, 0, 0);
}
.sectionReportesAdmin-abajo {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.sectionReportesAdmin-abajo-cardAbajo {
  width: 1000px !important;
  height: 360px !important;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
}
.sectionReportesAdmin-abajo-cardAbajo-reporte {
  background-color: rgb(0, 0, 0);
  width: 1000px;
  height: 330px !important;
  border-radius: 20px;
}
.sectionReportesAdmin-abajo-cardAbajo-reporte-sectionEstadisticas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 350px !important;
  margin-left: 100px;
}
.sectionReportesAdmin-cardVolver {
  display: flex;
  justify-content: center;
}
.sectionReportesAdmin-cardVolver-cardInfo {
  display: flex;
  justify-content: start;
  width: 1000px;
  height: 70px;
  border-radius: 10px;
  margin-right: 5px;
}
.sectionReportesAdmin-cardVolver-cardInfo-cajitaInfo-botones {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.sectionReportesAdmin-cardVolver-cardInfo-cajitaInfo-botones-linkCard {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  width: 220px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
}
.sectionReportesAdmin-cardVolver-cardInfo-cajitaInfo-botones-linkCard:hover {
  background: rgb(31, 29, 29);
  color: rgb(255, 255, 255);
}

/*REPORTES*/
/*SESIÓN CELADOR
se usa en sesionCelador.php*/
.containerSC {
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerSC-cardSC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 400px;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  margin-left: 100px;
  margin-top: 10px;
  padding: 25px;
}
.containerSC-cardSC-SC {
  width: 700px;
  height: 50px;
  color: white;
  font-size: 20px;
  text-align: center;
}
.containerSC-cardSC-parrafoSC {
  width: 700px;
  height: 300px;
  color: white;
  align-items: center;
  font-size: 20px;
}
.containerSC-cardSC-fechaSC {
  text-align: center;
  width: 500px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

/* se usa en sesionCelador.php
SESIÓN CELADOR*/
/*footer*/
.footerTituloo {
  align-items: center;
  text-align: center;
  height: 30px;
  line-height: 30px;
  background: black;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
}

#pieo {
  font-size: 13px;
  color: rgb(255, 255, 255);
}

.headerTituloo {
  display: flex;
  justify-content: end;
  height: 30px;
  line-height: 30px;
  background: black;
  color: white;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
}

#cabeceraHeadero {
  font-size: 13px;
  color: rgb(255, 255, 255);
  padding-right: 10px !important;
}

/*footer*/
/*

@mixin screenTamanio {
    .mostrarTexto::before {
        font-weight: bold;
        color: navy;
        content: "VUELVA AL TAMAÑO NORMAL DE SU ORDENADOR PARA VISUALIZAR MEJOR EL CONTENIDO";
    };
}

.mostrarTextoo{
    display: flex;
    justify-content: center;
    align-items: center;
    &-titulo::before{
        font-weight: bold;
        text-align: center;
        color: navy;
        content: "VUELVA AL TAMAÑO NORMAL DE SU ORDENADOR PARA VISUALIZAR MEJOR EL CONTENIDO";
    }
}

*/
/*RESPONSIVE*/
@media only screen and (max-height: 600px) and (min-height: 0px) {
  .titulosAdmin {
    display: none;
  }
  .perfilAdmin {
    display: none;
  }
  .sectionActualizarAdmin {
    display: none;
  }
  .AdminFotoActualizar {
    display: none;
  }
  .containerEOPAdmin {
    display: none;
  }
  .containerParqueaderoAdmin {
    display: none;
  }
  .sectionReportesAdmin {
    display: none;
  }
  .containerSC {
    display: none;
  }
  .mostrarTextoo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    width: 500px;
    margin-left: 300px;
  }
  .mostrarTextoo-titulo::before {
    font-weight: bold;
    text-align: center;
    color: rgb(1, 1, 244);
    content: "VUELVA AL TAMAÑO NORMAL DE SU ORDENADOR PARA VISUALIZAR MEJOR EL CONTENIDO";
  }
}
@media (max-width: 1100px) {
  .titulosAdmin {
    display: none;
  }
  .perfilAdmin {
    display: none;
  }
  .sectionActualizarAdmin {
    display: none;
  }
  .AdminFotoActualizar {
    display: none;
  }
  .containerEOPAdmin {
    display: none;
  }
  .containerParqueaderoAdmin {
    display: none;
  }
  .sectionReportesAdmin {
    display: none;
  }
  .containerSC {
    display: none;
  }
  .mostrarTextoo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 500px;
    margin-left: 100px;
    background-color: red;
  }
  .mostrarTextoo-titulo::before {
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    content: "VUELVA AL TAMAÑO NORMAL DE SU ORDENADOR PARA VISUALIZAR MEJOR EL CONTENIDO";
  }
}
@media only screen and (min-width: 1101px) and (max-width: 1520px) {
  .screenSize {
    display: none;
  }
  .mostrarTextoo {
    display: none;
  }
}

/*# sourceMappingURL=stylesOtros.css.map */
