*{
    margin: 0%;
    box-sizing: border-box;
}
 
$colorBotonVolver : rgb(31, 29, 29);

.sectionLogin{
    display: flex;
    flex-direction: row;
    height: 100%;
    &-izqq{ 
        max-height: 100vh;
        max-width: 50vw;
        background-color: black;
        &-imagenFondo{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 800px !important;
        }
    }
    &-derr{
        height: 100vh;
        width: 50vw;
        background-color: rgb(0, 0, 0);
        &-login{
            display: flex;
            justify-content: center;
            align-items: center;
            &-clase{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 30px;
                width: 400px;
                height: 580px;
                &-arriba{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 400px;
                    height: 450px;
                    &-titulo{
                        display: flex;
                        justify-content: center;
                        align-items: center; 
                        color: rgb(255, 255, 255);
                        text-align: center;
                        
                    }
                    &-imagen{
                        width: 200px;
                        height: 200px;
                        &-imagenLogo{
                            width: 200px;
                            height: 200px;  
                        }
                        
                    }
                }
                &-mitad{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 400px;
                    height: 400px;
                    &-cardFormulario{
                        display: flex; 
                        justify-content: center;
                        align-items: center;
                        &-formlario{
                            align-items: center;
                            width: 300px;
                            &-boton{
                                background: rgb(0, 0, 0);
                                color: rgb(255, 255, 255);
                                border-radius: 5px;
                                border: 0px;
                                width: 300px; 
                                padding: 5px;
                                &:hover{
                                    background: $colorBotonVolver;
                                    color: rgb(255, 255, 255);
                                }
                            }
                            
                            &-recordarPassword{
                                display: flex;
                                justify-content: end;
                            }
                        }
                    }
                }
                &-abajo{
                    width: 400px;
                    height: 80px;
                    padding-bottom: 10px;
                    &-registrar{

                        &-letra{
                            color: rgb(255, 255, 255);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        &-hipervinculo{
                            display: flex;
                            justify-content: center;
                            align-items: center; 
                        }
                    }

                }
            }
        }
    }
    
}

#noStyle{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#noStyleRegistrer{
    text-decoration: none;
    color: rgb(255, 255, 255);
}


h1{
    text-align: center;
}

a{
    text-decoration-style: none;
}



//RESPONSIVE PANTALLA MENOS A 800
@media only screen and (max-width: 800px) {
    body{
        overflow-y: scroll;
    }
    .sectionLogin{
        display: flex;
        flex-direction: row;
        &-izqq{
            display: none;
        }
        
        &-derr{
            width: 100%;
            background-color: rgb(0, 0, 0);
            &-cardFormulario{
                height: 50vh;
                display: flex; 
                justify-content: center;
                align-items: center;
            }
        }
    }
} 


//RESPONSIVE PANTALLA MAYOR A 1920
@media only screen and (min-width: 801px) and (max-width:1350px) {
    .sectionLogin{
        display: flex;
        flex-direction: row;
        overflow-y: hidden;
        &-izqq{
            height: 100vh;
            width: 50vw;
            background-color: rgb(0, 0, 0);
            &-imagenFondo{
                height: 500px;
            }
        }
        &-derr{
            background-color: rgb(0, 0, 0);
            height: 100vh;
            width: 50vw;
            &-cardFormulario{
                height: 50vh;
                display: flex; 
                justify-content: center;
                align-items: center;
            }
        }
    }
} 
@media only screen and (max-width: 1700px) and (min-width: 1351px) {
    .sectionLogin{
        display: flex;
        flex-direction: row;
        overflow: hidden;
        &-izqq{
            height: 100vh;
            width: 50vw;
            background-color: rgb(0, 0, 0);
            &-imagenFondo{
                height: 950px !important; 
            }
        }
        &-derr{
            width: 100%;
            background-color: rgb(0, 0, 0);
            height: 100vh;
            width: 50vw;
            &-cardFormulario{
                height: 50vh;
                display: flex; 
                justify-content: center;
                align-items: center;
            }
        }
    }
}
@media only screen and (max-width: 1920px) and (min-width: 1701px) {
    .sectionLogin{
        display: flex;
        flex-direction: row;
        overflow: hidden;
        &-izqq{
            height: 100vh;
            width: 50vw;
            background-color: rgb(0, 0, 0);
            &-imagenFondo{
                height: 1150px !important; 
            }
        }
        &-der{
            width: 100%;
            background-color: rgb(0, 0, 0);
            height: 100vh;
            width: 50vw;
            &-cardFormulario{
                height: 50vh;
                display: flex; 
                justify-content: center;
                align-items: center;
            }
        }
    }
}


