.tituloUsuario{
    font-size: 20px !important;
    margin-right: 40px;
} 






.tituloTransporte{
    font-size: 20px !important;
    margin-right: 40px;
}


/*ACTUALIZAR CONTRASEÑA*/





/*CONSULTAR USUARIO Y CELADOR DESDE ADMIN*/
/* se usa en presentacion/usuario/consultarUsuario.php */

.tituloUsuario{
    font-size: 20px !important;
    margin-right: 40px;
}


#thPequenios{
    text-align: center;
    width: 20px;
}

#proyecto{
    text-align: center;
    width: 160px;
}

#nombreCompleto{
    width: 180px;
    text-align: center;
}

#codeStudente{
    text-align: center;
    width: 130px; 
}

#email{ 
    text-align: center;
}



/*CONSULTAR TODO BICICLETA CTB DESDE CELADOR Y ADMIN*/



#fotoUsuarioCTB{
    width: 25px !important;
    height: 25px !important;
    border-radius: 50px !important;
}
 
#iconosCTB{
    text-decoration: none !important;
    margin-right: 4px;
}

#nameUser{
    width: 180px;
}

.estadoUsuario{
    width: 30px;
}
#estado{
    text-align: center;
    width: 50px;
}

#services{
    text-align: center;
    width: 100px;
}

#strPO{
    width: 20px;
}

#codeStudent{
    text-align: center;
    width: 150px;
}

#nameUser{
    width: 500px;
}





.codigoUsuario{
    width: 130px;
}



















@media only screen and (min-height: 0px) and (max-height: 580px) {
    .tituloConsulta{
        display: none;
    }
    .tituloTransporte{
        display: none;
    }
    .containerBuscarUsuario{ 
        display: none;
    }
    .sectionDobleConsultarCU{
        display: none;
    }
    .actualizarPass{
        display: none;
    }
    .sectionDobleConsultarCU{
        display: none;
    }
    .sectionACUA{
        display: none;
        &-abajo{
            display: none;
        }
    }
    .visi{
        display: flex;
        margin-top: 50px;
        margin-left: 250px; 
        width: 550px;
        height: 50px;
        background-color: #000000;
        &-visibilidad{
            font-size: 20px;
            color: rgb(255, 196, 0);
            font-weight: bold;
        }
    }
    .tamPantalla{
        display: flex;
        margin-top: 50px;
        margin-left: 250px; 
        width: 550px;
        height: 50px;
        background-color: #000000;
        &-pantalla{
            font-size: 20px;
            color: rgb(255, 196, 0);
            font-weight: bold;
        }
    }
} 

@media screen and (max-width: 1099.9px) {
    .tituloConsulta{
        display: none;
    }
    .tituloTransporte{
        display: none;
    }
    .containerBuscarUsuario{
        display: none;
    }
    .sectionDobleConsultarCU{
        display: none;
    }
    .actualizarPass{
        display: none;
    }
    .sectionDobleConsultarCU{
        display: none;
    }
    .sectionACUA{
        display: none;
        &-abajo{
            display: none;
        }
    }
    .visi{
        display: flex;
        margin-top: 50px;
        margin-left: 250px; 
        width: 680px;
        height: 190px;
        background-color: #000000;
        &-visibilidad{
            margin-top: 20px;
            font-size: 40px;
            color: red;
            font-weight: bold;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;
        }
    }
}


@media only screen and (min-width: 1100px) and (max-width:1520px) {
    .visi{
        display: none;
    }

    .tamPantalla{
        display: none;
    }
} 