@charset "UTF-8";
* {
  margin: 0%;
  box-sizing: border-box;
}

.titulosUsers {
  margin-top: 20px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin-left: 100px;
  margin-top: 50px;
}

/*SESION CELADOR
se usa en perfilCelador.php*/
.containerPC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 100px !important;
  margin-top: 80px;
}
.containerPC-cardPC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 490px;
  background-color: #000000;
  border-radius: 20px;
}
.containerPC-cardPC-tituloPC {
  width: 950px;
  height: 40px;
}
.containerPC-cardPC-tituloPC-tituloProfile {
  font-weight: bold;
  color: white;
  font-size: 30px;
}
.containerPC-cardPC-infoPC {
  width: 950px;
  height: 400px;
  display: flex;
  flex-direction: row;
}
.containerPC-cardPC-infoPC-sectionIzq {
  width: 650px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerPC-cardPC-infoPC-sectionIzq-arribaInfo {
  width: 600px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerPC-cardPC-infoPC-sectionIzq-arribaInfo-nameCelador {
  font-weight: bold;
  font-size: 28px;
  color: white;
}
.containerPC-cardPC-infoPC-sectionIzq-arribaInfo-infoCelador {
  text-align: center;
  font-size: 20px;
  color: white;
}
.containerPC-cardPC-infoPC-sectionIzq-abajoInfo {
  width: 600px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerPC-cardPC-infoPC-sectionIzq-abajoInfo-linkCard {
  bottom: 10px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0) !important;
  border: 0px;
  width: 220px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
}
.containerPC-cardPC-infoPC-sectionIzq-abajoInfo-linkCard:hover {
  background: rgb(206, 203, 203);
  color: rgb(0, 0, 0);
}
.containerPC-cardPC-infoPC-sectionDer {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerPC-cardPC-infoPC-sectionDer-fotoVer {
  width: 270px;
  height: 280px;
}
.containerPC-cardPC-infoPC-sectionDer-fotoVer-fotoVerFoto {
  width: 270px !important;
  height: 270px !important;
  border-radius: 50px;
}
.containerPC-cardPC-infoPC-sectionDer-botonFoto {
  width: 270px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerPC-cardPC-infoPC-sectionDer-botonFoto-botonAFC {
  bottom: 10px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0) !important;
  border: 0px;
  width: 220px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
}
.containerPC-cardPC-infoPC-sectionDer-botonFoto-botonAFC:hover {
  background: rgb(206, 203, 203);
  color: rgb(0, 0, 0);
}

/*se usa en perfilCelador.php
SESION CELADOR*/
.containerFotoModal {
  width: 480px !important;
  height: 550px !important;
}

/*ESTILOS ACTUALIZAR FOTO USUARIO y USUARIO CELADOR
se usa en actualizarFotoCelador.php*/
.cardFotoActualizarUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 80px !important;
}
.cardFotoActualizarUser-cFA {
  width: 800px;
  height: 450px;
}
.cardFotoActualizarUser-cFA-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  height: 470px !important;
  margin-left: 50px;
  border-radius: 10px;
  background-color: #000000;
}
.cardFotoActualizarUser-cFA-info-arriba {
  width: 600px;
  height: 350px;
}
.cardFotoActualizarUser-cFA-info-arriba-foto {
  width: 600px !important;
  height: 350px !important;
  border-radius: 10px !important;
}
.cardFotoActualizarUser-cFA-info-abajo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 750px;
  height: 100px;
}
.cardFotoActualizarUser-cFA-info-abajo-formArriba {
  margin-left: 130px;
  width: 500px;
  height: 50px;
}
.cardFotoActualizarUser-cFA-info-abajo-formAbajo {
  display: flex;
  flex-direction: row;
  width: 800px;
  height: 50px;
}
.cardFotoActualizarUser-cFA-info-abajo-formAbajo-izq {
  display: flex;
  justify-content: center;
  width: 250px;
  height: 50px;
  margin-left: 10px;
  margin-top: 5px;
}
.cardFotoActualizarUser-cFA-info-abajo-formAbajo-izq-btn {
  background-color: white;
  width: 150px;
  height: 40px;
  border: 0px;
  border-radius: 10px;
  padding: 10px;
}
.cardFotoActualizarUser-cFA-info-abajo-formAbajo-izq-btn:hover {
  background-color: #242323;
  color: white;
}
.cardFotoActualizarUser-cFA-info-abajo-formAbajo-der {
  display: flex;
  justify-content: center;
  width: 450px;
  height: 50px;
  margin-bottom: 10px;
}
.cardFotoActualizarUser-cFA-info-abajo-formAbajo-der-alertaFo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 40px;
  margin-bottom: 10px !important;
}
.cardFotoActualizarUser-cFA-info-abajo-formAbajo-der-alertAFT {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 40px;
  margin-bottom: 10px !important;
}
.cardFotoActualizarUser-botonInfo {
  width: 700px;
  height: 60px;
}
.cardFotoActualizarUser-botonInfo-bCI {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cardFotoActualizarUser-botonInfo-bCI-botones {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 900px;
  height: 60px !important;
  border-radius: 10px;
  opacity: 1;
}
.cardFotoActualizarUser-botonInfo-bCI-botones-linkCard {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  width: 220px;
  height: 40px !important;
  padding: 8px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 18px;
  margin-right: 8px;
}
.cardFotoActualizarUser-botonInfo-bCI-botones-linkCard:hover {
  background: rgb(31, 29, 29);
  color: rgb(255, 255, 255);
}

/*se usa en actualizarFotoCelador.php
ESTILOS ACTUALIZAR FOTO USUARIO y USUARIO CELADOR*/
/*ACTUALIZAR CONTRASEÑA USUARIO CELADOR
se usa en actualizarFotoCelador.php*/
.actualizarPassUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 100px !important;
}
.actualizarPassUser-arriba {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.actualizarPassUser-arriba-crearPass {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 460px !important;
  height: 340px !important;
  padding: 20px;
  background-color: #000000 !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  opacity: 1;
}
.actualizarPassUser-arriba-crearPass-sectionActualizar {
  width: 460px;
  height: 380px !important;
  display: flex;
  flex-direction: column;
}
.actualizarPassUser-arriba-crearPass-sectionActualizar-formCrear {
  width: 420px;
  height: 270px;
}
.actualizarPassUser-arriba-crearPass-sectionActualizar-formCrear-label {
  color: white;
  margin-bottom: 5px;
}
.actualizarPassUser-arriba-crearPass-sectionActualizar-containerSection {
  width: 420px;
  height: 70px !important;
}
.actualizarPassUser-arriba-crearPass-sectionActualizar-containerSection-divSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.actualizarPassUser-arriba-crearPass-sectionActualizar-containerSection-divSection-alertSection {
  top: 0%;
  width: 260px;
  height: 70px !important;
}
.actualizarPassUser-arriba-crearPass-sectionActualizar-containerSection-divSection-alertSection-alert {
  display: flex;
  text-align: center;
  justify-content: start;
  width: 420px;
  height: 70px !important;
  font-size: 15px;
}
.actualizarPassUser-arriba-crearPass-sectionActualizar-containerSection-divSection-alertSection-alert-alertaPass {
  background-color: #32ce85;
  color: black;
}
.actualizarPassUser-arriba-crearPass-sectionActualizar-containerSection-divSection-botonSection {
  width: 140px;
  height: 50px;
  margin-top: 2px;
}
.actualizarPassUser-arriba-crearPass-sectionActualizar-containerSection-divSection-botonSection-boton {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.actualizarPassUser-arriba-crearPass-sectionActualizar-containerSection-divSection-botonSection-boton-botonCrearTransporte {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 15px;
  border: 0px;
  width: 150px;
  padding: 5px;
  font-size: 20px;
}
.actualizarPassUser-arriba-crearPass-sectionActualizar-containerSection-divSection-botonSection-boton-botonCrearTransporte:hover {
  background: rgb(206, 203, 203);
  color: rgb(0, 0, 0);
}
.actualizarPassUser-arriba-botonBack {
  width: 300px;
  height: 60px;
}
.actualizarPassUser-arriba-botonBack-bCI {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.actualizarPassUser-arriba-botonBack-bCI-botones {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 900px;
  height: 60px !important;
  border-radius: 10px;
  opacity: 1;
}
.actualizarPassUser-arriba-botonBack-bCI-botones-linkCard {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  width: 220px;
  height: 40px !important;
  padding: 8px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 18px;
  margin-right: 8px;
}
.actualizarPassUser-arriba-botonBack-bCI-botones-linkCard:hover {
  background: rgb(31, 29, 29);
  color: rgb(255, 255, 255);
}

/*se usa en actualizarFotoCelador.php
ACTUALIZAR CONTRASEÑA USUARIO CELADOR*/
.fa-motorcycle {
  color: rgb(255, 255, 255);
  font-size: 200px;
}

.fa-bicycle {
  color: rgb(255, 255, 255);
  font-size: 200px;
}

.fa-user {
  color: white;
  font-size: 150px;
}

.bx-history {
  color: rgb(255, 255, 255);
  font-size: 100px;
}

.bxs-parking {
  color: rgb(255, 255, 255);
  font-size: 100px;
}

#noSubo {
  text-decoration: none !important;
  color: #ffffff;
}

/*CONSULTAR TRANSPORTE DESDE ROL USUARIO
presentacion/Transporte/consultarTransporte.php*/
.sectionCTUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 160px !important;
}
.sectionCTUser-arriba {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sectionCTUser-arriba-cardd {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 900px;
  height: 320px;
  padding: 10px;
}
.sectionCTUser-arriba-cardd-cajita {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 300px;
  padding: 10px;
  background: #000000 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.1607843137);
  border-radius: 10px;
  opacity: 1;
  margin-right: 10px;
}
.sectionCTUser-arriba-cardd-cajita-pin {
  width: 350px !important;
  height: 350px;
}
.sectionCTUser-arriba-cardd-cajita-pin-fotito {
  width: 350px !important;
  height: 250px !important;
}
.sectionCTUser-arriba-cardd-cajita-pin-fotito-imageTransport {
  width: 350px !important;
  height: 250px !important;
}
.sectionCTUser-arriba-cardd-cajita-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 80px !important;
  background-color: rgb(0, 0, 0);
}
.sectionCTUser-arriba-cardd-cajita-link-boton {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sectionCTUser-arriba-cardd-cajita-link-boton-por {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0) !important;
  border: 0px;
  width: 310px;
  height: 40px !important;
  padding: 8px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  font-size: 15px bold;
  margin-right: 8px;
}
.sectionCTUser-arriba-cardd-cajita-link-boton-por:hover {
  background: rgb(183, 179, 179);
  color: rgb(0, 0, 0);
}
.sectionCTUser-abajo {
  display: flex;
  justify-content: center;
}
.sectionCTUser-abajo-cardInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 820px;
  height: 100px;
  background: #000000 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.1607843137);
  border-radius: 10px;
  opacity: 1;
}
.sectionCTUser-abajo-cardInfo-arriba {
  height: 55px;
  width: 600px;
  margin-top: 5px;
}
.sectionCTUser-abajo-cardInfo-arriba-espacioParrafo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionCTUser-abajo-cardInfo-arriba-espacioParrafo-parrafo {
  display: flex;
  text-align: center;
  color: white;
}
.sectionCTUser-abajo-cardInfo-abajo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 45px;
  width: 820px;
}
.sectionCTUser-abajo-cardInfo-abajo-espacioBoton {
  display: flex;
  margin-right: 30px;
}
.sectionCTUser-abajo-cardInfo-abajo-espacioBoton-estadoTranspote {
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}
.sectionCTUser-abajo-cardInfo-abajo-espacioBoton-linkCard {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0) !important;
  border: 0px;
  width: 180px;
  height: 35px !important;
  padding: 8px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  font-size: 15px bold;
  margin-right: 8px;
}
.sectionCTUser-abajo-cardInfo-abajo-espacioBoton-linkCard:hover {
  background: rgb(183, 179, 179);
  color: rgb(0, 0, 0);
}
.sectionCTUser-botonVolver {
  display: flex;
  justify-content: center;
}
.sectionCTUser-botonVolver-cardInfo {
  display: flex;
  justify-content: start;
  width: 820px;
  height: 70px !important;
  border-radius: 10px;
  opacity: 1;
  margin-right: 5px;
}
.sectionCTUser-botonVolver-cardInfo-cajitaInfo-botones {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.sectionCTUser-botonVolver-cardInfo-cajitaInfo-botones-linkCard {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  width: 220px;
  height: 50px !important;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
}
.sectionCTUser-botonVolver-cardInfo-cajitaInfo-botones-linkCard:hover {
  background: rgb(31, 29, 29);
  color: rgb(255, 255, 255);
}

/*CONSULTAR TRANSPORTE DESDE ROL USUARIO
presentacion/Transporte/consultarTransporte.php*/
/*ESTILOS ACTUALIZAR FOTO TRANSPORTE
se usa en actualizarFotoTransporte*/
/*
.cardFotoActualizarUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 90px !important;
    &-cFA{
        width: 800px;
        height: 450px;
        &-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 800px;
            height: 450px !important;
            margin-left: 50px;
            border-radius: 10px;
            background-color: #000000;
            &-arriba{
                width: 600px;
                height: 350px;
                &-foto{
                    width: 600px !important;
                    height: 350px !important;
                    border-radius: 10px !important;
                }
            }
            &-abajo{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 500px;
                height: 100px;
                &-formArriba{
                    width: 500px;
                    height: 50px;
                }
                &-formAbajo{
                    display: flex;
                    flex-direction: row;
                    width: 500px;
                    height: 50px;
                    &-izq{
                        width: 250px;
                        height: 50px;
                        margin-left: 10px;
                        &-btn{
                            background-color: white;
                            width: 130px;
                            height: 40px;
                            border: 0px;
                            border-radius: 10px;
                            &:hover{
                                background-color: #242323;
                                color: white;
                            }
                        }
                    }
                    &-der{
                        width: 250px;
                        height: 50px;
                        &-alertAFT{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 150px;
                            height: 40px;
                        }
                    }
                }

            }
        }
    }
    &-botonInfo{
        width: 700px !important;
        height: 60px;
        &-bCI{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            &-botones{ 
                display: flex;
                align-items: center;
                justify-content: start;
                width: 800px;
                height: 60px !important;
                border-radius: 10px;
                opacity: 1;
                &-linkCard{    
                    background: rgb(0, 0, 0);
                    color: rgb(255, 255, 255) !important;
                    border: 0px;
                    width: 220px; 
                    height: 40px !important;
                    padding: 8px;
                    text-align: center;
                    border-radius: 20px;
                    text-decoration: none;
                    font-size: 18px;
                    margin-right: 8px;
                    &:hover{
                        background: $colorBotonVolver;
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
    }
}
*/
/*se usa en actualizarFotoTransporte
ESTILOS ACTUALIZAR FOTO TRANSPORTE*/
/*ACTUALIZAR TRANSPORTE
presentacion/Trsnporte/actualzarTranspore.php*/
.actualizarTransporteUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 80px !important;
}
.actualizarTransporteUser-arriba {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.actualizarTransporteUser-arriba-crear {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 740px !important;
  height: 320px !important;
  padding: 20px;
  background-color: #b35252 !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  opacity: 1;
}
.actualizarTransporteUser-arriba-crear-sectionCrear {
  width: 700px;
  height: 320px !important;
  display: flex;
  flex-direction: column;
}
.actualizarTransporteUser-arriba-crear-sectionCrear-formCrear {
  width: 700px;
  height: 220px;
}
.actualizarTransporteUser-arriba-crear-sectionCrear-formCrear-label {
  color: white;
  margin-bottom: 10px !important;
}
.actualizarTransporteUser-arriba-crear-sectionCrear-containerSection {
  width: 700px;
  height: 70px !important;
}
.actualizarTransporteUser-arriba-crear-sectionCrear-containerSection-divSection {
  display: flex;
  flex-direction: row;
}
.actualizarTransporteUser-arriba-crear-sectionCrear-containerSection-divSection-alertSection {
  top: 0%;
  width: 400px;
  height: 70px;
}
.actualizarTransporteUser-arriba-crear-sectionCrear-containerSection-divSection-alertSection-alert {
  display: flex;
  text-align: center;
  justify-content: start;
  width: 700px;
  height: 70px;
  font-size: 15px;
}
.actualizarTransporteUser-arriba-crear-sectionCrear-containerSection-divSection-botonSection {
  width: 300px;
  height: 50px;
  margin-top: 2px;
}
.actualizarTransporteUser-arriba-crear-sectionCrear-containerSection-divSection-botonSection-boton {
  display: flex;
  justify-content: end;
}
.actualizarTransporteUser-arriba-crear-sectionCrear-containerSection-divSection-botonSection-boton-botonCrearTransporte {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 15px;
  border: 0px;
  width: 250px;
  padding: 5px;
  font-size: 20px;
}
.actualizarTransporteUser-arriba-crear-sectionCrear-containerSection-divSection-botonSection-boton-botonCrearTransporte:hover {
  background: rgb(206, 203, 203);
  color: rgb(0, 0, 0);
}
.actualizarTransporteUser-abajo {
  display: flex;
  justify-content: center;
}
.actualizarTransporteUser-abajo-cardAtras {
  display: flex;
  justify-content: start;
  width: 740px;
  height: 70px;
  border-radius: 10px;
  opacity: 1;
  margin-right: 5px;
}
.actualizarTransporteUser-abajo-cardAtras-cajitaInfo-boton {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.actualizarTransporteUser-abajo-cardAtras-cajitaInfo-boton-linkCard {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  width: 220px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
}
.actualizarTransporteUser-abajo-cardAtras-cajitaInfo-boton-linkCard:hover {
  background: rgb(31, 29, 29);
  color: rgb(255, 255, 255);
}

/*ACTUALIZAR TRANSPORTE
presentacion/Trsnporte/actualzarTranspore.php*/
/*CREAR TRANSPORTE
presentacion/Trsnporte/actualzarTranspore.php*/
.createTransporteUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 90px !important;
}
.createTransporteUser-arriba {
  display: flex;
  justify-content: center;
}
.createTransporteUser-arriba-crear {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 740px !important;
  height: 320px !important;
  padding: 20px;
  background-color: #000000 !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  opacity: 1;
}
.createTransporteUser-arriba-crear-sectionCrear {
  width: 700px;
  height: 320px !important;
  display: flex;
  flex-direction: column;
}
.createTransporteUser-arriba-crear-sectionCrear-formCrear {
  width: 700px;
  height: 220px;
}
.createTransporteUser-arriba-crear-sectionCrear-formCrear-label {
  color: white;
  margin-bottom: 10px !important;
}
.createTransporteUser-arriba-crear-sectionCrear-containerSection {
  width: 700px;
  height: 70px !important;
  margin-top: 20px;
}
.createTransporteUser-arriba-crear-sectionCrear-containerSection-divSection {
  display: flex;
  flex-direction: row;
}
.createTransporteUser-arriba-crear-sectionCrear-containerSection-divSection-alertSection {
  top: 0%;
  width: 400px;
  height: 70px;
}
.createTransporteUser-arriba-crear-sectionCrear-containerSection-divSection-alertSection-alert {
  display: flex;
  text-align: center;
  justify-content: start;
  width: 700px;
  height: 70px;
  font-size: 15px;
}
.createTransporteUser-arriba-crear-sectionCrear-containerSection-divSection-botonSection {
  width: 300px;
  height: 50px;
  margin-top: 2px;
}
.createTransporteUser-arriba-crear-sectionCrear-containerSection-divSection-botonSection-boton {
  display: flex;
  justify-content: end;
}
.createTransporteUser-arriba-crear-sectionCrear-containerSection-divSection-botonSection-boton-botonCrearTransporte {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 15px;
  border: 0px;
  width: 250px;
  padding: 5px;
  font-size: 20px;
}
.createTransporteUser-arriba-crear-sectionCrear-containerSection-divSection-botonSection-boton-botonCrearTransporte:hover {
  background: rgb(206, 203, 203);
  color: rgb(0, 0, 0);
}
.createTransporteUser-abajo {
  display: flex;
  justify-content: center;
}
.createTransporteUser-abajo-cardAtras {
  display: flex;
  justify-content: start;
  width: 740px;
  height: 70px;
  border-radius: 10px;
  opacity: 1;
  margin-right: 5px;
}
.createTransporteUser-abajo-cardAtras-cajitaInfo-boton {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.createTransporteUser-abajo-cardAtras-cajitaInfo-boton-linkCard {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  width: 220px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
}
.createTransporteUser-abajo-cardAtras-cajitaInfo-boton-linkCard:hover {
  background: rgb(31, 29, 29);
  color: rgb(255, 255, 255);
}

/*CREAR TRANSPORTE
presentacion/Trsnporte/actualzarTranspore.php*/
/*ESTILOS PARA PAGINA SELECCION TIPO TRANSPORTE bici o moto
se usa en Parqueadero/historialUsers/elegirOpcionesUser*/
.containerHistorialUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 160px !important;
}
.containerHistorialUser-infoEP {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.containerHistorialUser-infoEP-elegirP {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000 !important;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.4823529412);
  border-radius: 25px !important;
  opacity: 1;
  width: 300px;
  height: 200px;
  margin-right: 50px;
}
.containerHistorialUser-infoEP-elegirP-sectionArriba {
  height: 70vh;
  width: 100vw;
}
.containerHistorialUser-infoEP-elegirP-sectionArriba-foto {
  position: absolute;
}
.containerHistorialUser-infoEP-elegirP-sectionAbajo {
  height: 30vh;
  width: 100vw;
}
.containerHistorialUser-infoEP-elegirP:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0a0a0a !important;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.862745098);
  opacity: 1;
  width: 298px;
  height: 198px;
}

/*se usa en Parqueadero/historialUsers/elegirOpcionesUser
ESTILOS PARA PAGINA SELECCION TIPO TRANSPORTE bici o moto*/
/*ESTILOS PARA HISTORIAL ACTUAL-TIEMPO REAL  
se usa en Parqueadero/historialUsers/historialActualUser.php*/
.historialActualUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 90px !important;
}
.historialActualUser-arribaHAU {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.historialActualUser-arribaHAU-cardHAU {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 420px;
  background-color: black;
  padding: 12px;
  border-radius: 10px;
  margin-right: 10px;
}
.historialActualUser-arribaHAU-cardHAU-arribaSection {
  width: 380px !important;
  height: 250px !important;
  background-color: blue;
}
.historialActualUser-arribaHAU-cardHAU-arribaSection-fotoHAU {
  width: 380px !important;
  height: 230px !important;
}
.historialActualUser-arribaHAU-cardHAU-abajoSection {
  width: 380px !important;
  height: 170px !important;
}
.historialActualUser-arribaHAU-cardHAU-abajoSection-infoSection {
  width: 380px;
  height: 110px;
}
.historialActualUser-arribaHAU-cardHAU-abajoSection-botonSection {
  width: 380px;
  height: 60px;
  display: flex;
  justify-content: center;
}
.historialActualUser-arribaHAU-cardHAU-abajoSection-botonSection-cardInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px !important;
  border-radius: 10px;
  opacity: 1;
}
.historialActualUser-arribaHAU-cardHAU-abajoSection-botonSection-cardInfo-cajitaInfo-botones {
  display: flex;
  flex-direction: row;
}
.historialActualUser-arribaHAU-cardHAU-abajoSection-botonSection-cardInfo-cajitaInfo-botones-linkCard {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0) !important;
  border: 0px;
  width: 220px;
  height: 50px !important;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
}
.historialActualUser-arribaHAU-cardHAU-abajoSection-botonSection-cardInfo-cajitaInfo-botones-linkCard:hover {
  background: rgb(211, 207, 207);
  color: rgb(0, 0, 0);
}
.historialActualUser-abajoHAU {
  display: flex;
  justify-content: center;
}
.historialActualUser-abajoHAU-cardInfo {
  display: flex;
  justify-content: start;
  width: 820px;
  height: 70px !important;
  border-radius: 10px;
  opacity: 1;
  margin-right: 5px;
}
.historialActualUser-abajoHAU-cardInfo-cajitaInfo-botones {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.historialActualUser-abajoHAU-cardInfo-cajitaInfo-botones-linkCard {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  width: 220px;
  height: 50px !important;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
}
.historialActualUser-abajoHAU-cardInfo-cajitaInfo-botones-linkCard:hover {
  background: rgb(31, 29, 29);
  color: rgb(255, 255, 255);
}

#idFotoHAU {
  width: 380px !important;
  height: 230px !important;
}

.thHAU {
  color: white;
}

/*se usa en Parqueadero/historialUsers/historialActualUser.php 
ESTILOS PARA HISTORIAL ACTUAL-TIEMPO REAL*/
/*INICIO USUARIO
se usa en sesionUsuario.php*/
#imagenInicio {
  width: 490px;
  height: 200px;
}

#linkInicio {
  text-decoration: none;
}

.inicioUsers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 80px !important;
}
.inicioUsers-sectionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  height: 500px;
}
.inicioUsers-sectionContainer-cardsInicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 510px !important;
  height: 260px;
  background-color: rgb(0, 0, 0);
  border-radius: 15px !important;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.inicioUsers-sectionContainer-cardsInicio-imgInicio {
  width: 490px;
  height: 200px;
}
.inicioUsers-sectionContainer-cardsInicio-imgInicio-fotito {
  width: 490px;
  height: 200px;
}
.inicioUsers-sectionContainer-cardsInicio-linkInicio {
  width: 490px;
  height: 40px;
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: white;
}

#linkInicio {
  color: white;
}

/*se usa en sesionUsuario.php
INICIO USUARIO*/
/*

@mixin screenTamanio {
    .mostrarTexto::before {
        font-weight: bold;
        color: navy;
        content: "VUELVA AL TAMAÑO NORMAL DE SU ORDENADOR PARA VISUALIZAR MEJOR EL CONTENIDO";
    };
}

.mostrarTextoo{
    display: flex;
    justify-content: center;
    align-items: center;
    &-titulo::before{
        font-weight: bold;
        text-align: center;
        color: navy;
        content: "VUELVA AL TAMAÑO NORMAL DE SU ORDENADOR PARA VISUALIZAR MEJOR EL CONTENIDO";
    }
}

*/
/*RESPONSIVE*/
@media only screen and (max-height: 600px) and (min-height: 0px) {
  .titulosUsers {
    display: none;
  }
  .containerPC {
    display: none;
  }
  .cardFotoActualizarUser {
    display: none;
  }
  .actualizarPassUser {
    display: none;
  }
  .sectionCTUser {
    display: none;
  }
  .cardFotoActualizarUser {
    display: none;
  }
  .actualizarTransporteUser {
    display: none;
  }
  .createTransporteUser {
    display: none;
  }
  .containerHistorialUser {
    display: none;
  }
  .historialActualUser {
    display: none;
  }
  .inicioUsers {
    display: none;
  }
  .mostrarTextoo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    width: 500px;
    margin-left: 300px;
  }
  .mostrarTextoo-titulo::before {
    font-weight: bold;
    text-align: center;
    color: rgb(1, 1, 244);
    content: "VUELVA AL TAMAÑO NORMAL DE SU ORDENADOR PARA VISUALIZAR MEJOR EL CONTENIDO";
  }
}
@media (max-width: 1100px) {
  .titulosUsers {
    display: none;
  }
  .containerPC {
    display: none;
  }
  .cardFotoActualizarUser {
    display: none;
  }
  .actualizarPassUser {
    display: none;
  }
  .sectionCTUser {
    display: none;
  }
  .cardFotoActualizarUser {
    display: none;
  }
  .actualizarTransporteUser {
    display: none;
  }
  .createTransporteUser {
    display: none;
  }
  .containerHistorialUser {
    display: none;
  }
  .historialActualUser {
    display: none;
  }
  .inicioUsers {
    display: none;
  }
  .mostrarTextoo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 500px;
    margin-left: 100px;
    background-color: red;
  }
  .mostrarTextoo-titulo::before {
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    content: "VUELVA AL TAMAÑO NORMAL DE SU ORDENADOR PARA VISUALIZAR MEJOR EL CONTENIDO";
  }
}
@media only screen and (min-width: 1101px) and (max-width: 7920px) {
  .screenSize {
    display: none;
  }
  .mostrarTextoo {
    display: none;
  }
}

/*# sourceMappingURL=stylesUsuarios.css.map */
