* {
  margin: 0%;
  box-sizing: border-box;
}

.sectionLogin {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.sectionLogin-izqq {
  max-height: 100vh;
  max-width: 50vw;
  background-color: black;
}
.sectionLogin-izqq-imagenFondo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px !important;
}
.sectionLogin-derr {
  height: 100vh;
  width: 50vw;
  background-color: rgb(0, 0, 0);
}
.sectionLogin-derr-login {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionLogin-derr-login-clase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 400px;
  height: 580px;
}
.sectionLogin-derr-login-clase-arriba {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 450px;
}
.sectionLogin-derr-login-clase-arriba-titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  text-align: center;
}
.sectionLogin-derr-login-clase-arriba-imagen {
  width: 200px;
  height: 200px;
}
.sectionLogin-derr-login-clase-arriba-imagen-imagenLogo {
  width: 200px;
  height: 200px;
}
.sectionLogin-derr-login-clase-mitad {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 400px;
}
.sectionLogin-derr-login-clase-mitad-cardFormulario {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionLogin-derr-login-clase-mitad-cardFormulario-formlario {
  align-items: center;
  width: 300px;
}
.sectionLogin-derr-login-clase-mitad-cardFormulario-formlario-boton {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 0px;
  width: 300px;
  padding: 5px;
}
.sectionLogin-derr-login-clase-mitad-cardFormulario-formlario-boton:hover {
  background: rgb(31, 29, 29);
  color: rgb(255, 255, 255);
}
.sectionLogin-derr-login-clase-mitad-cardFormulario-formlario-recordarPassword {
  display: flex;
  justify-content: end;
}
.sectionLogin-derr-login-clase-abajo {
  width: 400px;
  height: 80px;
  padding-bottom: 10px;
}
.sectionLogin-derr-login-clase-abajo-registrar-letra {
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionLogin-derr-login-clase-abajo-registrar-hipervinculo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#noStyle {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#noStyleRegistrer {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

h1 {
  text-align: center;
}

a {
  text-decoration-style: none;
}

@media only screen and (max-width: 800px) {
  body {
    overflow-y: scroll;
  }
  .sectionLogin {
    display: flex;
    flex-direction: row;
  }
  .sectionLogin-izqq {
    display: none;
  }
  .sectionLogin-derr {
    width: 100%;
    background-color: rgb(0, 0, 0);
  }
  .sectionLogin-derr-cardFormulario {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1350px) {
  .sectionLogin {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
  }
  .sectionLogin-izqq {
    height: 100vh;
    width: 50vw;
    background-color: rgb(0, 0, 0);
  }
  .sectionLogin-izqq-imagenFondo {
    height: 500px;
  }
  .sectionLogin-derr {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 50vw;
  }
  .sectionLogin-derr-cardFormulario {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 1700px) and (min-width: 1351px) {
  .sectionLogin {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  .sectionLogin-izqq {
    height: 100vh;
    width: 50vw;
    background-color: rgb(0, 0, 0);
  }
  .sectionLogin-izqq-imagenFondo {
    height: 950px !important;
  }
  .sectionLogin-derr {
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 50vw;
  }
  .sectionLogin-derr-cardFormulario {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 1920px) and (min-width: 1701px) {
  .sectionLogin {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  .sectionLogin-izqq {
    height: 100vh;
    width: 50vw;
    background-color: rgb(0, 0, 0);
  }
  .sectionLogin-izqq-imagenFondo {
    height: 1150px !important;
  }
  .sectionLogin-der {
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 50vw;
  }
  .sectionLogin-der-cardFormulario {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=styles.css.map */
