@charset "UTF-8";
.tituloUsuario {
  font-size: 20px !important;
  margin-right: 40px;
}

.day {
  color: black;
}

.month {
  color: black;
}

.year {
  color: black;
}

.decade {
  color: black;
}

.century {
  color: black;
}

.old {
  color: black;
}

.fa-calendar {
  height: 23px;
}

.sectionACUA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 100px !important;
  margin-top: 50px;
}
.sectionACUA-arriba {
  display: flex;
  justify-content: center;
}
.sectionACUA-arriba-actualizar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 870px !important;
  height: 450px !important;
  padding: 20px;
  background-color: #000000;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  opacity: 1;
}
.sectionACUA-arriba-actualizar-sectionForm {
  margin-top: 10px;
  height: 300px;
  width: 830px;
  display: flex;
  flex-direction: column;
}
.sectionACUA-arriba-actualizar-sectionForm-label {
  color: white;
  margin-bottom: 10px !important;
}
.sectionACUA-arriba-actualizar-sectionForm-fecha {
  color: white;
}
.sectionACUA-arriba-actualizar-sectionForm-fecha-divFecha {
  display: flex;
  flex-direction: row;
}
.sectionACUA-arriba-actualizar-sectionForm-id {
  color: white;
}
.sectionACUA-arriba-actualizar-sectionButtonAlert {
  height: 100px !important;
  width: 830px !important;
  padding-top: 25px;
}
.sectionACUA-arriba-actualizar-sectionButtonAlert-containerBotonCrear {
  display: flex;
  flex-direction: row;
}
.sectionACUA-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionAlerta {
  width: 550px;
  height: 90px;
}
.sectionACUA-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionAlerta-alert {
  display: flex;
  height: 80px;
  width: 450px !important;
}
.sectionACUA-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionAlerta-alert-alerta {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 700px;
  height: 50px !important;
  font-size: 15px;
}
.sectionACUA-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionBoton {
  width: 280px;
  height: 80px;
}
.sectionACUA-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionBoton-botonsito {
  display: flex;
  justify-content: end;
}
.sectionACUA-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionBoton-botonsito-botonCrearUsuario {
  color: rgb(0, 0, 0);
  border-radius: 15px;
  border: 0px;
  width: 240px;
  padding: 5px;
  font-size: 20px;
}
.sectionACUA-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionBoton-botonsito-botonCrearUsuario:hover {
  background: rgb(206, 203, 203);
  color: rgb(0, 0, 0);
}
.sectionACUA-abajo {
  display: flex;
  justify-content: center;
  padding-left: 100px;
}
.sectionACUA-abajo-cardInfo {
  display: flex;
  justify-content: start;
  width: 870px;
  height: 70px;
  border-radius: 10px;
  opacity: 1;
  margin-right: 5px;
}
.sectionACUA-abajo-cardInfo-cajitaInfo-botones {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.sectionACUA-abajo-cardInfo-cajitaInfo-botones-linkCard {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  width: 220px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
}
.sectionACUA-abajo-cardInfo-cajitaInfo-botones-linkCard:hover {
  background: rgb(31, 29, 29);
  color: rgb(255, 255, 255);
}

.tituloTransporte {
  font-size: 20px !important;
  margin-right: 40px;
}

/*ACTUALIZAR CONTRASEÑA*/
.actualizarPass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 160px !important;
}
.actualizarPass-arriba {
  display: flex;
  justify-content: center;
}
.actualizarPass-arriba-crearPass {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 460px !important;
  height: 340px !important;
  padding: 20px;
  background-color: #000000 !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  opacity: 1;
}
.actualizarPass-arriba-crearPass-sectionActualizar {
  width: 460px;
  height: 380px !important;
  display: flex;
  flex-direction: column;
}
.actualizarPass-arriba-crearPass-sectionActualizar-formCrear {
  width: 420px;
  height: 270px;
}
.actualizarPass-arriba-crearPass-sectionActualizar-containerSection {
  width: 420px;
  height: 70px !important;
}
.actualizarPass-arriba-crearPass-sectionActualizar-containerSection-divSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.actualizarPass-arriba-crearPass-sectionActualizar-containerSection-divSection-alertSection {
  top: 0%;
  width: 260px;
  height: 70px !important;
}
.actualizarPass-arriba-crearPass-sectionActualizar-containerSection-divSection-alertSection-alert {
  display: flex;
  text-align: center;
  justify-content: start;
  width: 420px;
  height: 70px !important;
  font-size: 15px;
}
.actualizarPass-arriba-crearPass-sectionActualizar-containerSection-divSection-botonSection {
  width: 140px;
  height: 50px;
  margin-top: 2px;
}
.actualizarPass-arriba-crearPass-sectionActualizar-containerSection-divSection-botonSection-boton {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.actualizarPass-arriba-crearPass-sectionActualizar-containerSection-divSection-botonSection-boton-botonCrearTransporte {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 15px;
  border: 0px;
  width: 150px;
  padding: 5px;
  font-size: 20px;
}
.actualizarPass-arriba-crearPass-sectionActualizar-containerSection-divSection-botonSection-boton-botonCrearTransporte:hover {
  background: rgb(206, 203, 203);
  color: rgb(0, 0, 0);
}

/*CONSULTAR USUARIO Y CELADOR DESDE ADMIN*/
/* se usa en presentacion/usuario/consultarUsuario.php */
.tituloUsuario {
  font-size: 20px !important;
  margin-right: 40px;
}

#thPequenios {
  text-align: center;
  width: 20px;
}

#proyecto {
  text-align: center;
  width: 160px;
}

#nombreCompleto {
  width: 180px;
  text-align: center;
}

#codeStudente {
  text-align: center;
  width: 130px;
}

#email {
  text-align: center;
}

/*CONSULTAR TODO BICICLETA CTB DESDE CELADOR Y ADMIN*/
.fotoConsultar {
  width: 25px !important;
  height: 25px !important;
}

#fotoUsuarioCTB {
  width: 25px !important;
  height: 25px !important;
  border-radius: 50px !important;
}

#iconosCTB {
  text-decoration: none !important;
  margin-right: 4px;
}

#nameUser {
  width: 180px;
}

.estadoUsuario {
  width: 30px;
}

#estado {
  text-align: center;
  width: 50px;
}

#services {
  text-align: center;
  width: 100px;
}

#strPO {
  width: 20px;
}

#codeStudent {
  text-align: center;
  width: 150px;
}

#nameUser {
  width: 500px;
}

#holaaa {
  overflow-y: scroll;
}

.tituloConsulta {
  margin-top: 40px;
}

.codigoUsuario {
  width: 130px;
}

#captionRegistros {
  color: white;
  font-size: 13px;
  margin-left: 20px;
}

.sectionDobleConsultarCU {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sectionDobleConsultarCU-consulta {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}
.sectionDobleConsultarCU-consulta-info {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center !important;
  width: 1100px;
  height: 480px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
}
.sectionDobleConsultarCU-consulta-info-arca {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sectionDobleConsultarCU-consulta-info-arca-arriba {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  width: 240px;
  height: 40px;
}
.sectionDobleConsultarCU-consulta-info-arca-mitad {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  background-color: rgb(0, 0, 0);
  width: 1100px;
  height: 360px !important;
  margin-bottom: 30px;
}
.sectionDobleConsultarCU-consulta-info-arca-mitad-tabla {
  display: flex;
  flex-direction: column;
  width: 1100px;
  height: 360px !important;
}
.sectionDobleConsultarCU-consulta-info-arca-abajo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  width: 700px;
  height: 40px;
}
.sectionDobleConsultarCU-consulta-infoVolver {
  display: flex;
  justify-content: start;
  width: 1100px;
  height: 70px;
}
.sectionDobleConsultarCU-consulta-infoVolver-botones {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.sectionDobleConsultarCU-consulta-infoVolver-botones-linkCard {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  width: 220px;
  height: 50px !important;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
}
.sectionDobleConsultarCU-consulta-infoVolver-botones-linkCard:hover {
  background: rgb(31, 29, 29);
  color: rgb(255, 255, 255);
}

.page-link {
  background-color: rgb(255, 255, 255) !important;
  border-color: black !important;
}
.page-link:hover {
  background-color: rgb(101, 96, 96) !important;
}

/*CONSULTAR USUARIO Y CELADOR DESDE ADMIN*/
/*CONSULTAR USUARIOS CON  AJAX*/
/*se usa en consultarUsuarios.php*/
.containerBuscarUsuario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 160px !important;
}
.containerBuscarUsuario-cuerpo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center !important;
}
.containerBuscarUsuario-cuerpo-cardParqueadero {
  display: flex;
  justify-content: center;
  background-color: #000000;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.4823529412);
  border-radius: 25px;
  opacity: 1;
  width: 1000px;
  height: 80px;
}
.containerBuscarUsuario-cuerpo-cardParqueadero-buscar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 950px;
}
.containerBuscarUsuario-cuerpo-cardParqueadero-buscar-inputBuscar {
  display: flex;
  justify-content: start;
  flex-direction: row;
}
.containerBuscarUsuario-cuerpo-cardParqueadero-buscar-inputBuscar-osiriras {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 750px;
}
.containerBuscarUsuario-cuerpo-cardParqueadero-buscar-inputBuscar-osiriras-labelBuscar {
  display: flex;
  justify-content: start;
  align-items: center !important;
  text-align: center !important;
  height: 20px;
  width: 100px !important;
  margin-top: 10px;
}
.containerBuscarUsuario-cuerpo-cardParqueadero-buscar-inputBuscar-osiriras-inputt {
  width: 350px !important;
  height: 50px;
}
.containerBuscarUsuario-cuerpo-cardInfo {
  display: flex;
  justify-content: center;
  background-color: #000000;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.4823529412);
  border-radius: 25px;
  opacity: 1;
  width: 1000px;
  height: 350px;
}
.containerBuscarUsuario-cuerpo-cardInfo-tabla {
  display: flex;
  flex-direction: column;
  width: 980px !important;
  border-radius: 25px;
}
.containerBuscarUsuario-cuerpo-cardInfo-tabla-alertaNoResultados {
  margin-top: 50px;
}
.containerBuscarUsuario-cuerpo-botonn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.containerBuscarUsuario-cuerpo-botonn-botoness {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 1000px;
  height: 60px !important;
  border-radius: 10px;
  opacity: 1;
  margin-right: 5px;
}
.containerBuscarUsuario-cuerpo-botonn-botoness-linkCardd {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  width: 220px;
  height: 40px !important;
  padding: 8px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 18px;
  margin-right: 8px;
}
.containerBuscarUsuario-cuerpo-botonn-botoness-linkCardd:hover {
  background: rgb(31, 29, 29);
  color: rgb(255, 255, 255);
}

#userCode {
  color: white;
  width: 130px !important;
}

/*CONSULTAR USUARIOS CON  AJAX*/
/*se usa en consultarUsuarios.php*/
@media only screen and (min-height: 0px) and (max-height: 580px) {
  .tituloConsulta {
    display: none;
  }
  .tituloTransporte {
    display: none;
  }
  .containerBuscarUsuario {
    display: none;
  }
  .sectionDobleConsultarCU {
    display: none;
  }
  .actualizarPass {
    display: none;
  }
  .sectionDobleConsultarCU {
    display: none;
  }
  .sectionACUA {
    display: none;
  }
  .sectionACUA-abajo {
    display: none;
  }
  .visi {
    display: flex;
    margin-top: 50px;
    margin-left: 250px;
    width: 550px;
    height: 50px;
    background-color: #000000;
  }
  .visi-visibilidad {
    font-size: 20px;
    color: rgb(255, 196, 0);
    font-weight: bold;
  }
  .tamPantalla {
    display: flex;
    margin-top: 50px;
    margin-left: 250px;
    width: 550px;
    height: 50px;
    background-color: #000000;
  }
  .tamPantalla-pantalla {
    font-size: 20px;
    color: rgb(255, 196, 0);
    font-weight: bold;
  }
}
@media screen and (max-width: 1099.9px) {
  .tituloConsulta {
    display: none;
  }
  .tituloTransporte {
    display: none;
  }
  .containerBuscarUsuario {
    display: none;
  }
  .sectionDobleConsultarCU {
    display: none;
  }
  .actualizarPass {
    display: none;
  }
  .sectionDobleConsultarCU {
    display: none;
  }
  .sectionACUA {
    display: none;
  }
  .sectionACUA-abajo {
    display: none;
  }
  .visi {
    display: flex;
    margin-top: 50px;
    margin-left: 250px;
    width: 680px;
    height: 190px;
    background-color: #000000;
  }
  .visi-visibilidad {
    margin-top: 20px;
    font-size: 40px;
    color: red;
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-align: center;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1520px) {
  .visi {
    display: none;
  }
  .tamPantalla {
    display: none;
  }
}

/*# sourceMappingURL=stylesUsers.css.map */
