$colorBotonVolver : rgb(31, 29, 29);




  

/*ESTILOS PARA PAGINA SELECCION usuario y celador*/
/*se ubica en presentacion/usuario/pagSeleccionUsuario.php*/
.containerSeleccion{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center; 
    margin-top: 150px;
    padding-left: 100px;
    &-elegir{
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-radius: 25px !important;
        background: #000000 !important;
        box-shadow: 0px 3px 16px #0000007b;
        opacity: 1;
        width: 500px;
        height: 200px;
        &-izqCard{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 200px;
            &-imagenCard{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        &-derechaCard{
            display: flex;
            flex-direction: column;
            width: 300px;
            height: 200px;
            &-infoArriba{
                height: 60px;
                width: 300px;
                &-titulo{
                    margin-top: 20px;
                    text-align: center;
                    color: white;
                    font-size: 25px;
                }
            }
            &-infoAbajo{
                height: 140px;
                width: 300px; 
                &-botonCard{
                    display: flex;
                    justify-content: center;
                    margin-top: 70px;
                    &-linkCard{ 
                        background: rgb(255, 255, 255);
                        color: rgb(0, 0, 0) !important;
                        border: 0px;
                        width: 220px; 
                        padding: 10px;
                        text-align: center;
                        border-radius: 10px;
                        text-decoration: none;
                        font-size: 15px bold;
                        &:hover{
                            background: rgb(206, 203, 203);
                            color: rgb(0, 0, 0);
                        }
                    }
                }
            }
        }
    }
} 

/*se ubica en presentacion/usuario/pagSeleccionUsuario.php*/
/*ESTILOS PARA PAGINA SELECCION usuario y celador*/



.aIconos{
    color: white;
    text-decoration: none;
}

.titulosAdmin{
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-left: 100px;
    margin-top: 50px; 
}

.fas{
    color: rgb(255, 255, 255);
}
.fa-pencil-ruler{
    color: white;
    &:hover{
        color: white;
    }
}

.fa-wrench{
    color: white;
    &:hover{
        color: white;
    }
}
.fa-eye{
    color: white;
    &:hover{
        color: white;
    }
}
.fa-user-check{
    color: white;
    &:hover{
        color: white;
    }
}
.fa-user-times{
    color: white;
    &:hover{
        color: white;
    }
}
.sgte{
    color: #000000 !important;
}
.page-link{
    color: #000000 !important;
}

/*CONSULTAR USUARIOS Y CELADORES CON  AJAX*/
/*se usa en consultarUsuarios.php*/
.containerUsuariosAdmin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 160px !important;
    &-cuerpo{   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center !important;
        &-cardParqueadero{
            display: flex;
            justify-content: center;
            background-color: #000000;
            box-shadow: 0px 3px 16px #0000007b;
            border-radius: 25px; 
            opacity: 1;
            width: 1000px;
            height: 80px;
            &-buscar{
                display: flex;
                flex-direction: row; 
                justify-content: start;
                width: 950px;
                &-inputBuscar{
                    display: flex;
                    justify-content: start;
                    flex-direction: row;
                    &-osiriras{
                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        align-items: center;
                        width: 750px;
                        &-labelBuscar{
                            display: flex;
                            justify-content: start;
                            align-items: center !important;
                            text-align: center !important;
                            
                            height: 20px;
                            width: 130px !important;
                            margin-top: 10px;
                            color: rgb(255, 255, 255);
                        }
                        &-inputt{
                            width: 350px !important;
                            height: 50px;
                        } 
                    }
                }
            } 
        }
        &-cardInfo{
            display: flex;
            justify-content: center;
            background-color: #000000;
            box-shadow: 0px 3px 16px #0000007b;
            border-radius: 25px;
            opacity: 1;
            width: 1000px;
            height: 350px;
            &-tabla{
                max-width: 100% !important; 
                &-containerTabla{
                    max-width: 100% !important; 
                    max-height: 98% !important;
                    display: block;
                    position: relative;
                    overflow: auto;
                    &-heyAjaxCelador{
                        max-width: 100% !important; 
                        margin-top: 10px;
                        position: relative;
                        &-theadAjax{
                            border-radius: 10px !important;
                            &-trAjaxCelador{
                                &-numero{
                                    width: 10px !important;
                                }
                                &-foto{
                                    width: 50px !important;
                                }
                                &-nombre{
                                    width: 220px !important;
                                }
                                &-email{
                                    width: 320px !important;
                                    text-align: center;
                                }
                                &-services{
                                    text-align: center;
                                }
                            }

                        }
                            
                        &-tbAjaxCelador{
                            max-width: 100%;
                            background-color: #0d0d0d;
                            &-fotoConsultar{
                                border-radius: 50px;
                                width: 40px;
                                height: 40px;
                            }
                            &-nombreTH{
                                width: 50px;
                            }
                            &-emailTH{
                                text-align: center;
                                padding-top: 15px !important;
                            }
                            &-codeStudenteTH{
                                text-align: center;
                                padding-top: 15px !important;
                            }
                            &-estadoTH{
                                text-align: center;
                                padding-top: 15px !important;
                            }
                            &-servicesTH{
                                text-align: center;
                                padding-top: 15px !important;
                            }
                            &-numero{
                                width: 10px !important;
                            }
                        }
                    }
                }
                &-alertaNoResultados{
                    margin-top: 50px;
                }
                &-foto{
                    text-align: center;
                }
                &-fotoConsultar{
                    width: 25px !important;
                    height: 25px !important;
                    text-align: center;
                    border-radius: 50px;
                }  
                &-foto{
                    text-align: center;
                }
                &-email{
                    text-align: center !important;
                }
                &-codeStudente{
                    text-align: center;
                }
                &-estado{
                    text-align: center;
                }
                &-estaadoTH{
                    text-align: center;
                }
            }
        }
        &-botonn{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            &-botoness{
                display: flex;
                align-items: center;
                justify-content: start;
                width: 1000px;
                height: 60px !important;
                border-radius: 10px;
                opacity: 1;
                margin-right: 5px;
                &-linkCardd{    
                    background: rgb(0, 0, 0);
                    color: rgb(255, 255, 255) !important;
                    border: 0px;
                    width: 220px; 
                    height: 40px !important;
                    padding: 8px;
                    text-align: center;
                    border-radius: 20px;
                    text-decoration: none;
                    font-size: 18px;
                    margin-right: 8px;
                    &:hover{
                        background: $colorBotonVolver;
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
    }
}


/*CONSULTAR USUARIOS CON  AJAX*/
/*se usa en consultarUsuarios.php*/




.containerListadoUsuariosAdmin{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    &-consulta{
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        &-info{
            display: flex;
            flex-direction: row;
            justify-content: center !important;
            align-items: center !important;
            width: 1000px;
            height: 480px;
            border-radius: 10px;
            background-color: rgb(0, 0, 0);
            &-arca{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column; 
                &-arriba{   
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: rgb(0, 0, 0);
                    width: 240px;
                    height: 40px;
                } 
                &-mitad{
                    display: flex;
                    justify-content: center !important;
                    align-items: center !important;
                    background-color: rgb(11, 11, 11);
                    width: 1000px; 
                    height: 360px !important;
                    margin-bottom: 30px;    
                    &-tabla{
                        display: flex;
                        flex-direction: column;
                        width: 990px; 
                        height: 360px !important; 
                        overflow-y: auto;
                        &-fotoConsultar{
                            width: 25px !important;
                            height: 25px !important;
                            text-align: center;
                            border-radius: 50px;
                        }  
                        &-email{
                            text-align: center !important;
                        }
                        &-picA{
                            text-align: center;
                            padding-top: 15px !important;
                        }
                        &-emailA{
                            text-align: center;
                            padding-top: 15px !important;
                        }
                        &-codeStudente{ 
                            text-align: center;
                        }
                        &-codeStudenteA{ 
                            text-align: center;
                            padding-top: 15px !important;
                        }
                        &-estado{
                            text-align: center;
                        }
                        &-estadoA{
                            text-align: center;
                            padding-top: 15px !important;
                        }
                        &-serviciosA{
                            text-align: center;
                            padding-top: 15px !important;
                        }
                        &-thead{
                            &-capacidad{
                                text-align: center;
                                align-items: center;
                            }
                        }
                    }
                }
                &-abajo{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: rgb(0, 0, 0);
                    width: 700px;
                    height: 30px;
                } 
            }
        }
        &-infoVolver{
            display: flex;
            justify-content: start;
            width: 1000px;
            height: 70px;
            &-botones{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                &-linkCard{    
                    background: rgb(0, 0, 0);
                    color: rgb(255, 255, 255) !important;
                    border: 0px;
                    width: 220px; 
                    height: 50px !important;
                    padding: 10px;
                    text-align: center;
                    border-radius: 20px;
                    text-decoration: none;
                    font-size: 20px;
                    margin-right: 10px;
                    &:hover{
                        background: $colorBotonVolver;
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
    }
}

.page-link{
    background-color: rgb(255, 255, 255) !important;
    border-color: black !important;
    &:hover{
        background-color: rgb(101, 96, 96) !important;
    }
}
/*CONSULTAR USUARIO Y CELADOR DESDE ADMIN*/






.sectionActualizarUserAdmin{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    &-arriba{
        display: flex;
        justify-content: center;
        &-actualizar{
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 870px !important;
            height: 450px !important;
            padding: 20px;
            background-color: #000000;
            box-shadow: 0 15px 25px rgba(0,0,0,.6);
            border-radius: 10px;
            opacity: 1;
            &-sectionForm{
                margin-top: 10px;
                height: 300px;
                width: 830px;
                display: flex;
                flex-direction: column;
                &-label{
                    color: white;
                    margin-bottom: 10px !important;
                }
                &-fecha{
                    color: white;
                    &-divFecha{
                        display: flex;
                        flex-direction: row;
                    }
                }
                &-id{
                    color: white;
                }
            }
            &-sectionButtonAlert{
                height: 100px !important;
                width: 830px !important;
                padding-top: 25px;
                &-containerBotonCrear{
                    display: flex;
                    flex-direction: row;
                    &-sectionAlerta{
                        width: 550px;
                        height: 90px;
                        &-alert{ 
                            display: flex;
                            height: 80px;
                            width: 450px !important;
                            &-alerta{
                                display: flex;
                                text-align: center;
                                justify-content: center;
                                width: 700px; 
                                height: 50px !important;
                                font-size: 15px;
                            }
                        } 
                    }
                    &-sectionBoton{
                        width: 280px;
                        height: 80px;
                        &-botonsito{
                            display: flex;
                            justify-content: end;
                            &-botonCrearUsuario{
                                color: rgb(0, 0, 0);
                                border-radius: 15px;
                                border: 0px;
                                width: 240px; 
                                padding: 5px;
                                font-size: 20px;
                                &:hover{
                                    background: rgb(206, 203, 203);
                                    color: rgb(0, 0, 0);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &-abajo{
        display: flex;
        justify-content: center;
        padding-left: 100px;
        &-cardInfo{
            display: flex;
            justify-content: start;
            width: 870px !important;
            height: 70px;
            border-radius: 10px;
            opacity: 1;
            margin-right: 5px;
            &-cajitaInfo{
                &-botones{
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    &-linkCard{    
                        background: rgb(0, 0, 0);
                        color: rgb(255, 255, 255) !important;
                        border: 0px;
                        width: 220px; 
                        padding: 10px;
                        text-align: center;
                        border-radius: 20px;
                        text-decoration: none; 
                        font-size: 20px;
                        &:hover{
                            background: $colorBotonVolver;
                            color: rgb(255, 255, 255);
                        }
                    }
                }
            }
        }
    } 
    &-abajoo{
        display: flex;
        justify-content: center;
        &-cardInfo{
            display: flex;
            justify-content: start;
            width: 870px;
            height: 70px;
            border-radius: 10px;
            opacity: 1;
            margin-right: 5px;
            &-cajitaInfo{
                &-botones{
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    &-linkCard{    
                        background: rgb(0, 0, 0);
                        color: rgb(255, 255, 255) !important;
                        border: 0px;
                        width: 220px; 
                        padding: 10px;
                        text-align: center;
                        border-radius: 20px;
                        text-decoration: none; 
                        font-size: 20px;
                        &:hover{
                            background: $colorBotonVolver;
                            color: rgb(255, 255, 255);
                        }
                    }
                }
            }
        }
    } 
}


#captionRegistros{ 
    color: rgb(255, 255, 255);
    font-size: 13px;
    margin-left: 15px;
}

/*ESTILOS CALENDARIO*/
.day{
    color: black;
}

.month{
    color: black;
}

.year{
    color: black;
}

.decade{
    color: black;
}

.century{
    color: black;
}

.old{
    
    color: black;
}

.fa-calendar{
    height: 23px;
}


.fa-motorcycle{
    color: rgb(255, 255, 255);
    font-size: 150px;
}

.fa-bicycle{
    margin-left: 30px;
    color: rgb(255, 255, 255);
    font-size: 150px;
}

.fa-user{
    color: white;
    font-size: 150px;
}

.fa-search{
    color: white;
    font-size: 150px;
    margin-left: 20px;
}

.containerCardMotoBiciAdmin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 160px !important;
    &-infoCMB{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        &-elegir{
            display: flex;
            justify-content: center;
            align-items: center;
            background: #000000 !important;
            box-shadow: 0px 3px 16px #0000007b;
            border-radius: 25px !important;
            opacity: 1;
            width: 350px;
            height: 250px;
            margin-right: 50px;
            &-sectionArriba{
                height: 70vh;
                width: 100vw;
                &-foto{
                    position: absolute;
                }
            }
            &-sectionAbajo{
                height: 30vh;
                width: 100vw;
            }
            &:hover{
                display: flex;
                justify-content: center;
                align-items: center;
                background: #0a0a0a !important;
                box-shadow: 0px 3px 16px #000000dc;
                opacity: 1;
                width: 352px;
                height: 252px;
            }
            
        }
    }
}

#noSubo{
    text-decoration: none !important;
    color: #ffffff;
}


/*SELECCION PARQUEADERO*/

/*ESTILOS PARA PAGINA SELECCION TIPO TRANSPORTE bici o moto*/
.parkingCardMotoBiciAdmin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 160px !important;
    &-EPS{
        max-width: auto;
        &-arribaSectionEPS{
            &-crearParqueadero{
                display: flex;
                align-items: center;
                justify-content: start;
                width: 1000px;
                height: 70px;
                border-radius: 20px;
                &-botonCrear{
                    &-linkCrear{    
                        background: rgb(0, 0, 0);
                        color: rgb(255, 255, 255) !important;
                        border: 0px;
                        width: 400px !important; 
                        height: 40px !important;
                        padding: 15px;
                        text-align: center;
                        border-radius: 20px;
                        text-decoration: none;
                        font-size: 15px;
                        margin-right: 8px;
                        &:hover{
                            background: $colorBotonVolver;
                            color: rgb(255, 255, 255);
                        }
                    }
                    
                }
            }
        }
        &-abajoSectionEPS{
            &-infoCMB{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 10px;
                &-elegir{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #000000 !important;
                    box-shadow: 0px 3px 16px #0000007b;
                    border-radius: 25px !important;
                    opacity: 1;
                    width: 250px; 
                    height: 150px;
                    margin-right: 20px;
                    margin-top: 20px;
                    &-sectionArriba{
                        height: 70vh;
                        width: 100vw;
                        &-foto{
                            position: absolute;
                        }
                    }
                    &-sectionAbajo{
                        height: 30vh;
                        width: 100vw;
                    }
                    
        
                    &-arribaEPS{
                        text-align: center;
                        margin-top: 5px;
                        width: 200px;
                        height: 120px;
                    }
                    &-abajoEPS{
                        text-align: center;
                        width: 200px;
                        height: 80px;
                        &-puestosEPS{
                            color: rgb(255, 255, 255);
                        }
                    }
                    &:hover{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: #0a0a0a !important;
                        box-shadow: 0px 3px 16px #000000dc;
                        opacity: 1;
                        width: 251px; 
                        height: 151px;
                    }
                    
                }
            }
        }
    }
}



.parkingBuscarParqueadero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 150px !important;
    &-cuerpo{   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center !important;
        &-cardParqueadero{
            display: flex;
            justify-content: center;
            background-color: #000000;
            box-shadow: 0px 3px 16px #0000007b;
            border-radius: 25px;
            opacity: 1;
            width: 1000px;
            height: 80px;
            &-buscar{
                display: flex;
                flex-direction: row;
                justify-content: start;
                width: 950px;
                &-inputBuscar{
                    display: flex;
                    justify-content: start;
                    flex-direction: row;
                    &-osiriras{
                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        align-items: center;
                        width: 950px;
                        &-labelBuscar{
                            display: flex;
                            justify-content: start;
                            align-items: center !important;
                            text-align: center !important;
                            height: 20px;
                            width: 100px !important;
                            margin-top: 10px;
                            &-controlOpciones{
                                width: 130px !important;
                                color: rgb(255, 255, 255);
                                margin-top: 5px;
                            }
                        }
                        &-inputt{
                            width: 250px !important;
                            height: 50px !important;
                            margin-right: 80px !important;
                        }
                        &-controlOpcioness{
                            margin-left: 20px;
                            width: 200px !important;
                        }
                    }
                } 
            }
        }
        &-cardInfo{
            display: flex;
            justify-content: center;
            background-color: #000000;
            box-shadow: 0px 3px 16px #0000007b;
            border-radius: 25px;
            opacity: 1;
            width: 1000px;
            height: 260px;
            &-tablaAjax{
                width: 950px !important;
                background-color: rgb(0, 0, 0); 
                &-fotoA{
                    text-align: center;
                    width: 50px;
                }
                &-fotoAjax{
                    border-radius: 50px;
                    width: 40px;
                    height: 40px;
                    margin-left: 10px;
                    align-items: center;
                    text-align: center;
                }
                &-nombree{
                    padding-top: 15px !important;
                }
                &-nombreA{
                    width: 200px;
                }
                &-proyecto{
                    width: 250px !important;
                    text-align: center !important;
                }
                
                &-proyectoA{
                    padding-top: 15px !important;
                    text-align: center;
                }
                &-codeStudente{
                    text-align: center;
                    width: 180px !important;
                }
                &-codeStudenteA{
                    padding-top: 15px !important;
                    text-align: center;
                }
                &-estado{
                    text-align: center;
                    width: 150px !important;
                }
                &-estadoA{
                    padding-top: 15px !important;
                    text-align: center;
                }
                &-servicios{
                    text-align: center;
                    width: 90px !important;
                }
                &-serviciosA{
                    padding-top: 15px !important;
                    text-align: center;
                }
                &-hora{
                    text-align: center;
                }
                &-horaA{
                    padding-top: 15px !important;
                    text-align: center;
                }
            }
            &-cardBotoon{
                justify-content: start;
                &-botoon{
                    background-color: #ffffff;
                    box-shadow: 0px 3px 12px #0000007b;
                    border: 0px;
                    width: 220px; 
                    height: 40px !important;
                    padding: 8px;
                    text-align: center;
                    border-radius: 20px;
                    text-decoration: none;
                    font-size: 18px;
                    margin-right: 8px;
                    &:hover{
                        background: rgb(206, 203, 203);
                        color: rgb(0, 0, 0);
                    }
                }
            }
            &-alertaNoResultados{
                margin-top: 50px;
            }
        }
        &-cardOpciones{
            display: flex;
            justify-content: center;
            background-color: #000000;
            box-shadow: 0px 3px 16px #0000007b;
            border-radius: 25px;
            opacity: 1;
            width: 1000px;
            height: 90px;
            margin-top: 20px;
            &-opcionesFormr{
                display: flex;
                flex-direction: row;
                align-items: start;
                width: 950px !important;
                height: 90px;
                &-actualizar{
                    display: flex;
                    align-items: start; 
                    flex-direction: row;
                    &-opcionesForm{
                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        align-items: center;
                        width: 1000px;
                        height: 90px;
                        &-alertas{
                            height: 50px;
                            width: 230px;
                            margin-top: 13px;
                            margin-left: 20px;
                        }
                        &-controlFormulario{
                            display: flex;
                            justify-content: start;
                            align-items: center !important;
                            text-align: center !important;
                            width: 700px;
                            height: 50px !important;
                            margin-top: 20px;
                            &-controlOpciones{
                                width: 130px !important;
                                color: white;
                            }
                            &-controlOpcionesLabel{
                                width: 220px !important;
                                margin-right: 50px;
                            }
                            &-botonActualizar{
                                background: rgb(255, 255, 255);
                                color: rgb(0, 0, 0) !important;
                                border: 0px;
                                width: 220px; 
                                height: 40px !important;
                                padding: 8px;
                                text-align: center;
                                border-radius: 20px;
                                text-decoration: none;
                                font-size: 18px;
                                margin-right: 8px;
                                    &:hover{
                                        background: rgb(99, 96, 96);
                                        color: rgb(255, 255, 255);
                                    }
                            }
                        }
                    }
                }

            }  
        }
        &-botonn{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            &-cardAbajo{
                display: flex;
                align-items: center;
                justify-content: start;
                width: 1000px;
                height: 60px !important;
                border-radius: 10px;
                opacity: 1;
                margin-right: 5px;
                &-info{

                    &-botoness{
                        display: flex;
                        flex-direction: column;
                        justify-content: start;
                        &-linkCardd{    
                            background: rgb(0, 0, 0);
                            color: rgb(255, 255, 255) !important;
                            border: 0px;
                            width: 220px; 
                            height: 40px !important;
                            padding: 8px;
                            text-align: center;
                            border-radius: 20px;
                            text-decoration: none;
                            font-size: 18px;
                            margin-right: 8px;
                            &:hover{
                                background: $colorBotonVolver;
                                color: rgb(255, 255, 255);
                            }
                        } 
                    }
                }
                
            }
        }
    }
}




/* CONSULTAR TODO BICICLETA CTB DESDE CELADOR Y ADMIN */
/* se usa en presentacion/Transporte/consultarTodosBicicletas.php */

.listadoConsultarCTB{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding-left: 100px !important;
    &-consulta{
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        &-info{
            display: flex;
            flex-direction: row;
            justify-content: center !important;
            align-items: center !important;
            width: 1100px;
            height: 430px;
            border-radius: 10px;
            background-color: rgb(0, 0, 0);
            &-arca{ 
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column; 
                &-arriba{   
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: rgb(0, 0, 0);
                    width: 240px;
                    height: 40px;
                } 
                &-mitad{
                    display: flex;
                    justify-content: center !important;
                    align-items: center !important;
                    background-color: rgb(11, 11, 11);
                    width: 1100px;
                    height: 300px !important;
                    margin-bottom: 30px;    
                    &-tabla{
                        display: flex;
                        flex-direction: column;
                        width: 1100px; 
                        height: 300px !important;
                        margin-left: 4px;  
                        overflow-y: auto; 
                        &-fotoConsultar{
                            width: 25px !important;
                            height: 25px !important;
                            text-align: center;
                            border-radius: 50px;
                        }  
                        &-fotoConsultar{
                            text-align: center;
                        }
                        &-codeStudente{
                            text-align: center;
                        }
                        &-estado{
                            text-align: center;
                        }
                        &-services{
                            text-align: center;
                        }
                    }
                }
                &-abajo{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background-color: rgb(0, 0, 0);
                    width: 700px;
                    height: 40px;
                } 
            }
        }
        &-infoVolver{
            display: flex;
            justify-content: start;
            width: 1100px;
            height: 70px;
            &-botones{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                &-linkCard{    
                    background: rgb(0, 0, 0);
                    color: rgb(255, 255, 255) !important;
                    border: 0px;
                    width: 220px; 
                    height: 50px !important;
                    padding: 10px;
                    text-align: center;
                    border-radius: 20px;
                    text-decoration: none;
                    font-size: 20px;
                    margin-right: 10px;
                    &:hover{
                        background: $colorBotonVolver;
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
    }
}

.page-link{
    background-color: rgb(255, 255, 255) !important;
    border-color: black !important;
    &:hover{
        background-color: rgb(101, 96, 96) !important;
    }
}

/*FIN*/
/* se usa en presentacion/Transporte/consultarTodosBicicletas.php */
/*CONSULTAR TODO BICICLETA CTB DESDE CELADOR Y ADMIN*/






/*SE USA EN actualizarTransporte-admin.php desde ADMIN*/
.sectionATA{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 100px !important;
    &-arriba{
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-actualizar{
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 870px !important;
            height: 270px !important;
            padding: 20px;
            background-color: #000000;
            box-shadow: 0 15px 25px rgba(0,0,0,.6);
            border-radius: 10px;
            opacity: 1;
            &-sectionForm{
                height: 150px;
                width: 830px;
                display: flex;
                flex-direction: column;
                &-label{
                    color: white;
                    margin-bottom: 5px !important;
                }
            }
            &-sectionButtonAlert{
                height: 70px !important;
                width: 870px !important;
                margin-top: 10px;
                &-containerBotonCrear{
                    display: flex;
                    flex-direction: row;
                    &-sectionAlerta{
                        width: 550px;
                        height: 90px;
                        &-alert{ 
                            display: flex;
                            height: 80px;
                            width: 450px !important;
                            &-alerta{
                                display: flex;
                                text-align: center;
                                justify-content: center;
                                width: 700px; 
                                height: 50px !important;
                                font-size: 15px;
                            }
                        } 
                    }
                    &-sectionBoton{
                        width: 280px;
                        height: 80px;
                        &-botonsito{
                            display: flex;
                            justify-content: end;
                            &-botonCrearUsuario{
                                color: rgb(0, 0, 0);
                                border-radius: 15px;
                                border: 0px;
                                width: 240px; 
                                padding: 5px;
                                font-size: 20px;
                                &:hover{
                                    background: rgb(206, 203, 203);
                                    color: rgb(0, 0, 0);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    &-abajo{
        display: flex;
        justify-content: center;
        &-cardInfo{
            display: flex;
            justify-content: start;
            width: 870px;
            height: 70px;
            border-radius: 10px;
            opacity: 1;
            margin-right: 5px;
            &-cajitaInfo{
                &-botones{
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    &-linkCard{    
                        background: rgb(0, 0, 0);
                        color: rgb(255, 255, 255) !important;
                        border: 0px;
                        width: 220px; 
                        padding: 10px;
                        text-align: center;
                        border-radius: 20px;
                        text-decoration: none; 
                        font-size: 20px;
                        &:hover{
                            background: $colorBotonVolver;
                            color: rgb(255, 255, 255);
                        }
                    }
                }
            }
        }
    } 
}
/*SE USA EN actualizarTransporte-admin.php desde ADMIN*/




/*se usa en crearCelador.php desde ADMIN*/
.sectionDobleCC{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 100px !important;
    &-arriba{
        display: flex; 
        justify-content: center;
        &-consultarr{
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 830px !important;
            height: 450px !important;
            padding: 20px;
            background-color: #000000;
            box-shadow: 0 15px 25px rgba(0,0,0,.6);
            border-radius: 10px;
            opacity: 1;
            &-sectionFormulario{
                height: 350px;
                display: flex;
                flex-direction: column;
                padding: 5px;
                &-label{
                    color: white;
                    width: 390px !important;
                    margin-right: 10px;
                }
                &-labelCorreo{
                    color: white;
                    width: 790px !important;
                }
                &-fecha{
                    color: white;
                    width: 400px !important;
                    &-divFecha{
                        display: flex;
                        flex-direction: row;
                        width: 360px !important;
                    }
                }
            }
            &-sectionButtonAlert{
                height: 80px;
                &-containerBotonCrear{
                    display: flex;
                    flex-direction: row;
                    &-sectionAlerta{
                        top: 0%;
                        width: 550px;
                        height: 90px;
                        &-alert{
                            display: flex;
                            width: 450px !important;
                            &-alerta{
                                display: flex;
                                text-align: center;
                                justify-content: center;
                                width: 700px; 
                                height: 50px;
                                font-size: 15px;
                            }
                        }
                    }
                    &-sectionBoton{
                        width: 230px;
                        height: 80px;
                        margin-top: 2px;
                        &-botonsito{
                            display: flex;
                            justify-content: end;
                            &-botonCrearUsuario{
                                background: rgb(255, 255, 255);
                                color: rgb(0, 0, 0);
                                border-radius: 15px;
                                border: 0px;
                                width: 240px; 
                                padding: 5px;
                                font-size: 20px;
                                &:hover{
                                    background: rgb(206, 203, 203);
                                    color: rgb(0, 0, 0);
                                }
                            }
                        }
                    }
                }
            }
        }
        &-crearParking{
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 830px !important;
            height: 250px !important;
            padding: 20px;
            background-color: #000000;
            box-shadow: 0 15px 25px rgba(0,0,0,.6);
            border-radius: 10px;
            opacity: 1;
            &-sectionFormulario{
                height: 100px;
                display: flex;
                flex-direction: column;
                padding: 5px;
                &-label{
                    color: white;
                    width: 390px !important;
                    margin-right: 10px;
                }
            }
            &-sectionButtonAlert{
                height: 80px;
                &-containerBotonCrear{
                    display: flex;
                    flex-direction: row;
                    &-sectionAlerta{
                        top: 0%;
                        width: 550px;
                        height: 90px;
                        &-alert{
                            display: flex;
                            width: 550px !important;
                            &-alerta{
                                display: flex;
                                text-align: center;
                                justify-content: center;
                                width: 550px; 
                                height: 50px;
                                font-size: 15px;
                            }
                        }
                    }
                    &-sectionBoton{
                        width: 200px;
                        height: 80px;
                        margin-top: 2px;
                        &-botonsito{
                            display: flex;
                            justify-content: end;
                            &-botonCrearUsuario{
                                background: rgb(255, 255, 255);
                                color: rgb(0, 0, 0);
                                border-radius: 15px;
                                border: 0px;
                                width: 220px; 
                                padding: 5px;
                                font-size: 20px;
                                &:hover{
                                    background: rgb(206, 203, 203);
                                    color: rgb(0, 0, 0);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    &-abajo{
        display: flex;
        justify-content: center;
        &-cardInfo{
            display: flex;
            justify-content: start;
            width: 830px;
            height: 70px;
            border-radius: 10px;
            opacity: 1;
            margin-right: 5px;
            &-cajitaInfo{
                &-botones{
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    &-linkCard{    
                        background: rgb(0, 0, 0);
                        color: rgb(255, 255, 255) !important;
                        border: 0px;
                        width: 220px; 
                        padding: 10px;
                        text-align: center;
                        border-radius: 20px;
                        text-decoration: none; 
                        font-size: 20px;
                        &:hover{
                            background: $colorBotonVolver;
                            color: rgb(255, 255, 255);
                        }
                    }
                }
            }
        }
    } 
}
/*se usa en crearCelador.php desde ADMIN*/


/*

@mixin screenTamanio {
    .mostrarTexto::before {
        font-weight: bold;
        color: navy;
        content: "VUELVA AL TAMAÑO NORMAL DE SU ORDENADOR PARA VISUALIZAR MEJOR EL CONTENIDO";
    };
}

.mostrarTextoo{
    display: flex;
    justify-content: center;
    align-items: center;
    &-titulo::before{
        font-weight: bold;
        text-align: center;
        color: navy;
        content: "VUELVA AL TAMAÑO NORMAL DE SU ORDENADOR PARA VISUALIZAR MEJOR EL CONTENIDO";
    }
}

*/



  /*
.mostrarTexto::before {
    @include screenTamaño();
};*/



/*RESPONSIVE*/
@media only screen and (max-height: 600px) and (min-height: 0px) {
    .titulosAdmin{
        display: none;
    }
    .mostrar{
        display: none;
    }
    .containerSeleccion{ 
        display: none;
    }
    .containerUsuariosAdmin{ 
        display: none;
    }
    .containerListadoUsuariosAdmin{ 
        display: none;
    }
    .sectionActualizarUserAdmin{ 
        display: none;
    }

    .sectionActualizarUserAdmin{ 
        display: none;
        &-abajo{
            display: none;
        }
    }
    .containerCardMotoBiciAdmin{ 
        display: none;
    }
    .parkingCardMotoBiciAdmin{ 
        display: none;
    }
    .parkingBuscarParqueadero{ 
        display: none;
    }
    .listadoConsultarCTB{ 
        display: none;
    }
    .sectionATA{ 
        display: none;
    }
    .sectionDobleCC{ 
        display: none;
    }


    .mostrarTextoo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 300px;
        width: 500px;
        margin-left: 300px;
        &-titulo::before{
            font-weight: bold;
            text-align: center;
            color: rgb(1, 1, 244);
            content: "VUELVA AL TAMAÑO NORMAL DE SU ORDENADOR PARA VISUALIZAR MEJOR EL CONTENIDO";
        }
    }

}

@media (max-width: 1100px) {
    .titulosAdmin{
        display: none;
    }
    
    .mostrar{
        display: none;
    }
    .containerSeleccion{ 
        display: none;
    }
    .containerUsuariosAdmin{ 
        display: none;
    }
    .containerListadoUsuariosAdmin{ 
        display: none;
    }
    .sectionActualizarUserAdmin{ 
        display: none;
    }

    .sectionActualizarUserAdmin{ 
        display: none;
        &-abajo{
            display: none;
        }
    }

    .containerCardMotoBiciAdmin{ 
        display: none;
    }
    .parkingCardMotoBiciAdmin{ 
        display: none;
    }
    .parkingBuscarParqueadero{ 
        display: none;
    }
    .listadoConsultarCTB{ 
        display: none;
    }
    .sectionATA{ 
        display: none;
    }
    .sectionDobleCC{ 
        display: none;
    }

    .mostrarTextoo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        width: 500px;
        margin-left: 100px;
        background-color: red;
        &-titulo::before{
            font-weight: bold;
            text-align: center;
            color: rgb(255, 255, 255);
            content: "VUELVA AL TAMAÑO NORMAL DE SU ORDENADOR PARA VISUALIZAR MEJOR EL CONTENIDO";
        }
    }
}


@media only screen and (min-width: 1101px) and (max-width:7920px) {
    .screenSize{
        display: none;
    }
    
    .mostrarTextoo{
        display: none;
    }
} 