* {
  box-sizing: border-box;
  padding: 0px;
}

.tituloUsuario {
  font-size: 20px !important;
  margin-right: 40px;
}

#thPequenios {
  text-align: center;
  width: 20px;
}

#proyecto {
  text-align: center;
  width: 160px;
}

#nombreCompleto {
  width: 180px;
  text-align: center;
}

#codeStudente {
  text-align: center;
  width: 130px;
}

#email {
  text-align: center;
}

/*CONSULTAR TODO BICICLETA CTB DESDE CELADOR Y ADMIN*/
.fotoConsultar {
  width: 25px !important;
  height: 25px !important;
}

#fotoUsuarioCTB {
  width: 25px !important;
  height: 25px !important;
  border-radius: 50px !important;
}

#iconosCTB {
  text-decoration: none !important;
  margin-right: 4px;
}

#nameUser {
  width: 180px;
}

.estadoUsuario {
  width: 30px;
}

#estado {
  text-align: center;
  width: 50px;
}

#services {
  text-align: center;
  width: 100px;
}

#strPO {
  width: 20px;
}

#codeStudent {
  text-align: center;
  width: 150px;
}

#nameUser {
  width: 500px;
}

#holaaa {
  overflow-y: scroll;
}

.tituloConsulta {
  margin-top: 40px;
}

.codigoUsuario {
  width: 130px;
}

#captionRegistros {
  color: white;
  font-size: 13px;
  margin-left: 20px;
}

/* CONSULTAR TODO BICICLETA CTB DESDE CELADOR Y ADMIN */
/* se usa en presentacion/Transporte/consultarTodosBicicletas.php */
.sectionDobleConsultarCTB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 200px !important;
}
.sectionDobleConsultarCTB-consulta {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}
.sectionDobleConsultarCTB-consulta-info {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center !important;
  width: 900px;
  height: 450px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
}
.sectionDobleConsultarCTB-consulta-info-arca {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sectionDobleConsultarCTB-consulta-info-arca-arriba {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  width: 200px;
  height: 50px;
}
.sectionDobleConsultarCTB-consulta-info-arca-mitad {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  background-color: rgb(0, 0, 0);
  width: 900px;
  height: 300px;
}
.sectionDobleConsultarCTB-consulta-info-arca-mitad-tabla {
  display: flex;
  flex-direction: column;
  width: 900px;
}
.sectionDobleConsultarCTB-consulta-info-arca-abajo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  width: 700px;
  height: 50px;
}
.sectionDobleConsultarCTB-consulta-infoVolver {
  display: flex;
  justify-content: start;
  width: 900px;
  height: 70px;
}
.sectionDobleConsultarCTB-consulta-infoVolver-botones {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.sectionDobleConsultarCTB-consulta-infoVolver-botones-linkCard {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  width: 220px;
  height: 50px !important;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
}
.sectionDobleConsultarCTB-consulta-infoVolver-botones-linkCard:hover {
  background: rgb(99, 96, 96);
  color: rgb(255, 255, 255);
}

.page-link {
  background-color: rgb(255, 255, 255) !important;
  border-color: black !important;
}
.page-link:hover {
  background-color: rgb(101, 96, 96) !important;
}

/*FIN*/
/*CONSULTAR TODO BICICLETA CTB DESDE CELADOR Y ADMIN*/
/*CONSULTAR USUARIO Y CELADOR DESDE ADMIN*/
/* se usa en presentacion/Transporte/consultarTodosBicicletas.php */
.sectionDobleConsultarCU {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 150px !important;
}
.sectionDobleConsultarCU-consulta {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}
.sectionDobleConsultarCU-consulta-info {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center !important;
  width: 1100px;
  height: 480px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
}
.sectionDobleConsultarCU-consulta-info-arca {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sectionDobleConsultarCU-consulta-info-arca-arriba {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  width: 240px;
  height: 40px;
}
.sectionDobleConsultarCU-consulta-info-arca-mitad {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  background-color: rgb(0, 0, 0);
  width: 1100px;
  height: 340px;
  margin-bottom: 30px;
}
.sectionDobleConsultarCU-consulta-info-arca-mitad-tabla {
  display: flex;
  flex-direction: column;
  width: 1100px;
}
.sectionDobleConsultarCU-consulta-info-arca-abajo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  width: 700px;
  height: 50px;
}
.sectionDobleConsultarCU-consulta-infoVolver {
  display: flex;
  justify-content: start;
  width: 1100px;
  height: 70px;
}
.sectionDobleConsultarCU-consulta-infoVolver-botones {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.sectionDobleConsultarCU-consulta-infoVolver-botones-linkCard {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  width: 220px;
  height: 50px !important;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
}
.sectionDobleConsultarCU-consulta-infoVolver-botones-linkCard:hover {
  background: rgb(99, 96, 96);
  color: rgb(255, 255, 255);
}

.page-link {
  background-color: rgb(255, 255, 255) !important;
  border-color: black !important;
}
.page-link:hover {
  background-color: rgb(101, 96, 96) !important;
}

/*CONSULTAR USUARIO Y CELADOR DESDE ADMIN*/
/*CONSULTAR CELADOR DESDE ADMIN*/
/* se usa en presentacion/celador/consultarCelador.php */
.sectionDobleConsultarCC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 150px !important;
  margin-top: 50px;
}
.sectionDobleConsultarCC-consulta {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}
.sectionDobleConsultarCC-consulta-info {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center !important;
  width: 900px;
  height: 450px;
  border-radius: 10px;
  background-color: rgb(80, 70, 70);
}
.sectionDobleConsultarCC-consulta-info-arca {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sectionDobleConsultarCC-consulta-info-arca-arriba {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  width: 200px;
  height: 50px;
}
.sectionDobleConsultarCC-consulta-info-arca-mitad {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  background-color: rgb(0, 0, 0);
  width: 900px;
  height: 300px;
}
.sectionDobleConsultarCC-consulta-info-arca-mitad-tabla {
  display: flex;
  flex-direction: column;
  width: 900px;
}
.sectionDobleConsultarCC-consulta-info-arca-abajo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  width: 700px;
  height: 50px;
}
.sectionDobleConsultarCC-consulta-infoVolver {
  display: flex;
  justify-content: start;
  width: 900px;
  height: 70px;
}
.sectionDobleConsultarCC-consulta-infoVolver-botones {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.sectionDobleConsultarCC-consulta-infoVolver-botones-linkCard {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  width: 220px;
  height: 50px !important;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
}
.sectionDobleConsultarCC-consulta-infoVolver-botones-linkCard:hover {
  background: rgb(99, 96, 96);
  color: rgb(255, 255, 255);
}

.page-link {
  background-color: rgb(255, 255, 255) !important;
  border-color: black !important;
}
.page-link:hover {
  background-color: rgb(101, 96, 96) !important;
}

/*CONSULTAR CELADOR DESDE ADMIN*/

/*# sourceMappingURL=styleMenu.css.map */
