*{
    margin: 0%;
    box-sizing: border-box;
}

$colorBotonVolver : rgb(31, 29, 29);


.titulosUsers{
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-left: 100px;
    margin-top: 50px;
} 


/*SESION CELADOR
se usa en perfilCelador.php*/
.containerPC{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 100px !important;
    margin-top: 80px;
    &-cardPC{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 1000px;
        height: 490px;
        background-color: #000000;
        border-radius: 20px;
        &-tituloPC{
            width: 950px;
            height: 40px;
            &-tituloProfile{
                font-weight: bold;
                color: white;
                font-size: 30px;
            }
        }
        &-infoPC{
            width: 950px;
            height: 400px;
            display: flex;
            flex-direction: row;
            &-sectionIzq{
                width: 650px;
                height: 400px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                &-arribaInfo{
                    width: 600px;
                    height: 280px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    &-nameCelador{
                        font-weight: bold;
                        font-size: 28px;
                        color: white;
                    }
                    &-infoCelador{
                        text-align: center;
                        font-size: 20px;
                        color: white;
                    }
                }
                &-abajoInfo{
                    width: 600px;
                    height: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    &-linkCard{
                        bottom: 10px;
                        background: rgb(255, 255, 255);
                        color: rgb(0, 0, 0) !important;
                        border: 0px;
                        width: 220px; 
                        padding: 10px;
                        text-align: center;
                        border-radius: 10px;
                        text-decoration: none;
                        &:hover{
                            background: rgb(206, 203, 203);
                            color: rgb(0, 0, 0);
                        }
                    }
                }
            }
            &-sectionDer{
                width: 300px;
                height: 400px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                &-fotoVer{
                    width: 270px;
                    height: 280px;
                    &-fotoVerFoto{
                        width: 270px !important;
                        height: 270px !important;
                        border-radius: 50px;
                    }
                }
                &-botonFoto{
                    width: 270px;
                    height: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    &-botonAFC{ 
                        bottom: 10px;
                        background: rgb(255, 255, 255);
                        color: rgb(0, 0, 0) !important;
                        border: 0px;
                        width: 220px; 
                        padding: 10px;
                        text-align: center;
                        border-radius: 10px;
                        text-decoration: none;
                        &:hover{
                            background: rgb(206, 203, 203);
                            color: rgb(0, 0, 0);
                        }
                    }
                }
            }
        }
    }
}
/*se usa en perfilCelador.php
SESION CELADOR*/

.containerFotoModal{
    width: 480px !important;
    height: 550px !important;
}
/*ESTILOS ACTUALIZAR FOTO USUARIO y USUARIO CELADOR
se usa en actualizarFotoCelador.php*/
.cardFotoActualizarUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 80px !important;
    &-cFA{
        width: 800px;
        height: 450px;
        &-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 800px;
            height: 470px !important;
            margin-left: 50px;
            border-radius: 10px;
            background-color: #000000;
            &-arriba{
                width: 600px;
                height: 350px;
                &-foto{
                    width: 600px !important;
                    height: 350px !important;
                    border-radius: 10px !important;
                }
            }
            &-abajo{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 750px;
                height: 100px;
                &-formArriba{
                    margin-left: 130px;
                    width: 500px;
                    height: 50px;
                }
                &-formAbajo{
                    display: flex;
                    flex-direction: row;
                    width: 800px;
                    height: 50px;
                    &-izq{
                        display: flex;
                        justify-content: center;
                        width: 250px;
                        height: 50px;
                        margin-left: 10px;
                        margin-top: 5px;
                        &-btn{
                            background-color: white;
                            width: 150px;
                            height: 40px;
                            border: 0px;
                            border-radius: 10px;
                            padding: 10px;
                            &:hover{
                                background-color: #242323;
                                color: white;
                            }
                        }
                    }
                    &-der{
                        display: flex;
                        justify-content: center;
                        width: 450px;
                        height: 50px;
                        margin-bottom: 10px;
                        &-alertaFo{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 400px;
                            height: 40px;
                            margin-bottom: 10px !important;
                        }
                        &-alertAFT{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 400px;
                            height: 40px;
                            margin-bottom: 10px !important;
                        }
                    }
                }
    
            }
        }
    }
    &-botonInfo{
        width: 700px;
        height: 60px;
        &-bCI{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            &-botones{ 
                display: flex;
                align-items: center;
                justify-content: start;
                width: 900px;
                height: 60px !important;
                border-radius: 10px;
                opacity: 1;
                &-linkCard{    
                    background: rgb(0, 0, 0);
                    color: rgb(255, 255, 255) !important;
                    border: 0px;
                    width: 220px; 
                    height: 40px !important;
                    padding: 8px;
                    text-align: center; 
                    border-radius: 20px;
                    text-decoration: none;
                    font-size: 18px;
                    margin-right: 8px;
                    &:hover{
                        background: $colorBotonVolver;
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
    }
}
/*se usa en actualizarFotoCelador.php
ESTILOS ACTUALIZAR FOTO USUARIO y USUARIO CELADOR*/



/*ACTUALIZAR CONTRASEÑA USUARIO CELADOR
se usa en actualizarFotoCelador.php*/
.actualizarPassUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-left: 100px !important;
    &-arriba{
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-crearPass{
            display: flex; 
            justify-content: center;
            flex-direction: column;
            width: 460px !important;
            height: 340px !important;
            padding: 20px;
            background-color: #000000 !important;
            box-shadow: 0 5px 15px rgba(0,0,0,.6);
            border-radius: 10px;
            opacity: 1;
            &-sectionActualizar{
                width: 460px;
                height: 380px !important;
                display: flex;
                flex-direction: column;
                &-formCrear{
                    width: 420px;
                    height: 270px;
                    &-label{
                        color: white;
                        margin-bottom: 5px;
                    }
                }
                &-containerSection{
                    width: 420px;
                    height: 70px !important;
                    &-divSection{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        &-alertSection{
                            top: 0%; 
                            width: 260px;
                            height: 70px !important;
                            &-alert{
                                display: flex;
                                    text-align: center;
                                    justify-content: start;
                                    width: 420px;
                                    height: 70px !important;
                                    font-size: 15px;
                                    &-alertaPass{
                                        background-color: #32ce85;
                                        color: black;
                                    }
                            }
                        }
                        &-botonSection{
                            width: 140px;
                            height: 50px;
                            margin-top: 2px;
                            &-boton{
                                display: flex;
                                flex-direction: column;
                                justify-content: start;
                                &-botonCrearTransporte{
                                    background: rgb(255, 255, 255);
                                    color: rgb(0, 0, 0);
                                    border-radius: 15px;
                                    border: 0px;
                                    width: 150px; 
                                    padding: 5px;
                                    font-size: 20px;
                                    &:hover{
                                        background: rgb(206, 203, 203);
                                        color: rgb(0, 0, 0);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &-botonBack{
            width: 300px;
            height: 60px;
            &-bCI{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                &-botones{ 
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    width: 900px;
                    height: 60px !important;
                    border-radius: 10px;
                    opacity: 1;
                    &-linkCard{    
                        background: rgb(0, 0, 0);
                        color: rgb(255, 255, 255) !important;
                        border: 0px;
                        width: 220px; 
                        height: 40px !important;
                        padding: 8px;
                        text-align: center; 
                        border-radius: 20px;
                        text-decoration: none;
                        font-size: 18px;
                        margin-right: 8px;
                        &:hover{
                            background: $colorBotonVolver;
                            color: rgb(255, 255, 255);
                        }
                    }
                }
            }
        }
    }
}
/*se usa en actualizarFotoCelador.php
ACTUALIZAR CONTRASEÑA USUARIO CELADOR*/





.fa-motorcycle{
    color: rgb(255, 255, 255);
    font-size: 200px;
}

.fa-bicycle{
    color: rgb(255, 255, 255);
    font-size: 200px;
}

.fa-user{
    color: white;
    font-size: 150px;
}
.bx-history{
    color: rgb(255, 255, 255);
    font-size: 100px;
}
.bxs-parking{
    color: rgb(255, 255, 255);
    font-size: 100px;
}
#noSubo{
    text-decoration: none !important;
    color: #ffffff;
}



/*CONSULTAR TRANSPORTE DESDE ROL USUARIO
presentacion/Transporte/consultarTransporte.php*/
.sectionCTUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 160px !important;
    &-arriba{
        display: flex;
        flex-direction: row;
        justify-content: center;
        &-cardd{
            display: flex;
            justify-content: center;
            flex-direction: row;
            width: 900px;
            height: 320px;
            padding: 10px;
            &-cajita{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 400px;
                height: 300px;
                padding: 10px;
                background: #000000 0% 0% no-repeat padding-box;
                box-shadow: 0px 3px 16px #00000029;
                border-radius: 10px;
                opacity: 1;
                margin-right: 10px;
                &-pin{
                    width: 350px !important;
                    height: 350px;
                    &-fotito{
                        width: 350px !important;
                        height: 250px !important;
                        &-imageTransport{
                            width: 350px !important;
                            height: 250px !important;
                        }
                    }
                }
                &-link{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 350px;
                    height: 80px !important;
                    background-color: rgb(0, 0, 0);
                    &-boton{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        &-por{
                            background: rgb(255, 255, 255);
                            color: rgb(0, 0, 0) !important;
                            border: 0px;
                            width: 310px; 
                            height: 40px !important;
                            padding: 8px;
                            text-align: center;
                            border-radius: 10px;
                            text-decoration: none;
                            font-size: 15px bold;
                            margin-right: 8px;
                            &:hover{
                                background: rgb(183, 179, 179);
                                color: rgb(0, 0, 0);
                            }
                        }
                    }
                }    
            }
        }
    }
    &-abajo{
        display: flex;
        justify-content: center;
        &-cardInfo{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 820px;
            height: 100px;
            background: #000000 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 16px #00000029;
            border-radius: 10px;
            opacity: 1;
            &-arriba{
                height: 55px;
                width: 600px;
                margin-top: 5px;
                &-espacioParrafo{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &-parrafo{
                        display: flex;
                        text-align: center;
                        color: white;
                    }
                }
            }
            &-abajo{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                height: 45px;
                width: 820px;
                &-espacioBoton{
                    display: flex;
                    margin-right: 30px;
                    &-estadoTranspote{
                        color: black;
                        background-color: white;
                        border-radius: 10px;
                        padding: 10px;
                    }
                    &-linkCard{
                        background: rgb(255, 255, 255);
                        color: rgb(0, 0, 0) !important;
                        border: 0px;
                        width: 180px; 
                        height: 35px !important;
                        padding: 8px;
                        text-align: center;
                        border-radius: 10px;
                        text-decoration: none;
                        font-size: 15px bold;
                        margin-right: 8px;
                        &:hover{
                            background: rgb(183, 179, 179);
                            color: rgb(0, 0, 0);
                        }
                    }
                }
            }
        }
    }
    &-botonVolver{
        display: flex;
        justify-content: center;
        &-cardInfo{
            display: flex;
            justify-content: start;
            width: 820px;
            height: 70px !important;
            border-radius: 10px;
            opacity: 1;
            margin-right: 5px;   
            &-cajitaInfo{
                &-botones{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    &-linkCard{    
                        background: rgb(0, 0, 0);
                        color: rgb(255, 255, 255) !important;
                        border: 0px;
                        width: 220px; 
                        height: 50px !important;
                        padding: 10px;
                        text-align: center;
                        border-radius: 20px;
                        text-decoration: none;
                        font-size: 20px;
                        margin-right: 10px;
                        &:hover{
                            background: $colorBotonVolver;
                            color: rgb(255, 255, 255);
                        }
                    }
                }
            }
        }
    }
}

/*CONSULTAR TRANSPORTE DESDE ROL USUARIO
presentacion/Transporte/consultarTransporte.php*/



/*ESTILOS ACTUALIZAR FOTO TRANSPORTE
se usa en actualizarFotoTransporte*/
/*
.cardFotoActualizarUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 90px !important;
    &-cFA{
        width: 800px;
        height: 450px;
        &-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 800px;
            height: 450px !important;
            margin-left: 50px;
            border-radius: 10px;
            background-color: #000000;
            &-arriba{
                width: 600px;
                height: 350px;
                &-foto{
                    width: 600px !important;
                    height: 350px !important;
                    border-radius: 10px !important;
                }
            }
            &-abajo{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 500px;
                height: 100px;
                &-formArriba{
                    width: 500px;
                    height: 50px;
                }
                &-formAbajo{
                    display: flex;
                    flex-direction: row;
                    width: 500px;
                    height: 50px;
                    &-izq{
                        width: 250px;
                        height: 50px;
                        margin-left: 10px;
                        &-btn{
                            background-color: white;
                            width: 130px;
                            height: 40px;
                            border: 0px;
                            border-radius: 10px;
                            &:hover{
                                background-color: #242323;
                                color: white;
                            }
                        }
                    }
                    &-der{
                        width: 250px;
                        height: 50px;
                        &-alertAFT{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 150px;
                            height: 40px;
                        }
                    }
                }
    
            }
        }
    }
    &-botonInfo{
        width: 700px !important;
        height: 60px;
        &-bCI{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            &-botones{ 
                display: flex;
                align-items: center;
                justify-content: start;
                width: 800px;
                height: 60px !important;
                border-radius: 10px;
                opacity: 1;
                &-linkCard{    
                    background: rgb(0, 0, 0);
                    color: rgb(255, 255, 255) !important;
                    border: 0px;
                    width: 220px; 
                    height: 40px !important;
                    padding: 8px;
                    text-align: center;
                    border-radius: 20px;
                    text-decoration: none;
                    font-size: 18px;
                    margin-right: 8px;
                    &:hover{
                        background: $colorBotonVolver;
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
    }
}
*/
/*se usa en actualizarFotoTransporte
ESTILOS ACTUALIZAR FOTO TRANSPORTE*/



/*ACTUALIZAR TRANSPORTE
presentacion/Trsnporte/actualzarTranspore.php*/

.actualizarTransporteUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-left: 80px !important;
    &-arriba{
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-crear{
            display: flex; 
            justify-content: center;
            flex-direction: column;
            width: 740px !important;
            height: 320px !important;
            padding: 20px;
            background-color: #b35252 !important;
            box-shadow: 0 5px 15px rgba(0,0,0,.6);
            border-radius: 10px;
            opacity: 1;
            &-sectionCrear{
                width: 700px;
                height: 320px !important;
                display: flex;
                flex-direction: column;
                &-formCrear{
                    width: 700px;
                    height: 220px;
                    &-label{
                        color: white;
                        margin-bottom: 10px !important;
                    }
                }
                &-containerSection{
                    width: 700px;
                    height: 70px !important;
                    &-divSection{
                        display: flex;
                        flex-direction: row;
                        &-alertSection{
                            top: 0%;
                            width: 400px;
                            height: 70px;
                            &-alert{
                                display: flex;
                                    text-align: center;
                                    justify-content: start;
                                    width: 700px; 
                                    height: 70px;
                                    font-size: 15px;
                            }
                        }
                        &-botonSection{
                            width: 300px;
                            height: 50px;
                            margin-top: 2px;
                            &-boton{
                                display: flex;
                                justify-content: end;
                                &-botonCrearTransporte{
                                    background: rgb(255, 255, 255);
                                    color: rgb(0, 0, 0);
                                    border-radius: 15px;
                                    border: 0px;
                                    width: 250px; 
                                    padding: 5px;
                                    font-size: 20px;
                                    &:hover{
                                        background: rgb(206, 203, 203);
                                        color: rgb(0, 0, 0);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &-abajo{ 
        display: flex;
        justify-content: center;
        &-cardAtras{
            display: flex;
            justify-content: start;
            width: 740px;
            height: 70px;
            border-radius: 10px;
            opacity: 1;
            margin-right: 5px;
            &-cajitaInfo{
                &-boton{
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    &-linkCard{    
                        background: rgb(0, 0, 0);
                        color: rgb(255, 255, 255) !important;
                        border: 0px;
                        width: 220px; 
                        padding: 10px;
                        text-align: center;
                        border-radius: 20px;
                        text-decoration: none; 
                        font-size: 20px;
                        &:hover{
                            background: $colorBotonVolver;
                            color: rgb(255, 255, 255);
                        }
                    }
                }
            }
        }
    }
}
/*ACTUALIZAR TRANSPORTE
presentacion/Trsnporte/actualzarTranspore.php*/



/*CREAR TRANSPORTE
presentacion/Trsnporte/actualzarTranspore.php*/

.createTransporteUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-left: 90px !important;
    &-arriba{
        display: flex;
        justify-content: center;
        &-crear{
            display: flex; 
            justify-content: center;
            flex-direction: column;
            width: 740px !important;
            height: 320px !important;
            padding: 20px;
            background-color: #000000 !important;
            box-shadow: 0 5px 15px rgba(0,0,0,.6);
            border-radius: 10px;
            opacity: 1;
            &-sectionCrear{
                width: 700px;
                height: 320px !important;
                display: flex;
                flex-direction: column;
                &-formCrear{
                    width: 700px;
                    height: 220px;
                    &-label{
                        color: white;
                        margin-bottom: 10px !important;
                    }
                }
                &-containerSection{
                    width: 700px;
                    height: 70px !important;
                    margin-top: 20px;
                    &-divSection{
                        display: flex;
                        flex-direction: row;
                        &-alertSection{
                            top: 0%;
                            width: 400px;
                            height: 70px;
                            &-alert{
                                display: flex;
                                    text-align: center;
                                    justify-content: start;
                                    width: 700px; 
                                    height: 70px;
                                    font-size: 15px;
                            }
                        }
                        &-botonSection{
                            width: 300px;
                            height: 50px;
                            margin-top: 2px;
                            &-boton{
                                display: flex;
                                justify-content: end;
                                &-botonCrearTransporte{
                                    background: rgb(255, 255, 255);
                                    color: rgb(0, 0, 0);
                                    border-radius: 15px;
                                    border: 0px;
                                    width: 250px; 
                                    padding: 5px;
                                    font-size: 20px;
                                    &:hover{
                                        background: rgb(206, 203, 203);
                                        color: rgb(0, 0, 0);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &-abajo{ 
        display: flex;
        justify-content: center;
        &-cardAtras{
            display: flex;
            justify-content: start;
            width: 740px;
            height: 70px;
            border-radius: 10px;
            opacity: 1;
            margin-right: 5px;
            &-cajitaInfo{
                &-boton{
                    display: flex;
                    flex-direction: column;
                    justify-content: start;
                    &-linkCard{    
                        background: rgb(0, 0, 0);
                        color: rgb(255, 255, 255) !important;
                        border: 0px;
                        width: 220px; 
                        padding: 10px;
                        text-align: center;
                        border-radius: 20px;
                        text-decoration: none; 
                        font-size: 20px;
                        &:hover{
                            background: $colorBotonVolver;
                            color: rgb(255, 255, 255);
                        }
                    }
                }
            }
        }
    }
}
/*CREAR TRANSPORTE
presentacion/Trsnporte/actualzarTranspore.php*/



/*ESTILOS PARA PAGINA SELECCION TIPO TRANSPORTE bici o moto
se usa en Parqueadero/historialUsers/elegirOpcionesUser*/
.containerHistorialUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 160px !important;
    &-infoEP{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        &-elegirP{
            display: flex;
            justify-content: center;
            align-items: center;
            background: #000000 !important;
            box-shadow: 0px 3px 16px #0000007b;
            border-radius: 25px !important;
            opacity: 1;
            width: 300px;
            height: 200px;
            margin-right: 50px;
            &-sectionArriba{
                height: 70vh;
                width: 100vw;
                &-foto{
                    position: absolute;
                }
            }
            &-sectionAbajo{
                height: 30vh;
                width: 100vw;
            }
            
            &:hover{
                display: flex;
                justify-content: center;
                align-items: center;
                background: #0a0a0a !important;
                box-shadow: 0px 3px 16px #000000dc;
                opacity: 1;
                width: 298px;
                height: 198px;
            }
            
        }
    }
}
/*se usa en Parqueadero/historialUsers/elegirOpcionesUser
ESTILOS PARA PAGINA SELECCION TIPO TRANSPORTE bici o moto*/


/*ESTILOS PARA HISTORIAL ACTUAL-TIEMPO REAL  
se usa en Parqueadero/historialUsers/historialActualUser.php*/
.historialActualUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 90px !important;
    &-arribaHAU{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &-cardHAU{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 400px;
            height: 420px;
            background-color: black;
            padding: 12px;
            border-radius: 10px;
            margin-right: 10px;
            &-arribaSection{
                width: 380px !important;
                height: 250px !important;
                background-color: blue;
                &-fotoHAU{
                    width: 380px !important;
                    height: 230px !important;
                }
            }
            &-abajoSection{
                width: 380px !important;
                height: 170px !important;
                &-infoSection{
                    width: 380px;
                    height: 110px;
                }
                &-botonSection{
                    width: 380px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    &-cardInfo{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 50px !important;
                        border-radius: 10px;
                        opacity: 1;  
                        &-cajitaInfo{
                            &-botones{
                                display: flex;
                                flex-direction: row;
                                &-linkCard{    
                                    background: rgb(255, 255, 255);
                                    color: rgb(0, 0, 0) !important;
                                    border: 0px;
                                    width: 220px; 
                                    height: 50px !important;
                                    padding: 10px;
                                    text-align: center;
                                    border-radius: 20px;
                                    text-decoration: none;
                                    font-size: 20px;
                                    margin-right: 10px;
                                    &:hover{
                                        background: rgb(211, 207, 207);
                                        color: rgb(0, 0, 0);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &-abajoHAU{
        display: flex;
        justify-content: center;
        &-cardInfo{
            display: flex;
            justify-content: start;
            width: 820px;
            height: 70px !important;
            border-radius: 10px;
            opacity: 1;
            margin-right: 5px;   
            &-cajitaInfo{
                &-botones{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    &-linkCard{    
                        background: rgb(0, 0, 0);
                        color: rgb(255, 255, 255) !important;
                        border: 0px;
                        width: 220px; 
                        height: 50px !important;
                        padding: 10px;
                        text-align: center;
                        border-radius: 20px;
                        text-decoration: none;
                        font-size: 20px;
                        margin-right: 10px;
                        &:hover{
                            background: $colorBotonVolver;
                            color: rgb(255, 255, 255);
                        }
                    }
                }
            }
        }
    }
}

#idFotoHAU{
    width: 380px !important;
    height: 230px !important;
}

.thHAU{
    color: white;
}
/*se usa en Parqueadero/historialUsers/historialActualUser.php 
ESTILOS PARA HISTORIAL ACTUAL-TIEMPO REAL*/





/*INICIO USUARIO
se usa en sesionUsuario.php*/

#imagenInicio{
    width: 490px;
    height: 200px;
}

#linkInicio{
    text-decoration: none;
}

.inicioUsers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 80px !important;
    &-sectionContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 1200px;
        height: 500px;
        &-cardsInicio{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 510px !important;
            height: 260px;
            background-color: rgb(0, 0, 0);
            border-radius: 15px !important;
            margin-right: 5px;
            margin-bottom: 5px;
            margin-left: 5px;
            &-imgInicio{
                width: 490px;
                height: 200px;
                &-fotito{
                    width: 490px;
                    height: 200px;
                }
            }
            &-linkInicio{
                width: 490px;
                height: 40px;
                background-color: rgb(0, 0, 0);
                text-align: center;
                color: white;
            }
        }
    } 
}
#linkInicio{
    color: white;
}
/*se usa en sesionUsuario.php
INICIO USUARIO*/




/*

@mixin screenTamanio {
    .mostrarTexto::before {
        font-weight: bold;
        color: navy;
        content: "VUELVA AL TAMAÑO NORMAL DE SU ORDENADOR PARA VISUALIZAR MEJOR EL CONTENIDO";
    };
}

.mostrarTextoo{
    display: flex;
    justify-content: center;
    align-items: center;
    &-titulo::before{
        font-weight: bold;
        text-align: center;
        color: navy;
        content: "VUELVA AL TAMAÑO NORMAL DE SU ORDENADOR PARA VISUALIZAR MEJOR EL CONTENIDO";
    }
}

*/


/*RESPONSIVE*/
@media only screen and (max-height: 600px) and (min-height: 0px) {
    .titulosUsers{
        display: none;
    }
    .containerPC{ 
        display: none;
    }
    .cardFotoActualizarUser{ 
        display: none;
    }
    .actualizarPassUser{ 
        display: none;
    }
    .sectionCTUser{ 
        display: none;
    }
    .cardFotoActualizarUser{ 
        display: none;
    }
    .actualizarTransporteUser{ 
        display: none;
    }
    .createTransporteUser{ 
        display: none;
    }
    .containerHistorialUser{ 
        display: none;
    }
    .historialActualUser{ 
        display: none;
    }
    .inicioUsers{ 
        display: none;
    }
    
    .mostrarTextoo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 300px;
        width: 500px;
        margin-left: 300px;
        &-titulo::before{
            font-weight: bold;
            text-align: center;
            color: rgb(1, 1, 244);
            content: "VUELVA AL TAMAÑO NORMAL DE SU ORDENADOR PARA VISUALIZAR MEJOR EL CONTENIDO";
        }
    }
} 

@media (max-width: 1100px) {
    .titulosUsers{
        display: none;
    }
    .containerPC{ 
        display: none;
    }
    .cardFotoActualizarUser{ 
        display: none;
    }
    .actualizarPassUser{ 
        display: none;
    }
    .sectionCTUser{ 
        display: none;
    }
    .cardFotoActualizarUser{ 
        display: none;
    }
    .actualizarTransporteUser{ 
        display: none;
    }
    .createTransporteUser{ 
        display: none;
    }
    .containerHistorialUser{ 
        display: none;
    }
    .historialActualUser{ 
        display: none;
    }
    .inicioUsers{ 
        display: none;
    }
    
    .mostrarTextoo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        width: 500px;
        margin-left: 100px;
        background-color: red;
        &-titulo::before{
            font-weight: bold;
            text-align: center;
            color: rgb(255, 255, 255);
            content: "VUELVA AL TAMAÑO NORMAL DE SU ORDENADOR PARA VISUALIZAR MEJOR EL CONTENIDO";
        }
    }
}


@media only screen and (min-width: 1101px) and (max-width:7920px) {
    .screenSize{
        display: none;
    }

    .mostrarTextoo{
        display: none;
    }
} 