/*MODAL CONSULTAR ESTUDIANTES*/
.backgroundModal {
  background-color: none;
}

.tabla {
  padding: 20px;
  background: #000000 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.1607843137);
  border-radius: 10px;
  opacity: 1;
}

tbody {
  color: rgb(255, 255, 255) !important;
}

.card {
  box-shadow: none;
  border-radius: 5px !important;
}

.containerElegirParking {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 400px;
}

.card-img-top {
  height: 300px !important;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100px;
  background-color: black;
}

.card-title {
  margin-top: 1px;
  color: white;
}

#fotoConsultarUsuariao {
  width: 200px !important;
  height: 140px !important;
}

#fotoUsuarioModal {
  width: 200px !important;
  height: 140px !important;
}

#fotoTransModal {
  width: 400px !important;
  height: 200px !important;
}

#fotoConsultarTransporte {
  width: 400px !important;
  height: 200px !important;
}

@media only screen and (max-width: 750px) {
  #fotoConsultarTransporte {
    width: 200px !important;
    height: 100px !important;
  }
  #fotoTransModal {
    width: 200px !important;
    height: 100px !important;
  }
}
@media only screen and (min-width: 751px) and (max-width: 980px) {
  #fotoConsultarTransporte {
    width: 280px !important;
    height: 180px !important;
  }
  #fotoTransModal {
    width: 280px !important;
    height: 180px !important;
  }
}

/*# sourceMappingURL=styleModal.css.map */
