@charset "UTF-8";
/*ESTILOS PARA PAGINA SELECCION usuario y celador*/
/*se ubica en presentacion/usuario/pagSeleccionUsuario.php*/
.containerSeleccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  padding-left: 100px;
}
.containerSeleccion-elegir {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 25px !important;
  background: #000000 !important;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.4823529412);
  opacity: 1;
  width: 500px;
  height: 200px;
}
.containerSeleccion-elegir-izqCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}
.containerSeleccion-elegir-izqCard-imagenCard {
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerSeleccion-elegir-derechaCard {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
}
.containerSeleccion-elegir-derechaCard-infoArriba {
  height: 60px;
  width: 300px;
}
.containerSeleccion-elegir-derechaCard-infoArriba-titulo {
  margin-top: 20px;
  text-align: center;
  color: white;
  font-size: 25px;
}
.containerSeleccion-elegir-derechaCard-infoAbajo {
  height: 140px;
  width: 300px;
}
.containerSeleccion-elegir-derechaCard-infoAbajo-botonCard {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.containerSeleccion-elegir-derechaCard-infoAbajo-botonCard-linkCard {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0) !important;
  border: 0px;
  width: 220px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  font-size: 15px bold;
}
.containerSeleccion-elegir-derechaCard-infoAbajo-botonCard-linkCard:hover {
  background: rgb(206, 203, 203);
  color: rgb(0, 0, 0);
}

/*se ubica en presentacion/usuario/pagSeleccionUsuario.php*/
/*ESTILOS PARA PAGINA SELECCION usuario y celador*/
.aIconos {
  color: white;
  text-decoration: none;
}

.titulosAdmin {
  margin-top: 20px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin-left: 100px;
  margin-top: 50px;
}

.fas {
  color: rgb(255, 255, 255);
}

.fa-pencil-ruler {
  color: white;
}
.fa-pencil-ruler:hover {
  color: white;
}

.fa-wrench {
  color: white;
}
.fa-wrench:hover {
  color: white;
}

.fa-eye {
  color: white;
}
.fa-eye:hover {
  color: white;
}

.fa-user-check {
  color: white;
}
.fa-user-check:hover {
  color: white;
}

.fa-user-times {
  color: white;
}
.fa-user-times:hover {
  color: white;
}

.sgte {
  color: #000000 !important;
}

.page-link {
  color: #000000 !important;
}

/*CONSULTAR USUARIOS Y CELADORES CON  AJAX*/
/*se usa en consultarUsuarios.php*/
.containerUsuariosAdmin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 160px !important;
}
.containerUsuariosAdmin-cuerpo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center !important;
}
.containerUsuariosAdmin-cuerpo-cardParqueadero {
  display: flex;
  justify-content: center;
  background-color: #000000;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.4823529412);
  border-radius: 25px;
  opacity: 1;
  width: 1000px;
  height: 80px;
}
.containerUsuariosAdmin-cuerpo-cardParqueadero-buscar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 950px;
}
.containerUsuariosAdmin-cuerpo-cardParqueadero-buscar-inputBuscar {
  display: flex;
  justify-content: start;
  flex-direction: row;
}
.containerUsuariosAdmin-cuerpo-cardParqueadero-buscar-inputBuscar-osiriras {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 750px;
}
.containerUsuariosAdmin-cuerpo-cardParqueadero-buscar-inputBuscar-osiriras-labelBuscar {
  display: flex;
  justify-content: start;
  align-items: center !important;
  text-align: center !important;
  height: 20px;
  width: 130px !important;
  margin-top: 10px;
  color: rgb(255, 255, 255);
}
.containerUsuariosAdmin-cuerpo-cardParqueadero-buscar-inputBuscar-osiriras-inputt {
  width: 350px !important;
  height: 50px;
}
.containerUsuariosAdmin-cuerpo-cardInfo {
  display: flex;
  justify-content: center;
  background-color: #000000;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.4823529412);
  border-radius: 25px;
  opacity: 1;
  width: 1000px;
  height: 350px;
}
.containerUsuariosAdmin-cuerpo-cardInfo-tabla {
  max-width: 100% !important;
}
.containerUsuariosAdmin-cuerpo-cardInfo-tabla-containerTabla {
  max-width: 100% !important;
  max-height: 98% !important;
  display: block;
  position: relative;
  overflow: auto;
}
.containerUsuariosAdmin-cuerpo-cardInfo-tabla-containerTabla-heyAjaxCelador {
  max-width: 100% !important;
  margin-top: 10px;
  position: relative;
}
.containerUsuariosAdmin-cuerpo-cardInfo-tabla-containerTabla-heyAjaxCelador-theadAjax {
  border-radius: 10px !important;
}
.containerUsuariosAdmin-cuerpo-cardInfo-tabla-containerTabla-heyAjaxCelador-theadAjax-trAjaxCelador-numero {
  width: 10px !important;
}
.containerUsuariosAdmin-cuerpo-cardInfo-tabla-containerTabla-heyAjaxCelador-theadAjax-trAjaxCelador-foto {
  width: 50px !important;
}
.containerUsuariosAdmin-cuerpo-cardInfo-tabla-containerTabla-heyAjaxCelador-theadAjax-trAjaxCelador-nombre {
  width: 220px !important;
}
.containerUsuariosAdmin-cuerpo-cardInfo-tabla-containerTabla-heyAjaxCelador-theadAjax-trAjaxCelador-email {
  width: 320px !important;
  text-align: center;
}
.containerUsuariosAdmin-cuerpo-cardInfo-tabla-containerTabla-heyAjaxCelador-theadAjax-trAjaxCelador-services {
  text-align: center;
}
.containerUsuariosAdmin-cuerpo-cardInfo-tabla-containerTabla-heyAjaxCelador-tbAjaxCelador {
  max-width: 100%;
  background-color: #0d0d0d;
}
.containerUsuariosAdmin-cuerpo-cardInfo-tabla-containerTabla-heyAjaxCelador-tbAjaxCelador-fotoConsultar {
  border-radius: 50px;
  width: 40px;
  height: 40px;
}
.containerUsuariosAdmin-cuerpo-cardInfo-tabla-containerTabla-heyAjaxCelador-tbAjaxCelador-nombreTH {
  width: 50px;
}
.containerUsuariosAdmin-cuerpo-cardInfo-tabla-containerTabla-heyAjaxCelador-tbAjaxCelador-emailTH {
  text-align: center;
  padding-top: 15px !important;
}
.containerUsuariosAdmin-cuerpo-cardInfo-tabla-containerTabla-heyAjaxCelador-tbAjaxCelador-codeStudenteTH {
  text-align: center;
  padding-top: 15px !important;
}
.containerUsuariosAdmin-cuerpo-cardInfo-tabla-containerTabla-heyAjaxCelador-tbAjaxCelador-estadoTH {
  text-align: center;
  padding-top: 15px !important;
}
.containerUsuariosAdmin-cuerpo-cardInfo-tabla-containerTabla-heyAjaxCelador-tbAjaxCelador-servicesTH {
  text-align: center;
  padding-top: 15px !important;
}
.containerUsuariosAdmin-cuerpo-cardInfo-tabla-containerTabla-heyAjaxCelador-tbAjaxCelador-numero {
  width: 10px !important;
}
.containerUsuariosAdmin-cuerpo-cardInfo-tabla-alertaNoResultados {
  margin-top: 50px;
}
.containerUsuariosAdmin-cuerpo-cardInfo-tabla-foto {
  text-align: center;
}
.containerUsuariosAdmin-cuerpo-cardInfo-tabla-fotoConsultar {
  width: 25px !important;
  height: 25px !important;
  text-align: center;
  border-radius: 50px;
}
.containerUsuariosAdmin-cuerpo-cardInfo-tabla-foto {
  text-align: center;
}
.containerUsuariosAdmin-cuerpo-cardInfo-tabla-email {
  text-align: center !important;
}
.containerUsuariosAdmin-cuerpo-cardInfo-tabla-codeStudente {
  text-align: center;
}
.containerUsuariosAdmin-cuerpo-cardInfo-tabla-estado {
  text-align: center;
}
.containerUsuariosAdmin-cuerpo-cardInfo-tabla-estaadoTH {
  text-align: center;
}
.containerUsuariosAdmin-cuerpo-botonn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.containerUsuariosAdmin-cuerpo-botonn-botoness {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 1000px;
  height: 60px !important;
  border-radius: 10px;
  opacity: 1;
  margin-right: 5px;
}
.containerUsuariosAdmin-cuerpo-botonn-botoness-linkCardd {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  width: 220px;
  height: 40px !important;
  padding: 8px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 18px;
  margin-right: 8px;
}
.containerUsuariosAdmin-cuerpo-botonn-botoness-linkCardd:hover {
  background: rgb(31, 29, 29);
  color: rgb(255, 255, 255);
}

/*CONSULTAR USUARIOS CON  AJAX*/
/*se usa en consultarUsuarios.php*/
.containerListadoUsuariosAdmin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
.containerListadoUsuariosAdmin-consulta {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}
.containerListadoUsuariosAdmin-consulta-info {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center !important;
  width: 1000px;
  height: 480px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
}
.containerListadoUsuariosAdmin-consulta-info-arca {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.containerListadoUsuariosAdmin-consulta-info-arca-arriba {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  width: 240px;
  height: 40px;
}
.containerListadoUsuariosAdmin-consulta-info-arca-mitad {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  background-color: rgb(11, 11, 11);
  width: 1000px;
  height: 360px !important;
  margin-bottom: 30px;
}
.containerListadoUsuariosAdmin-consulta-info-arca-mitad-tabla {
  display: flex;
  flex-direction: column;
  width: 990px;
  height: 360px !important;
  overflow-y: auto;
}
.containerListadoUsuariosAdmin-consulta-info-arca-mitad-tabla-fotoConsultar {
  width: 25px !important;
  height: 25px !important;
  text-align: center;
  border-radius: 50px;
}
.containerListadoUsuariosAdmin-consulta-info-arca-mitad-tabla-email {
  text-align: center !important;
}
.containerListadoUsuariosAdmin-consulta-info-arca-mitad-tabla-picA {
  text-align: center;
  padding-top: 15px !important;
}
.containerListadoUsuariosAdmin-consulta-info-arca-mitad-tabla-emailA {
  text-align: center;
  padding-top: 15px !important;
}
.containerListadoUsuariosAdmin-consulta-info-arca-mitad-tabla-codeStudente {
  text-align: center;
}
.containerListadoUsuariosAdmin-consulta-info-arca-mitad-tabla-codeStudenteA {
  text-align: center;
  padding-top: 15px !important;
}
.containerListadoUsuariosAdmin-consulta-info-arca-mitad-tabla-estado {
  text-align: center;
}
.containerListadoUsuariosAdmin-consulta-info-arca-mitad-tabla-estadoA {
  text-align: center;
  padding-top: 15px !important;
}
.containerListadoUsuariosAdmin-consulta-info-arca-mitad-tabla-serviciosA {
  text-align: center;
  padding-top: 15px !important;
}
.containerListadoUsuariosAdmin-consulta-info-arca-mitad-tabla-thead-capacidad {
  text-align: center;
  align-items: center;
}
.containerListadoUsuariosAdmin-consulta-info-arca-abajo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  width: 700px;
  height: 30px;
}
.containerListadoUsuariosAdmin-consulta-infoVolver {
  display: flex;
  justify-content: start;
  width: 1000px;
  height: 70px;
}
.containerListadoUsuariosAdmin-consulta-infoVolver-botones {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.containerListadoUsuariosAdmin-consulta-infoVolver-botones-linkCard {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  width: 220px;
  height: 50px !important;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
}
.containerListadoUsuariosAdmin-consulta-infoVolver-botones-linkCard:hover {
  background: rgb(31, 29, 29);
  color: rgb(255, 255, 255);
}

.page-link {
  background-color: rgb(255, 255, 255) !important;
  border-color: black !important;
}
.page-link:hover {
  background-color: rgb(101, 96, 96) !important;
}

/*CONSULTAR USUARIO Y CELADOR DESDE ADMIN*/
.sectionActualizarUserAdmin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}
.sectionActualizarUserAdmin-arriba {
  display: flex;
  justify-content: center;
}
.sectionActualizarUserAdmin-arriba-actualizar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 870px !important;
  height: 450px !important;
  padding: 20px;
  background-color: #000000;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  opacity: 1;
}
.sectionActualizarUserAdmin-arriba-actualizar-sectionForm {
  margin-top: 10px;
  height: 300px;
  width: 830px;
  display: flex;
  flex-direction: column;
}
.sectionActualizarUserAdmin-arriba-actualizar-sectionForm-label {
  color: white;
  margin-bottom: 10px !important;
}
.sectionActualizarUserAdmin-arriba-actualizar-sectionForm-fecha {
  color: white;
}
.sectionActualizarUserAdmin-arriba-actualizar-sectionForm-fecha-divFecha {
  display: flex;
  flex-direction: row;
}
.sectionActualizarUserAdmin-arriba-actualizar-sectionForm-id {
  color: white;
}
.sectionActualizarUserAdmin-arriba-actualizar-sectionButtonAlert {
  height: 100px !important;
  width: 830px !important;
  padding-top: 25px;
}
.sectionActualizarUserAdmin-arriba-actualizar-sectionButtonAlert-containerBotonCrear {
  display: flex;
  flex-direction: row;
}
.sectionActualizarUserAdmin-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionAlerta {
  width: 550px;
  height: 90px;
}
.sectionActualizarUserAdmin-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionAlerta-alert {
  display: flex;
  height: 80px;
  width: 450px !important;
}
.sectionActualizarUserAdmin-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionAlerta-alert-alerta {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 700px;
  height: 50px !important;
  font-size: 15px;
}
.sectionActualizarUserAdmin-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionBoton {
  width: 280px;
  height: 80px;
}
.sectionActualizarUserAdmin-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionBoton-botonsito {
  display: flex;
  justify-content: end;
}
.sectionActualizarUserAdmin-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionBoton-botonsito-botonCrearUsuario {
  color: rgb(0, 0, 0);
  border-radius: 15px;
  border: 0px;
  width: 240px;
  padding: 5px;
  font-size: 20px;
}
.sectionActualizarUserAdmin-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionBoton-botonsito-botonCrearUsuario:hover {
  background: rgb(206, 203, 203);
  color: rgb(0, 0, 0);
}
.sectionActualizarUserAdmin-abajo {
  display: flex;
  justify-content: center;
  padding-left: 100px;
}
.sectionActualizarUserAdmin-abajo-cardInfo {
  display: flex;
  justify-content: start;
  width: 870px !important;
  height: 70px;
  border-radius: 10px;
  opacity: 1;
  margin-right: 5px;
}
.sectionActualizarUserAdmin-abajo-cardInfo-cajitaInfo-botones {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.sectionActualizarUserAdmin-abajo-cardInfo-cajitaInfo-botones-linkCard {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  width: 220px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
}
.sectionActualizarUserAdmin-abajo-cardInfo-cajitaInfo-botones-linkCard:hover {
  background: rgb(31, 29, 29);
  color: rgb(255, 255, 255);
}
.sectionActualizarUserAdmin-abajoo {
  display: flex;
  justify-content: center;
}
.sectionActualizarUserAdmin-abajoo-cardInfo {
  display: flex;
  justify-content: start;
  width: 870px;
  height: 70px;
  border-radius: 10px;
  opacity: 1;
  margin-right: 5px;
}
.sectionActualizarUserAdmin-abajoo-cardInfo-cajitaInfo-botones {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.sectionActualizarUserAdmin-abajoo-cardInfo-cajitaInfo-botones-linkCard {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  width: 220px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
}
.sectionActualizarUserAdmin-abajoo-cardInfo-cajitaInfo-botones-linkCard:hover {
  background: rgb(31, 29, 29);
  color: rgb(255, 255, 255);
}

#captionRegistros {
  color: rgb(255, 255, 255);
  font-size: 13px;
  margin-left: 15px;
}

/*ESTILOS CALENDARIO*/
.day {
  color: black;
}

.month {
  color: black;
}

.year {
  color: black;
}

.decade {
  color: black;
}

.century {
  color: black;
}

.old {
  color: black;
}

.fa-calendar {
  height: 23px;
}

.fa-motorcycle {
  color: rgb(255, 255, 255);
  font-size: 150px;
}

.fa-bicycle {
  margin-left: 30px;
  color: rgb(255, 255, 255);
  font-size: 150px;
}

.fa-user {
  color: white;
  font-size: 150px;
}

.fa-search {
  color: white;
  font-size: 150px;
  margin-left: 20px;
}

.containerCardMotoBiciAdmin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 160px !important;
}
.containerCardMotoBiciAdmin-infoCMB {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.containerCardMotoBiciAdmin-infoCMB-elegir {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000 !important;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.4823529412);
  border-radius: 25px !important;
  opacity: 1;
  width: 350px;
  height: 250px;
  margin-right: 50px;
}
.containerCardMotoBiciAdmin-infoCMB-elegir-sectionArriba {
  height: 70vh;
  width: 100vw;
}
.containerCardMotoBiciAdmin-infoCMB-elegir-sectionArriba-foto {
  position: absolute;
}
.containerCardMotoBiciAdmin-infoCMB-elegir-sectionAbajo {
  height: 30vh;
  width: 100vw;
}
.containerCardMotoBiciAdmin-infoCMB-elegir:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0a0a0a !important;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.862745098);
  opacity: 1;
  width: 352px;
  height: 252px;
}

#noSubo {
  text-decoration: none !important;
  color: #ffffff;
}

/*SELECCION PARQUEADERO*/
/*ESTILOS PARA PAGINA SELECCION TIPO TRANSPORTE bici o moto*/
.parkingCardMotoBiciAdmin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 160px !important;
}
.parkingCardMotoBiciAdmin-EPS {
  max-width: auto;
}
.parkingCardMotoBiciAdmin-EPS-arribaSectionEPS-crearParqueadero {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 1000px;
  height: 70px;
  border-radius: 20px;
}
.parkingCardMotoBiciAdmin-EPS-arribaSectionEPS-crearParqueadero-botonCrear-linkCrear {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  width: 400px !important;
  height: 40px !important;
  padding: 15px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 15px;
  margin-right: 8px;
}
.parkingCardMotoBiciAdmin-EPS-arribaSectionEPS-crearParqueadero-botonCrear-linkCrear:hover {
  background: rgb(31, 29, 29);
  color: rgb(255, 255, 255);
}
.parkingCardMotoBiciAdmin-EPS-abajoSectionEPS-infoCMB {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
}
.parkingCardMotoBiciAdmin-EPS-abajoSectionEPS-infoCMB-elegir {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000 !important;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.4823529412);
  border-radius: 25px !important;
  opacity: 1;
  width: 250px;
  height: 150px;
  margin-right: 20px;
  margin-top: 20px;
}
.parkingCardMotoBiciAdmin-EPS-abajoSectionEPS-infoCMB-elegir-sectionArriba {
  height: 70vh;
  width: 100vw;
}
.parkingCardMotoBiciAdmin-EPS-abajoSectionEPS-infoCMB-elegir-sectionArriba-foto {
  position: absolute;
}
.parkingCardMotoBiciAdmin-EPS-abajoSectionEPS-infoCMB-elegir-sectionAbajo {
  height: 30vh;
  width: 100vw;
}
.parkingCardMotoBiciAdmin-EPS-abajoSectionEPS-infoCMB-elegir-arribaEPS {
  text-align: center;
  margin-top: 5px;
  width: 200px;
  height: 120px;
}
.parkingCardMotoBiciAdmin-EPS-abajoSectionEPS-infoCMB-elegir-abajoEPS {
  text-align: center;
  width: 200px;
  height: 80px;
}
.parkingCardMotoBiciAdmin-EPS-abajoSectionEPS-infoCMB-elegir-abajoEPS-puestosEPS {
  color: rgb(255, 255, 255);
}
.parkingCardMotoBiciAdmin-EPS-abajoSectionEPS-infoCMB-elegir:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0a0a0a !important;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.862745098);
  opacity: 1;
  width: 251px;
  height: 151px;
}

.parkingBuscarParqueadero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 150px !important;
}
.parkingBuscarParqueadero-cuerpo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center !important;
}
.parkingBuscarParqueadero-cuerpo-cardParqueadero {
  display: flex;
  justify-content: center;
  background-color: #000000;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.4823529412);
  border-radius: 25px;
  opacity: 1;
  width: 1000px;
  height: 80px;
}
.parkingBuscarParqueadero-cuerpo-cardParqueadero-buscar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 950px;
}
.parkingBuscarParqueadero-cuerpo-cardParqueadero-buscar-inputBuscar {
  display: flex;
  justify-content: start;
  flex-direction: row;
}
.parkingBuscarParqueadero-cuerpo-cardParqueadero-buscar-inputBuscar-osiriras {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 950px;
}
.parkingBuscarParqueadero-cuerpo-cardParqueadero-buscar-inputBuscar-osiriras-labelBuscar {
  display: flex;
  justify-content: start;
  align-items: center !important;
  text-align: center !important;
  height: 20px;
  width: 100px !important;
  margin-top: 10px;
}
.parkingBuscarParqueadero-cuerpo-cardParqueadero-buscar-inputBuscar-osiriras-labelBuscar-controlOpciones {
  width: 130px !important;
  color: rgb(255, 255, 255);
  margin-top: 5px;
}
.parkingBuscarParqueadero-cuerpo-cardParqueadero-buscar-inputBuscar-osiriras-inputt {
  width: 250px !important;
  height: 50px !important;
  margin-right: 80px !important;
}
.parkingBuscarParqueadero-cuerpo-cardParqueadero-buscar-inputBuscar-osiriras-controlOpcioness {
  margin-left: 20px;
  width: 200px !important;
}
.parkingBuscarParqueadero-cuerpo-cardInfo {
  display: flex;
  justify-content: center;
  background-color: #000000;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.4823529412);
  border-radius: 25px;
  opacity: 1;
  width: 1000px;
  height: 260px;
}
.parkingBuscarParqueadero-cuerpo-cardInfo-tablaAjax {
  width: 950px !important;
  background-color: rgb(0, 0, 0);
}
.parkingBuscarParqueadero-cuerpo-cardInfo-tablaAjax-fotoA {
  text-align: center;
  width: 50px;
}
.parkingBuscarParqueadero-cuerpo-cardInfo-tablaAjax-fotoAjax {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  align-items: center;
  text-align: center;
}
.parkingBuscarParqueadero-cuerpo-cardInfo-tablaAjax-nombree {
  padding-top: 15px !important;
}
.parkingBuscarParqueadero-cuerpo-cardInfo-tablaAjax-nombreA {
  width: 200px;
}
.parkingBuscarParqueadero-cuerpo-cardInfo-tablaAjax-proyecto {
  width: 250px !important;
  text-align: center !important;
}
.parkingBuscarParqueadero-cuerpo-cardInfo-tablaAjax-proyectoA {
  padding-top: 15px !important;
  text-align: center;
}
.parkingBuscarParqueadero-cuerpo-cardInfo-tablaAjax-codeStudente {
  text-align: center;
  width: 180px !important;
}
.parkingBuscarParqueadero-cuerpo-cardInfo-tablaAjax-codeStudenteA {
  padding-top: 15px !important;
  text-align: center;
}
.parkingBuscarParqueadero-cuerpo-cardInfo-tablaAjax-estado {
  text-align: center;
  width: 150px !important;
}
.parkingBuscarParqueadero-cuerpo-cardInfo-tablaAjax-estadoA {
  padding-top: 15px !important;
  text-align: center;
}
.parkingBuscarParqueadero-cuerpo-cardInfo-tablaAjax-servicios {
  text-align: center;
  width: 90px !important;
}
.parkingBuscarParqueadero-cuerpo-cardInfo-tablaAjax-serviciosA {
  padding-top: 15px !important;
  text-align: center;
}
.parkingBuscarParqueadero-cuerpo-cardInfo-tablaAjax-hora {
  text-align: center;
}
.parkingBuscarParqueadero-cuerpo-cardInfo-tablaAjax-horaA {
  padding-top: 15px !important;
  text-align: center;
}
.parkingBuscarParqueadero-cuerpo-cardInfo-cardBotoon {
  justify-content: start;
}
.parkingBuscarParqueadero-cuerpo-cardInfo-cardBotoon-botoon {
  background-color: #ffffff;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.4823529412);
  border: 0px;
  width: 220px;
  height: 40px !important;
  padding: 8px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 18px;
  margin-right: 8px;
}
.parkingBuscarParqueadero-cuerpo-cardInfo-cardBotoon-botoon:hover {
  background: rgb(206, 203, 203);
  color: rgb(0, 0, 0);
}
.parkingBuscarParqueadero-cuerpo-cardInfo-alertaNoResultados {
  margin-top: 50px;
}
.parkingBuscarParqueadero-cuerpo-cardOpciones {
  display: flex;
  justify-content: center;
  background-color: #000000;
  box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.4823529412);
  border-radius: 25px;
  opacity: 1;
  width: 1000px;
  height: 90px;
  margin-top: 20px;
}
.parkingBuscarParqueadero-cuerpo-cardOpciones-opcionesFormr {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 950px !important;
  height: 90px;
}
.parkingBuscarParqueadero-cuerpo-cardOpciones-opcionesFormr-actualizar {
  display: flex;
  align-items: start;
  flex-direction: row;
}
.parkingBuscarParqueadero-cuerpo-cardOpciones-opcionesFormr-actualizar-opcionesForm {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 1000px;
  height: 90px;
}
.parkingBuscarParqueadero-cuerpo-cardOpciones-opcionesFormr-actualizar-opcionesForm-alertas {
  height: 50px;
  width: 230px;
  margin-top: 13px;
  margin-left: 20px;
}
.parkingBuscarParqueadero-cuerpo-cardOpciones-opcionesFormr-actualizar-opcionesForm-controlFormulario {
  display: flex;
  justify-content: start;
  align-items: center !important;
  text-align: center !important;
  width: 700px;
  height: 50px !important;
  margin-top: 20px;
}
.parkingBuscarParqueadero-cuerpo-cardOpciones-opcionesFormr-actualizar-opcionesForm-controlFormulario-controlOpciones {
  width: 130px !important;
  color: white;
}
.parkingBuscarParqueadero-cuerpo-cardOpciones-opcionesFormr-actualizar-opcionesForm-controlFormulario-controlOpcionesLabel {
  width: 220px !important;
  margin-right: 50px;
}
.parkingBuscarParqueadero-cuerpo-cardOpciones-opcionesFormr-actualizar-opcionesForm-controlFormulario-botonActualizar {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0) !important;
  border: 0px;
  width: 220px;
  height: 40px !important;
  padding: 8px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 18px;
  margin-right: 8px;
}
.parkingBuscarParqueadero-cuerpo-cardOpciones-opcionesFormr-actualizar-opcionesForm-controlFormulario-botonActualizar:hover {
  background: rgb(99, 96, 96);
  color: rgb(255, 255, 255);
}
.parkingBuscarParqueadero-cuerpo-botonn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.parkingBuscarParqueadero-cuerpo-botonn-cardAbajo {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 1000px;
  height: 60px !important;
  border-radius: 10px;
  opacity: 1;
  margin-right: 5px;
}
.parkingBuscarParqueadero-cuerpo-botonn-cardAbajo-info-botoness {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.parkingBuscarParqueadero-cuerpo-botonn-cardAbajo-info-botoness-linkCardd {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  width: 220px;
  height: 40px !important;
  padding: 8px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 18px;
  margin-right: 8px;
}
.parkingBuscarParqueadero-cuerpo-botonn-cardAbajo-info-botoness-linkCardd:hover {
  background: rgb(31, 29, 29);
  color: rgb(255, 255, 255);
}

/* CONSULTAR TODO BICICLETA CTB DESDE CELADOR Y ADMIN */
/* se usa en presentacion/Transporte/consultarTodosBicicletas.php */
.listadoConsultarCTB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 100px !important;
}
.listadoConsultarCTB-consulta {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}
.listadoConsultarCTB-consulta-info {
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center !important;
  width: 1100px;
  height: 430px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
}
.listadoConsultarCTB-consulta-info-arca {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.listadoConsultarCTB-consulta-info-arca-arriba {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  width: 240px;
  height: 40px;
}
.listadoConsultarCTB-consulta-info-arca-mitad {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  background-color: rgb(11, 11, 11);
  width: 1100px;
  height: 300px !important;
  margin-bottom: 30px;
}
.listadoConsultarCTB-consulta-info-arca-mitad-tabla {
  display: flex;
  flex-direction: column;
  width: 1100px;
  height: 300px !important;
  margin-left: 4px;
  overflow-y: auto;
}
.listadoConsultarCTB-consulta-info-arca-mitad-tabla-fotoConsultar {
  width: 25px !important;
  height: 25px !important;
  text-align: center;
  border-radius: 50px;
}
.listadoConsultarCTB-consulta-info-arca-mitad-tabla-fotoConsultar {
  text-align: center;
}
.listadoConsultarCTB-consulta-info-arca-mitad-tabla-codeStudente {
  text-align: center;
}
.listadoConsultarCTB-consulta-info-arca-mitad-tabla-estado {
  text-align: center;
}
.listadoConsultarCTB-consulta-info-arca-mitad-tabla-services {
  text-align: center;
}
.listadoConsultarCTB-consulta-info-arca-abajo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  width: 700px;
  height: 40px;
}
.listadoConsultarCTB-consulta-infoVolver {
  display: flex;
  justify-content: start;
  width: 1100px;
  height: 70px;
}
.listadoConsultarCTB-consulta-infoVolver-botones {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.listadoConsultarCTB-consulta-infoVolver-botones-linkCard {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  width: 220px;
  height: 50px !important;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
  margin-right: 10px;
}
.listadoConsultarCTB-consulta-infoVolver-botones-linkCard:hover {
  background: rgb(31, 29, 29);
  color: rgb(255, 255, 255);
}

.page-link {
  background-color: rgb(255, 255, 255) !important;
  border-color: black !important;
}
.page-link:hover {
  background-color: rgb(101, 96, 96) !important;
}

/*FIN*/
/* se usa en presentacion/Transporte/consultarTodosBicicletas.php */
/*CONSULTAR TODO BICICLETA CTB DESDE CELADOR Y ADMIN*/
/*SE USA EN actualizarTransporte-admin.php desde ADMIN*/
.sectionATA {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 100px !important;
}
.sectionATA-arriba {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sectionATA-arriba-actualizar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 870px !important;
  height: 270px !important;
  padding: 20px;
  background-color: #000000;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  opacity: 1;
}
.sectionATA-arriba-actualizar-sectionForm {
  height: 150px;
  width: 830px;
  display: flex;
  flex-direction: column;
}
.sectionATA-arriba-actualizar-sectionForm-label {
  color: white;
  margin-bottom: 5px !important;
}
.sectionATA-arriba-actualizar-sectionButtonAlert {
  height: 70px !important;
  width: 870px !important;
  margin-top: 10px;
}
.sectionATA-arriba-actualizar-sectionButtonAlert-containerBotonCrear {
  display: flex;
  flex-direction: row;
}
.sectionATA-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionAlerta {
  width: 550px;
  height: 90px;
}
.sectionATA-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionAlerta-alert {
  display: flex;
  height: 80px;
  width: 450px !important;
}
.sectionATA-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionAlerta-alert-alerta {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 700px;
  height: 50px !important;
  font-size: 15px;
}
.sectionATA-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionBoton {
  width: 280px;
  height: 80px;
}
.sectionATA-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionBoton-botonsito {
  display: flex;
  justify-content: end;
}
.sectionATA-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionBoton-botonsito-botonCrearUsuario {
  color: rgb(0, 0, 0);
  border-radius: 15px;
  border: 0px;
  width: 240px;
  padding: 5px;
  font-size: 20px;
}
.sectionATA-arriba-actualizar-sectionButtonAlert-containerBotonCrear-sectionBoton-botonsito-botonCrearUsuario:hover {
  background: rgb(206, 203, 203);
  color: rgb(0, 0, 0);
}
.sectionATA-abajo {
  display: flex;
  justify-content: center;
}
.sectionATA-abajo-cardInfo {
  display: flex;
  justify-content: start;
  width: 870px;
  height: 70px;
  border-radius: 10px;
  opacity: 1;
  margin-right: 5px;
}
.sectionATA-abajo-cardInfo-cajitaInfo-botones {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.sectionATA-abajo-cardInfo-cajitaInfo-botones-linkCard {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  width: 220px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
}
.sectionATA-abajo-cardInfo-cajitaInfo-botones-linkCard:hover {
  background: rgb(31, 29, 29);
  color: rgb(255, 255, 255);
}

/*SE USA EN actualizarTransporte-admin.php desde ADMIN*/
/*se usa en crearCelador.php desde ADMIN*/
.sectionDobleCC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 100px !important;
}
.sectionDobleCC-arriba {
  display: flex;
  justify-content: center;
}
.sectionDobleCC-arriba-consultarr {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 830px !important;
  height: 450px !important;
  padding: 20px;
  background-color: #000000;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  opacity: 1;
}
.sectionDobleCC-arriba-consultarr-sectionFormulario {
  height: 350px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.sectionDobleCC-arriba-consultarr-sectionFormulario-label {
  color: white;
  width: 390px !important;
  margin-right: 10px;
}
.sectionDobleCC-arriba-consultarr-sectionFormulario-labelCorreo {
  color: white;
  width: 790px !important;
}
.sectionDobleCC-arriba-consultarr-sectionFormulario-fecha {
  color: white;
  width: 400px !important;
}
.sectionDobleCC-arriba-consultarr-sectionFormulario-fecha-divFecha {
  display: flex;
  flex-direction: row;
  width: 360px !important;
}
.sectionDobleCC-arriba-consultarr-sectionButtonAlert {
  height: 80px;
}
.sectionDobleCC-arriba-consultarr-sectionButtonAlert-containerBotonCrear {
  display: flex;
  flex-direction: row;
}
.sectionDobleCC-arriba-consultarr-sectionButtonAlert-containerBotonCrear-sectionAlerta {
  top: 0%;
  width: 550px;
  height: 90px;
}
.sectionDobleCC-arriba-consultarr-sectionButtonAlert-containerBotonCrear-sectionAlerta-alert {
  display: flex;
  width: 450px !important;
}
.sectionDobleCC-arriba-consultarr-sectionButtonAlert-containerBotonCrear-sectionAlerta-alert-alerta {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 700px;
  height: 50px;
  font-size: 15px;
}
.sectionDobleCC-arriba-consultarr-sectionButtonAlert-containerBotonCrear-sectionBoton {
  width: 230px;
  height: 80px;
  margin-top: 2px;
}
.sectionDobleCC-arriba-consultarr-sectionButtonAlert-containerBotonCrear-sectionBoton-botonsito {
  display: flex;
  justify-content: end;
}
.sectionDobleCC-arriba-consultarr-sectionButtonAlert-containerBotonCrear-sectionBoton-botonsito-botonCrearUsuario {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 15px;
  border: 0px;
  width: 240px;
  padding: 5px;
  font-size: 20px;
}
.sectionDobleCC-arriba-consultarr-sectionButtonAlert-containerBotonCrear-sectionBoton-botonsito-botonCrearUsuario:hover {
  background: rgb(206, 203, 203);
  color: rgb(0, 0, 0);
}
.sectionDobleCC-arriba-crearParking {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 830px !important;
  height: 250px !important;
  padding: 20px;
  background-color: #000000;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  opacity: 1;
}
.sectionDobleCC-arriba-crearParking-sectionFormulario {
  height: 100px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.sectionDobleCC-arriba-crearParking-sectionFormulario-label {
  color: white;
  width: 390px !important;
  margin-right: 10px;
}
.sectionDobleCC-arriba-crearParking-sectionButtonAlert {
  height: 80px;
}
.sectionDobleCC-arriba-crearParking-sectionButtonAlert-containerBotonCrear {
  display: flex;
  flex-direction: row;
}
.sectionDobleCC-arriba-crearParking-sectionButtonAlert-containerBotonCrear-sectionAlerta {
  top: 0%;
  width: 550px;
  height: 90px;
}
.sectionDobleCC-arriba-crearParking-sectionButtonAlert-containerBotonCrear-sectionAlerta-alert {
  display: flex;
  width: 550px !important;
}
.sectionDobleCC-arriba-crearParking-sectionButtonAlert-containerBotonCrear-sectionAlerta-alert-alerta {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 550px;
  height: 50px;
  font-size: 15px;
}
.sectionDobleCC-arriba-crearParking-sectionButtonAlert-containerBotonCrear-sectionBoton {
  width: 200px;
  height: 80px;
  margin-top: 2px;
}
.sectionDobleCC-arriba-crearParking-sectionButtonAlert-containerBotonCrear-sectionBoton-botonsito {
  display: flex;
  justify-content: end;
}
.sectionDobleCC-arriba-crearParking-sectionButtonAlert-containerBotonCrear-sectionBoton-botonsito-botonCrearUsuario {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 15px;
  border: 0px;
  width: 220px;
  padding: 5px;
  font-size: 20px;
}
.sectionDobleCC-arriba-crearParking-sectionButtonAlert-containerBotonCrear-sectionBoton-botonsito-botonCrearUsuario:hover {
  background: rgb(206, 203, 203);
  color: rgb(0, 0, 0);
}
.sectionDobleCC-abajo {
  display: flex;
  justify-content: center;
}
.sectionDobleCC-abajo-cardInfo {
  display: flex;
  justify-content: start;
  width: 830px;
  height: 70px;
  border-radius: 10px;
  opacity: 1;
  margin-right: 5px;
}
.sectionDobleCC-abajo-cardInfo-cajitaInfo-botones {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.sectionDobleCC-abajo-cardInfo-cajitaInfo-botones-linkCard {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255) !important;
  border: 0px;
  width: 220px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-size: 20px;
}
.sectionDobleCC-abajo-cardInfo-cajitaInfo-botones-linkCard:hover {
  background: rgb(31, 29, 29);
  color: rgb(255, 255, 255);
}

/*se usa en crearCelador.php desde ADMIN*/
/*

@mixin screenTamanio {
    .mostrarTexto::before {
        font-weight: bold;
        color: navy;
        content: "VUELVA AL TAMAÑO NORMAL DE SU ORDENADOR PARA VISUALIZAR MEJOR EL CONTENIDO";
    };
}

.mostrarTextoo{
    display: flex;
    justify-content: center;
    align-items: center;
    &-titulo::before{
        font-weight: bold;
        text-align: center;
        color: navy;
        content: "VUELVA AL TAMAÑO NORMAL DE SU ORDENADOR PARA VISUALIZAR MEJOR EL CONTENIDO";
    }
}

*/
/*
.mostrarTexto::before {
    @include screenTamaño();
};*/
/*RESPONSIVE*/
@media only screen and (max-height: 600px) and (min-height: 0px) {
  .titulosAdmin {
    display: none;
  }
  .mostrar {
    display: none;
  }
  .containerSeleccion {
    display: none;
  }
  .containerUsuariosAdmin {
    display: none;
  }
  .containerListadoUsuariosAdmin {
    display: none;
  }
  .sectionActualizarUserAdmin {
    display: none;
  }
  .sectionActualizarUserAdmin {
    display: none;
  }
  .sectionActualizarUserAdmin-abajo {
    display: none;
  }
  .containerCardMotoBiciAdmin {
    display: none;
  }
  .parkingCardMotoBiciAdmin {
    display: none;
  }
  .parkingBuscarParqueadero {
    display: none;
  }
  .listadoConsultarCTB {
    display: none;
  }
  .sectionATA {
    display: none;
  }
  .sectionDobleCC {
    display: none;
  }
  .mostrarTextoo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    width: 500px;
    margin-left: 300px;
  }
  .mostrarTextoo-titulo::before {
    font-weight: bold;
    text-align: center;
    color: rgb(1, 1, 244);
    content: "VUELVA AL TAMAÑO NORMAL DE SU ORDENADOR PARA VISUALIZAR MEJOR EL CONTENIDO";
  }
}
@media (max-width: 1100px) {
  .titulosAdmin {
    display: none;
  }
  .mostrar {
    display: none;
  }
  .containerSeleccion {
    display: none;
  }
  .containerUsuariosAdmin {
    display: none;
  }
  .containerListadoUsuariosAdmin {
    display: none;
  }
  .sectionActualizarUserAdmin {
    display: none;
  }
  .sectionActualizarUserAdmin {
    display: none;
  }
  .sectionActualizarUserAdmin-abajo {
    display: none;
  }
  .containerCardMotoBiciAdmin {
    display: none;
  }
  .parkingCardMotoBiciAdmin {
    display: none;
  }
  .parkingBuscarParqueadero {
    display: none;
  }
  .listadoConsultarCTB {
    display: none;
  }
  .sectionATA {
    display: none;
  }
  .sectionDobleCC {
    display: none;
  }
  .mostrarTextoo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 500px;
    margin-left: 100px;
    background-color: red;
  }
  .mostrarTextoo-titulo::before {
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    content: "VUELVA AL TAMAÑO NORMAL DE SU ORDENADOR PARA VISUALIZAR MEJOR EL CONTENIDO";
  }
}
@media only screen and (min-width: 1101px) and (max-width: 7920px) {
  .screenSize {
    display: none;
  }
  .mostrarTextoo {
    display: none;
  }
}

/*# sourceMappingURL=stylesAdmin.css.map */
